<div class="main-view-wrapper">
    <form class="form-horizontal" name="submitForm">
        <input type="text" class="form-control" ng-model="formData.activityId" hidden="hidden"/>
        
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="required">标题：</label></div>
            <div class="flex-1 control-field">
                <input  type="text" ng-model="formData.activityTitle" class="form-control" required />
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="">封面：</label></div>
            <div class="flex-1 control-field">
                <!-- 属性wu表示上传插件  ng-model绑定数据-->
                <div class="wu" wu ng-model="formData.activityCover" >
                    <input type="hidden" class="form-control file-upload" ng-model="formData.activityCover" name="userPhoto" >
                    <div class="pick-wrap">
                        <div class="pick" data-preview="true" >上传图片</div>
                    </div>
                    <div class="file-list">
                        
                    </div>
                </div>    
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title "><label class="required">活动内容：</label></div>
            <div class="flex-1 control-field" style="width:100%;">
                <textarea name="content" ng-model='formData.activityContent' meta-umeditor meta-umeditor-config="all_config"></textarea>
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="required">活动时间：</label></div>
            <div class="flex-1 control-field">
                <input  type="text" ng-model="formData.activityDate" class="form-control laydate-icon" laydate style="width:200px" />
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="required">活动地点：</label></div>
            <div class="flex-1 control-field ctrl-wrap">
                <input  type="text" ng-model="formData.activityAddress" class="form-control"  value=""  />
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="">活动经费(元/人)：</label></div>
            <div class="flex-1 control-field ctrl-wrap">
                <input  type="text" ng-model="formData.activityFunds" class="form-control"  value="0"  />
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="">主办单位：</label></div>
            <div class="flex-1 control-field ctrl-wrap">
                <input  type="text" ng-model="formData.activityHostunit" class="form-control"  value=""  />
            </div>
        </div>
        <div class="control-group flex  mb-7">
            <div class="w-10em control-title"><label class="">查看权限：</label></div>
            <div class="flex-1 control-field ctrl-wrap">
                <label class="checkbox-inline" >
                    <input type="checkbox"  value="{{readAuth.id}}" name="readAuth" ng-checked="readAuth._selected" ng-model="readAuth._selected" ng-change="activityReadAuthChange(readAuth)"> <span ng-bind="readAuth.text"></span>
                </label>
                <div>
                    <label class="checkbox-inline" ng-repeat="group in activityReadAuth" >
                        <input  type="checkbox"  value="{{group.id}}" name="activityReadAuth" ng-checked="group._selected" ng-model="group._selected" ng-change="activityReadAuthSync()"> <span ng-bind="group.text"></span>
                    </label>
                </div>
                    
                
            </div>
        </div>
        <div class="control-group flex mb-7">
            <div class="w-10em control-title"><label class="">报名权限：</label></div>
            <div class="flex-1 control-field ctrl-wrap">
                <label class="checkbox-inline" >
                    <input type="checkbox"  value="{{registerAuth.id}}" name="registerAuth" ng-checked="registerAuth._selected" ng-model="registerAuth._selected" ng-change="activityRegisterAuthChange(registerAuth)"> <span ng-bind="registerAuth.text"></span>
                </label>
                <div>
                    <label class="checkbox-inline" ng-repeat="group in activityRegisterAuth" >
                        <input type="checkbox"  value="{{group.id}}" name="activityRegisterAuth" ng-checked="group._selected" ng-model="group._selected" ng-change="activityRegisterAuthSync()"> <span ng-bind="group.text"></span>
                    </label>
                </div>
                    
            </div>
        </div>
        <div class="control-group flex  mb-7">
            <div class="w-10em control-title"><label class="">参加人员：</label></div>
            <div class="flex-1 control-field ctrl-wrap">
                <button type="button" class="btn btn-primary" ng-click="addMemberView()" data-toggle="modal" data-target="#addMemberView">添加</button>
                <a href="javascript:;" class="btn btn-default" ui-sref="activity.member({id:formData.activityId})" ng-if="!isNew">查看详情</a>
                <div class="table-wrapper w-80 mt-5">
                    <table class="table table-bordered table-condensed table-striped table-hover">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>公司/职位</th>
                                <th>商会身份</th>
                                <th style="width:120px;">操作</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in activityMemberList" ng-if="!item._delete">
                                <td><span ng-bind="item.realName"></span></td>
                                <td><span ng-bind="item.registerCompany"></span>/<span ng-bind="item.registerPosition"></span></td>
                                <td><span ng-bind="{'1':'游客','2':'同乡','3':'会员'}[item.memberType]"></span></td>
                                <td class="text-center">
                                    <button class="btn btn-danger btn-tiny" type="button" ng-click="removeMember(item)">移除</button>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title">&nbsp;</div>
            <div class="flex-1 control-field">
                <button class="btn btn-primary" type="button" ng-click="saveAndPublish()" ng-disabled="submitForm.$invalid || loading">保存并发布</button>
                <button class="btn btn-primary" type="button" ng-click="saveAsDraft()" ng-disabled="submitForm.$invalid || loading">存为草稿</button>
                <button class="btn btn-primary" type="button" ng-click="saveAndPreview()" ng-disabled="submitForm.$invalid">预览</button>
                <a class="btn btn-default" href="javascript:history.go(-1)">返回</a>
            </div>

        </div>
        
    </form>

    <!-- 添加报名人员 -->
    <div class="modal fade" id="addMemberView" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">添加</h4>
          </div>
          <div class="modal-body">
            <!-- 条件筛选 -->
            <form class="form-inline form-search mb-7">
                
                <div class="form-group m-5">
                    <label>关键字</label>
                    <input type="text" ng-model="queryModel.key" class="form-control" placeholder="姓名" />
                </div>
                <div class="form-group m-5">
                    <button type="button" class="btn btn-primary" ng-click="search()"><i class="fa fa-search mr-3"></i>查询</button>
                </div>
                    
            </form>

            <!-- 数据展示 -->
            <div class="table-wrapper">
              <table class="table table-bordered table-condensed table-striped table-hover">
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>公司/职位</th>
                    <th>商会身份</th>
                    <th>操作</th> 
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in dataList">
                    <td><span ng-bind="item.realName"></span></td>
                    <td><span ng-bind="item.registerCompany"></span>/<span ng-bind="item.registerPosition"></span></td>
                    <td><span ng-bind="{'1':'游客','2':'同乡','3':'会员'}[item.memberType]"></span></td>
                    <td class="text-center">
                        <button class="btn btn-primary btn-tiny" ng-click="addMember(item)" data-dismiss="modal">确认添加</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <!-- 数据分页 -->
            <div class="table-pager clearfix">
              <!-- 分页插件 -->
              <uib-pagination total-items="pagerOption.total" ng-model="queryModel.page" max-size="5" ng-change="query()" items-per-page="pagerOption.pagesize" boundary-links="true" class="pagination-md pull-right" rotate="false" num-pages="pagerOption.pages"></uib-pagination>
            </div>
          </div>
        </div>
      </div>
    </div> 
    
</div>
<div class="activity-detail">
    <div class="detail-content">
        <a href="javascrip:;" class="closeContent" ng-click="closeArticle()">&times;</a>
        <div class="activity-content">
            <h3 class="tac pb-6"><span ng-bind="formData.activityTitle"></span></h3>
            <div><img src="{{formData.activityCover}}"></div>
            <div id="container" class="pt-8"></div>
        </div>
        <!-- 活动信息 -->
        <div class="activity-info">
            <div class="info-detail flex">
                <div class="bg-yellow">活动时间</div>
                <div class="info-content flex-1">{{formData.activityDate}}</div>
            </div>
            <div class="info-detail flex">
                <div class="bg-yellow">活动地点</div>
                <div class="info-content flex-1">{{formData.activityAddress}}</div>
            </div>
            <div class="info-detail flex">
                <div class="bg-yellow">主办方</div>
                <div class="info-content flex-1">{{formData.activityHostunit}}</div>
            </div>
            <div class="info-btn">
                <a href="javascrip:;" class="btn-pd w-100 btn btn-yellow join-activity">我要参加</a>
            </div> 
        </div>
    </div>
</div>
    
