<div class="main-view-wrapper">
    
    <div class="panel2">
        <div class="panel-header"><span class="dib vam mr-7">企业信息</span><button class="vam btn btn-primary btn-tiny" data-toggle="modal" data-target="#companyModal" ng-click="addView()">添加</button></div>
        <div class="panel-body" ng-repeat="company in userCompanyList" mouse-over-leave hover="hover">
            <div class="list">
                <div class="item flex pt-3 pb-3">
                    <div class="w-6em tar">企业名称：</div>
                    <div class="flex-1"><span ng-bind="company.companyName"></span></div>
                </div>
                <div class="item flex pt-3 pb-3">
                    <div class="w-6em tar">职位：</div>
                    <div class="flex-1"><span ng-bind="company.companyPosition"></span></div>
                </div>
                <div class="item flex pt-3 pb-3">
                    <div class="w-6em tar">行业：</div>
                    <div class="flex-1"><span ng-bind="company.companyIndustry"></span></div>
                </div>
                <div class="item flex pt-3 pb-3">
                    <div class="w-6em tar">规模：</div>
                    <div class="flex-1"><span ng-bind="company.companyScale"></span></div>
                </div>
                <div class="item flex pt-3 pb-3">
                    <div class="w-6em tar">企业网站：</div>
                    <div class="flex-1"><a href="http://www.chuyingfund.com" class="c-primary" target="_blank" ng-bind="company.companyWebsite"></a></div>
                </div>
                <div class="item flex pt-3 pb-3">
                    <div class="w-6em tar">微信公众号：</div>
                    <div class="flex-1"><span ng-bind="company.companyWx"></span></div>
                </div>
                <div class="pt-3 pb-3" >
                    <a href="javascript:;" class="c-primary" data-toggle="modal" data-target="#companyModal" ng-click="editView(company)">编辑</a>
                    <a href="javascript:;" class="c-primary" ng-click="delCompany(company)">删除</a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel2">
        <div class="panel-header"><span class="dib vam mr-7">教育经历</span><button class="vam btn btn-primary btn-tiny" data-toggle="modal" data-target="#educationModal" ng-click="addView()">添加</button></div>
        <div class="panel-body">
            <div class="list">
                <div class="item pt-3 pb-3" ng-repeat="education in userEducationList" mouse-over-leave hover="hover">
                    <span class="mr-5"><u ng-bind="education.startDate"></u>-<u ng-bind="education.endDate"></u></span><span class="mr-5" ng-bind="education.educationSchool"></span><span class="mr-5" ng-bind="education.educationMajor"></span> 
                    <span class="" ng-show="hover">
                        <a href="javascript:;" class="c-primary" data-toggle="modal" data-target="#educationModal" ng-click="editView(education)">编辑</a>
                        <a href="javascript:;" class="c-primary" ng-click="delEducation(education)">删除</a>
                    </span>   
                </div>
            </div>
        </div>
    </div>

    <div class="panel2">
        <div class="panel-header"><span class="dib vam mr-7">工作经历</span><button class="vam btn btn-primary btn-tiny" data-toggle="modal" data-target="#workModal" ng-click="addView()">添加</button></div>
        <div class="panel-body">
            <div class="list">
                <div class="item pt-3 pb-3" ng-repeat="work in userWorkList" mouse-over-leave hover="hover">
                    <span class="mr-5"><u ng-bind="work.startDate"></u>-<u ng-bind="work.endDate"></u></span><span class="mr-5" ng-bind="work.workCompany"></span><span class="mr-5" ng-bind="work.workPosition"></span> 
                    <span class="" ng-show="hover">
                        <a href="javascript:;" class="c-primary" data-toggle="modal" data-target="#workModal" ng-click="editView(work)">编辑</a>
                        <a href="javascript:;" class="c-primary" ng-click="delWork(work)">删除</a>
                    </span>     
                </div>
                
            </div>
        </div>
    </div>
    
    <!-- 编辑企业 -->
    <div class="modal fade" id="companyModal" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">企业编辑</h4>
          </div>
          <div class="modal-body">
            <form action="" novalidate="novalidate" name="companyForm">
                <input type="hidden" name="userId" ng-model="formModel.companyUserId" >
                <input type="hidden" name="companyId" ng-model="formModel.companyId" >
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>企业名称：</span></div>
                    <div class="flex-1 control-field">
                        <input type="text" name="companyName" ng-model="formModel.companyName" required style="width:260px" class="dib" placeholder="企业名称">
                        <input type="text" name="companyPosition" ng-model="formModel.companyPosition" required style="width:120px" class="dib" placeholder="职位">
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>地址：</span></div>
                    <div class="flex-1 control-field">
                        <input type="text" name="companyName" ng-model="formModel.companyAddress" required style="">
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>行业：</span></div>
                    <div class="flex-1 control-field ">
                        <input type="text" name="companyName" ng-model="formModel.companyIndustry" required style="">
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>规模：</span></div>
                    <div class="flex-1 control-field">
                        <select ng-model="formModel.companyScale" required name="companyName" ng-options="option.id as option.name for option in CompanyScaleList" class="form-control"></select>
                        
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>企业网站：</span></div>
                    <div class="flex-1 control-field">
                        <input type="text" name="companyName" ng-model="formModel.companyWebsite" required style="">
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>企业公众号：</span></div>
                    <div class="flex-1 control-field">
                        <input type="text" name="companyName" ng-model="formModel.companyWx" required style="">
                    </div>
                </div>
                
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar">&nbsp;</div>
                    <div class="flex-1">
                        <button class="btn btn-primary" type="button" ng-click="saveCompany()" ng-disabled="companyForm.$invalid" data-dismiss="modal">保存</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- 编辑教育 -->
    <div class="modal fade" id="educationModal" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">教育经历编辑</h4>
          </div>
          <div class="modal-body">
            <form action="" novalidate="novalidate" name="educationForm">
                <input type="hidden" name="userId" ng-model="formModel.educationUserId" >
                <input type="hidden" name="companyId" ng-model="formModel.educationId" >
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>学校：</span></div>
                    <div class="flex-1 control-field">
                        <input type="text" name="educationSchool" ng-model="formModel.educationSchool" required >
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>专业：</span></div>
                    <div class="flex-1 control-field ">
                        <input type="text" name="educationMajor" ng-model="formModel.educationMajor" required style="">
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>开始时间：</span></div>
                    <div class="flex-1 control-field">
                        <input type="text" name="startDate" ng-model="formModel.startDate" required laydate class="laydate-icon">
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>结束时间：</span></div>
                    <div class="flex-1 control-field">
                        <input type="text" name="endDate" ng-model="formModel.endDate" required  laydate class="laydate-icon">
                    </div>
                </div>
                
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar">&nbsp;</div>
                    <div class="flex-1">
                        <button class="btn btn-primary" type="button" ng-click="saveEducation()" ng-disabled="educationForm.$invalid" data-dismiss="modal">保存</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- 工作教育 -->
    <div class="modal fade" id="workModal" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">工作经历编辑</h4>
          </div>
          <div class="modal-body">
            <form action="" novalidate="novalidate" name="workForm">
                <input type="hidden" name="userId" ng-model="formModel.workUserId" >
                <input type="hidden" name="companyId" ng-model="formModel.workId" >
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>公司：</span></div>
                    <div class="flex-1 control-field">
                        <input type="text" name="workSchool" ng-model="formModel.workCompany" required >
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>职位：</span></div>
                    <div class="flex-1 control-field ">
                        <input type="text" name="workMajor" ng-model="formModel.workPosition" required style="">
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>开始时间：</span></div>
                    <div class="flex-1 control-field">
                        <input type="text" name="startDate" ng-model="formModel.startDate" required laydate class="laydate-icon">
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar control-title"><span>结束时间：</span></div>
                    <div class="flex-1 control-field">
                        <input type="text" name="endDate" ng-model="formModel.endDate" required  laydate class="laydate-icon">
                    </div>
                </div>
                
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar">&nbsp;</div>
                    <div class="flex-1">
                        <button class="btn btn-primary" type="button" ng-click="saveWork()" ng-disabled="workForm.$invalid" data-dismiss="modal">保存</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

</div>
    
