a ,a:link{
    text-decoration: none;
}
html,body {
    height: 100%;
}
.control-label.required:before{
    content:" * ";
    color: red;
}
.table {
    margin-bottom: 10px;
}
.pagination {
    margin: 0;
}
.admin {
    background-color: #FFF;
}
.admin .header {
    height: 60px;
    border-bottom: 1px solid #ddd;
}
.admin .header-logo {

}
.admin .header-line {
    width: 1px;
    height: 32px;
    background-color: #d6d6d6;
    margin: 0px 15px;
    display: inline-block;
    vertical-align: middle;
}
.admin .header-title {
    font-size: 24px;
    color: #555;
    display: inline-block;
    vertical-align: middle;

}
.header-user {
    padding: 3px 25px;
    border: 1px solid #ddd;
    border-radius: 18px;
    color: #999;
    margin-top: 15px;
}
.admin .main {
    height: calc(100% - 60px);
    position: relative;

}
.admin .main>div {
    height: 100%;
    overflow: auto;
}
.admin .main-sidebar {
    width: 180px;
    /*background: #f9f9fa;*/
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    border-right: 1px solid #ddd;
}
.admin .main-content {
    margin-left: 180px;
    position: relative;
}
.admin .main-view {
    height: calc(100% - 40px);
    overflow: auto;
}
.admin .main-sidebar .headline ,.admin .main-content .headline{
    border-bottom: 1px solid #ddd;
    color: #999;
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
}
.admin .main-sidebar .headline {
    /*background: #3399e0;
    color: #FFF;*/
}
.admin .main-content .headline{
    /*background: #f5f5f5;*/
}
.sidebar {
    padding-bottom: 20px;
}
.sidebar dd a {
    position: relative;
    display: block;
    padding: .7em 1em;
    border-radius: 0;
    color: #777;
    -webkit-transition: .15s;
    transition: .15s;
}
.sidebar dl {
    /*border-bottom: 1px solid #ddd;*/
}
.sidebar dt {
    position: relative;
    display: block;
    padding: .7em 1em;
    background: #f1f1f1;
    color: #525255;
    border-bottom: 1px solid #e1e1e1;
}
.sidebar dd {
    border-bottom: 1px solid #e1e1e1;
}

.sidebar dd a{
    text-indent: 30px;
}


.sidebar dd.active> a ,.sidebar dd.active> a:hover{
    /*background: #3399e0;
    color: #fff;*/
    color: #3399e0;
    font-weight: bold;
}

.sidebar dd>a:hover {
    background: #f5f5f5;
}

.main-view-wrapper {
    padding: 10px;
}





