<div class="main-view-wrapper">
    <!-- 条件筛选 -->
    <form class="form-inline form-search">
        <div class="form-group">
            <label>名称</label>
            <input type="text" ng-model="queryModel.name" class="form-control"/>
        </div>
        <div class="form-group">
            <label>类别</label>
            <select  class="form-control" ng-options="option.id as option.name for option in Catlogs" ng-model="queryModel.catlog" ng-change="CatlogChange()">
                
            </select>
        </div>
        <div class="form-group">
            <label>是否置顶</label>
            <select name="isHead" ng-model="queryModel.isHead" class="form-control">
                <option value="">请选择</option>
                <option value="true">是</option>
                <option value="false">否</option>
            </select>
        </div>
        
        <button type="button" class="btn btn-primary" ng-click="search()"><i class="fa fa-search mr-3"></i>查询</button>
        <button type="button" class="btn btn-default" ng-click="clear()"><i class="fa fa-undo mr-3"></i>重置</button>
        
    </form>
    <div class="mt-5 mb-5">
        <a ui-sref="admin.create" class="btn btn-success" href="javascript:;"><i class="fa fa-plus mr-3"></i>新增</a>
    </div>
    <!-- 数据展示 -->
    <div class="table-wrapper">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th style="width:50px;">选择</th>
            <th>姓名</th>
            <th>权限</th>
            <th style="width:120px;">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in dataList">
            <td><input type="checkbox" name="cb" value="{{item.id}}"></td>
            <td><span ng-bind="item.name"></span></td>
            <td><span ng-bind="{'1':'超级管理员','0':'普通管理员'}[item.role]"></span></td>
            <td class="text-center">
              <a href="javascript:;" class="c-primary" ui-sref="admin.edit({id:item.id})">编辑</a>
              <a href="javascript:;" class="c-primary" ng-click="del(item.id)">删除</a>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <!-- 数据分页 -->
    <div class="table-pager clearfix">
      <ul class="pagination pull-left">
          <li>
              <a>共{{pagerOption.pages}}页,{{pagerOption.total}}条记录</a>
          </li>
      </ul>
      <!-- 分页插件 -->
      <uib-pagination total-items="pagerOption.total" ng-model="queryModel.page" max-size="10" ng-change="query()" items-per-page="pagerOption.pagesize" boundary-links="true" class="pagination-md pull-right" rotate="false" num-pages="pagerOption.pages"></uib-pagination>
    </div>

</div>
    