<div class="main-view-wrapper">
    <!-- 条件筛选 -->
    <form class="form-inline form-search" style="margin-bottom: 7px;">
        <div class="form-group m-5">
            <label>资源栏目:</label>
            <select  class="form-control" ng-options="option.typeId as option.typeName for option in articleTypeList" ng-model="queryModel.typeId" ng-change="articleTypeChange()">
            </select>
        </div>
        <div class="form-group m-5">
            <label>查看权限:</label>
            <select  class="form-control" ng-options="option.id as option.text for option in ReadAuthList" ng-model="queryModel.articleReadAuth" ng-change="articleReadAuthChange()">
            </select>
        </div>
        <div class="form-group m-5">
            <label>关键字:</label>
            <input type="text" ng-model="queryModel.key" class="form-control" placeholder="标题" />
        </div>
        <div class="form-group m-5">
            <button type="button" class="btn btn-primary" ng-click="search()"><i class="fa fa-search mr-3"></i>查询</button>
            <button type="button" class="btn btn-default" ng-click="clear()"><i class="fa fa-undo mr-3"></i>重置</button>
        </div>
    </form>
    
    <div class="mt-5 mb-5">
        <a ui-sref="article.edit" class="btn btn-success vat" href="javascript:;"><i class="fa fa-plus mr-3"></i>新建</a>
        <a  class="btn btn-primary vat" href="javascript:;" ng-click="articleTypeView()" data-target="#articleTypeView" data-toggle="modal"><i class="fa fa-trash mr-3"></i>类目管理</a>
        <a  class="btn btn-danger vat" href="javascript:;" ng-click="batchDel()" ><i class="fa fa-trash mr-3"></i>批量删除</a>
    </div>
    <!-- 数据展示 -->
    <div class="table-wrapper">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th style="width:50px;"><input type="checkbox" name="cbAll" ng-model="cbAll" ng-checked="cbAll" ng-change="cbAllChange()"></th>
            <th>标题</th>
            <th>创建时间</th>
            <th>类别</th>
            <th>查看权限</th>
            <th>状态</th>
            <th>置顶</th>
            <th style="width:150px;">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in dataList">
            <td><input type="checkbox" name="cb" value="{{item.userId}}" ng-checked="item._selected" ng-model="item._selected"></td>
            <td><span ng-bind="item.articleTitle"></span></td>
            <td><span ng-bind="item.articleDate"></span></td>
            <td><span ng-bind="item.articleTypeName"></span></td>
            <td>
                <span ng-repeat="(key,value) in item.articleReadAuth.split(',')">
                    <i ng-if="$index!=0">、</i><u ng-bind="{'1':'同乡','2':'会员','3':'服务组','4':'到期会员'}[value]"></u>
                </span>
            </td>
            <td><span ng-bind="{'0':'草稿','1':'发布中'}[item.articleStatus]"></span></td>
            <td>
                <a href="javascript:;" class="c-primary" ng-click="topAction(item)" ><span ng-bind="{'0':'置顶','1':'取消置顶'}[item.top]"></span></a>
            </td>
            <td class="text-center">

              <a href="javascript:;" class="c-primary" ui-sref="article.member({id:item.articleId})">统计</a>
              <a href="javascript:;" class="c-primary" ui-sref="article.edit({id:item.articleId})">编辑</a>
              <a href="javascript:;" class="c-primary" ng-click="articlePublish(item)"><u ng-bind="{'0':'发布','1':'取消','2':''}[item.articleStatus]"></u></a>
              <a href="javascript:;" class="c-primary" ng-click="del(item.articleId)">删除</a>
            </td>
          </tr>
          
        </tbody>
      </table>
      
    </div>
    <!-- 数据分页 -->
    <div class="table-pager clearfix">
      <ul class="pagination pull-left">
          <li>
              <a>共{{pagerOption.pages}}页,{{pagerOption.total}}条记录</a>
          </li>
      </ul>
      <!-- 分页插件 -->
      <uib-pagination total-items="pagerOption.total" ng-model="queryModel.page" max-size="10" ng-change="query()" items-per-page="pagerOption.pagesize" boundary-links="true" class="pagination-md pull-right" rotate="false" num-pages="pagerOption.pages"></uib-pagination>
    </div>
    
    <!-- 编辑类别 -->
    <div class="modal fade" id="articleTypeView" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">管理类目</h4>
          </div>
          <div class="modal-body">
            <div class="bb mb-7">
                <div class="pt-5 pb-5" ng-if="articleTypeList.length">
                    <div class="inner-tag-wrapper" ng-repeat="item in articleTypeList" >
                        <span class="inner-tag-name" ng-click="selectArticleType(item)">{{item.typeSort}}.{{item.typeName}}</span>
                        <a href="javascript:;" class="inner-tag-close" ng-click="delArticleType(item.typeId)">x</a>
                    </div>
                </div>
            </div>
            <form action="" name="articleTypeForm">
                <input  type="hidden" ng-model="articleTypeModel.typeId" class="form-control" />
                <div class="control-group flex  mb-7">
                    <div class="w-10em control-title"><label class="required">标题：</label></div>
                    <div class="flex-1 control-field">
                        <input  type="text" ng-model="articleTypeModel.typeName" class="form-control" required />
                    </div>
                </div>
                <div class="control-group flex  mb-7">
                    <div class="w-10em control-title"><label class="">排序：</label></div>
                    <div class="flex-1 control-field">
                        <input  type="text" ng-model="articleTypeModel.typeSort" class="form-control" placeholder="0" />
                        <div>(数字越大越前)</div>
                    </div>
                </div>
                <div class="control-group flex  mb-7">
                    <div class="w-10em control-title"><label class="required">图标：</label></div>
                    <div class="flex-1 control-field">
                        <label class="radio-inline" style="width: 50px;margin-left: 10px;">
                            <input type="radio"  value="../assets/images/mobile/fellowship/1.png" ng-model="articleTypeModel.typeIcon" name="typeIcon"> <img style="width:20px" src="../assets/images/mobile/fellowship/1.png" alt="">
                        </label>
                        <label class="radio-inline" style="width: 50px;">
                            <input type="radio"  value="../assets/images/mobile/fellowship/2.png" ng-model="articleTypeModel.typeIcon" name="typeIcon"> <img style="width:20px" src="../assets/images/mobile/fellowship/2.png" alt="">
                        </label>
                        <label class="radio-inline" style="width: 50px;">
                            <input type="radio"  value="../assets/images/mobile/fellowship/3.png" ng-model="articleTypeModel.typeIcon" name="typeIcon"> <img style="width:20px" src="../assets/images/mobile/fellowship/3.png" alt="">
                        </label>
                        <label class="radio-inline" style="width: 50px;">
                            <input type="radio"  value="../assets/images/mobile/fellowship/4.png" ng-model="articleTypeModel.typeIcon" name="typeIcon"> <img style="width:20px" src="../assets/images/mobile/fellowship/4.png" alt="">
                        </label>
                        <label class="radio-inline" style="width: 50px;">
                            <input type="radio"  value="../assets/images/mobile/fellowship/5.png" ng-model="articleTypeModel.typeIcon" name="typeIcon"> <img style="width:20px" src="../assets/images/mobile/fellowship/5.png" alt="">
                        </label>
                        <label class="radio-inline" style="width: 50px;">
                            <input type="radio"  value="../assets/images/mobile/fellowship/6.png" ng-model="articleTypeModel.typeIcon" name="typeIcon"> <img style="width:20px" src="../assets/images/mobile/fellowship/6.png" alt="">
                        </label>
                        <label class="radio-inline" style="width: 50px;">
                            <input type="radio"  value="../assets/images/mobile/fellowship/7.png" ng-model="articleTypeModel.typeIcon" name="typeIcon"> <img style="width:20px" src="../assets/images/mobile/fellowship/7.png" alt="">
                        </label>
                        <label class="radio-inline" style="width: 50px;">
                            <input type="radio"  value="../assets/images/mobile/fellowship/8.png" ng-model="articleTypeModel.typeIcon" name="typeIcon"> <img style="width:20px" src="../assets/images/mobile/fellowship/8.png" alt="">
                        </label>
                        <label class="radio-inline" style="width: 50px;">
                            <input type="radio"  value="../assets/images/mobile/fellowship/9.png" ng-model="articleTypeModel.typeIcon" name="typeIcon"> <img style="width:20px" src="../assets/images/mobile/fellowship/9.png" alt="">
                        </label>
                        <label class="radio-inline" style="width: 50px;">
                            <input type="radio"  value="../assets/images/mobile/fellowship/10.png" ng-model="articleTypeModel.typeIcon" name="typeIcon"> <img style="width:20px" src="../assets/images/mobile/fellowship/10.png" alt="">
                        </label>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">&nbsp;</label></div>
                    <div class="flex-1 control-field">
                        <button class="btn btn-primary" type="button" ng-click="saveArticleType()" ng-disabled="articleTypeForm.$invalid">保存</button>
                        <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </form>
            
          </div>
        </div>
      </div>
    </div> 

</div>
    