<div class="main-view-wrapper">
    <!-- 条件筛选 -->
    <form class="form-inline form-search" style="margin-bottom: 7px;">
        
        <div class="form-group m-5">
            <input type="text" ng-model="queryModel.key" class="form-control" placeholder="姓名" />
        </div>
        <div class="form-group m-5">
            <button type="button" class="btn btn-primary" ng-click="search()"><i class="fa fa-search mr-3"></i>查询</button>
            <button type="button" class="btn btn-default" ng-click="clear()"><i class="fa fa-undo mr-3"></i>重置</button>
        </div>
          
  
    </form>
    <!-- <div class="mt-5 mb-5">
        <a ui-sref="activity.create" class="btn btn-success vat" href="javascript:;"><i class="fa fa-plus mr-3"></i>创建活动</a>
    </div> -->
    <!-- 数据展示 -->
    <div class="table-wrapper">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <caption class="tac fz-x-large"><u ng-bind="activityModel.articleTitle"></u></caption>
        <thead>
          <tr>
            <th>头像</th>
            <th>姓名</th>
            <th>公司/职位</th>
            <th>商会身份</th>
            <th>电话</th>
          </tr>
        </thead>
        <tbody>
          
          <tr ng-repeat="item in dataList">
            <td style="vertical-align: middle;"><span ng-if="item.userPhoto"><img ng-src="{{item.userPhoto}}" alt="item.realName" style="width:80px;"></span></td>
            <td style="vertical-align: middle;"><span ng-bind="item.realName"></span></td>
            <td style="vertical-align: middle;"><span ng-bind="item.registerCompany"></span>/<span ng-bind="item.registerPosition"></span></td>
            <td style="vertical-align: middle;"><span ng-bind="{'1':'游客','2':'同乡','3':'会员'}[item.memberType]"></span></td>
            <td style="vertical-align: middle;"><span ng-bind="item.userPhone"></span></td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <!-- 数据分页 -->
    <div class="table-pager clearfix">
      <ul class="pagination pull-left">
          <li>
              <a>共{{pagerOption.pages}}页,{{pagerOption.total}}条记录</a>
          </li>
      </ul>
      <!-- 分页插件 -->
      <uib-pagination total-items="pagerOption.total" ng-model="queryModel.page" max-size="10" ng-change="query()" items-per-page="pagerOption.pagesize" boundary-links="true" class="pagination-md pull-right" rotate="false" num-pages="pagerOption.pages"></uib-pagination>
    </div>

</div>
    