<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>新昌商会</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <!-- 可更改 -->
    <meta name="keywords" content="新昌商会">
    <meta name="description" content="新昌商会">
    <!-- 百度统计 -->
    <meta name="baidu-site-verification" content="j4d5H6qJuY"/>
    <meta name="share-title" content=""/>
    <meta name="share-img" content=""/>
    <meta name="share-desc" content=""/>
    <meta name="share-url" content=""/>
    <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon-precomposed.png">
    
    <link rel="stylesheet" href="../assets/css/base_m.css">
    <link rel="stylesheet" href="../assets/css/mobile/app.css">
    <link rel="stylesheet" href="../assets/css/mobile/contact-list.css">
    <script src="../assets/js/mobile/config.js"></script>
  
    <style>
    
    </style>
    
  </head>
  <body class="bg m-contact-list" style="font-size: 14px;">
    <div class="m-main view-main">
        <!-- header -->
        <div class="s-header headroom flex">
            <div class="ellipsis flex-1">通讯录</div>
            <button type="button" class="btn-search r-8" data-router="/search">
                <i class="if icon-search m-0"></i>
            </button>
        </div>
        <!-- 搜索标题 -->
        <div class="s-header s-header-result flex aic headroom dn">
            <div class="w-3em btn-cancel-search">
                <i class="if icon-angle-left"></i>
            </div>
            <div class="flex-1 keyword"></div>
            <div class="w-3em"></div>
        </div>

        <div class="padding-header"></div>
        
        <!-- 列表头部 -->
        <div class="s-filter">
            <div class="header flex space-around">
                <div class="filter-title" data-name="job">
                    <var class="filter-name">职务</var>
                    <i class="if">
                        <span class="down">
                            <img src="../assets/images/mobile/icon/trangle.png">
                        </span>
                        <span class="up">
                            <img src="../assets/images/mobile/icon/trangle1.png">
                        </span>
                    </i>
                </div>
                <div class="filter-title" data-name="home">
                    <var class="filter-name home-name">老家</var>
                    <i class="if">
                        <span class="down">
                            <img src="../assets/images/mobile/icon/trangle.png">
                        </span>
                        <span class="up">
                            <img src="../assets/images/mobile/icon/trangle1.png">
                        </span>
                    </i>
                </div>
                <div class="filter-title" data-name="industry">
                    <var class="filter-name">行业</var>
                    <i class="if">
                        <span class="down">
                            <img src="../assets/images/mobile/icon/trangle.png">
                        </span>
                        <span class="up">
                            <img src="../assets/images/mobile/icon/trangle1.png">
                        </span>
                    </i>
                </div>
                <div class="filter-title" data-name="group">
                    <var class="filter-name">分组</var>
                    <i class="if">
                        <span class="down">
                            <img src="../assets/images/mobile/icon/trangle.png">
                        </span>
                        <span class="up">
                            <img src="../assets/images/mobile/icon/trangle1.png">
                        </span>
                    </i>
                </div>
            </div>
            <div class="padding-header"></div>
            <div class="content-wrap">
                <ul class="job-list" data-name="job">    
                </ul>
                <div class="home-list por" data-name="home">
                    <div class="poa home-city"></div>
                    <div class="poa home-county"></div>
                    <div class="poa home-district"></div>
                    <div class="poa b-8 r-0 pt-6 home-btn">
                        <a href="javascript:;" class="btn-yellow btn confirm-choose">确定</a>
                        <a href="javascript:;" class="btn-gray btn cancle-choose">取消</a>
                    </div>      
                </div>
                <ul class="industry-list" data-name="industry">     
                </ul>
                <ul class="group-list" data-name="group">   
                </ul>
            </div>
        </div>
        
        <!-- 通讯录信息列表 -->
        <!-- 无通讯录显示时，将data-page设置为0 -->
        <div class="contact-content">
            <div class="panel pr-0 pb-0 mb-0 pt-0 contact-list" data-page="">
                <!-- <div class="contact-item pr-6 bb pb-3 c-6">
                    <div class="pt-6">
                        <span class="c-text fz-medium pr-4">俞春雷</span>
                        <span class="pr-5">金融小组</span>
                        <span class="icon-img"><img src="../assets/images/mobile/icon/crown1.png"></span>
                    </div>
                    <div class="pt-6">
                        <span class="pr-5">浙江九鼎投资集团有限公司</span>
                        <span>董事会成员</span>
                    </div>
                    <div class="pt-6">
                        <span class="pr-5">联系方式 ：15158132132</span>
                        <span>老家：羽林街道</span>
                    </div>
                    <div class="pt-6 pb-6">
                        <span class="pr-5">邮箱 ：15158132132@qq.com</span>
                    </div>
                </div> -->
               
                
            </div>

            <!-- data-template 模板ID ；data-total-page 总页数; form.action ajax提交路径，隐藏域为参数-->
            <div class="infinite-loading" type="json" data-template="contact-list" data-list-wrap=".contact-list" data-hidden="true">
                <form class="ajax-form" action="../api/mobile/contact.json" data-ajax-method="get">
                    <input type="hidden" name="type" value="" />
                    <input type="hidden" name="page" value="1" data-name="offset" />
                    <input type="hidden" name="keyword" value="" />
                    <input type="hidden" name="job" class="filter-type" value="">
                    <input type="hidden" name="home" class="filter-type" value="">
                    <input type="hidden" name="industry" class="filter-type"  value="">
                    <input type="hidden" name="group" class="filter-type" value="">
                </form>
            </div>

        </div>

        <!-- footer -->
        <div class="padding-footer-index"></div>
        <div class="s-footer s-footer-index flex space-around aic c-a tac bgc-w">
            <a class="db w-4em" href="index.html">
                <i class="icon-footer pl-2">
                    <img src="../assets/images/mobile/icon/index.png" style="width:24px;">
                </i>
                <div>首页</div>
            </a>
            <a class="db w-4em active auth-link" href="contact-list.html">
                <i class="icon-footer">
                    <img src="../assets/images/mobile/icon/contact1.png">
                </i>
                <div>通讯录</div>
            </a>
            <a class="db w-4em" href="member.html">
                <i class="icon-footer">
                    <img src="../assets/images/mobile/icon/member.png">
                </i>
                <div>会员展示</div>
            </a>
            <a class="db w-4em" href="my.html">
                <i class="icon-footer">
                    <img src="../assets/images/mobile/icon/my.png">
                </i>
                <div>我的</div>
            </a>
        </div>
       
    </div>

     <!-- 搜索页面编辑 -->
    <div class="view-wrap">
        <div class="view view-search">
            <div class="view-content">
                <form class="s-header flex form-search" native="" novalidate="novalidate">
                    <div class="w-3em" onclick="history.back()"><i class="if icon-angle-left"></i></div>
                    <div class="flex-1 ctrl-wrap lh-10 mt-4 c-text">
                        <input type="search" placeholder="请输入关键字" name="keyword">
                        <i class="if icon-search poa l-10 t-7 c-8 fz-large"></i>
                    </div>
                    <button type="submit" class="w-3em btn-text c-f">
                        <span>搜索</span>
                    </button>
                </form>
                <div class="padding-header"></div>
                <div class="panel">
                    <div class="pb-6 bb fz-medium">搜索历史</div>
                    <ul class="search-history-list"></ul>
                    <a href="javascript:" class="db tac pt-6 clear-search-history">清空搜索记录</a>
                </div>
            </div>
        </div>
    </div>


    <script type="text/html" id="contact-list">
        <a class="contact-item db pr-6 bb pb-3 pt-3 c-6" data-id={{userId}} href="member-detail.html">
            <div class="pt-6 por">
                <span class="c-text fz-medium pr-4">{{realName}}</span>
                {{if positionIcon}}
                <span class="icon-img"><img src="{{positionIcon}}"></span>
                {{/if}}
                {{if groupStr}}
                <span class="memberGroup" {{if positionIcon}}style="margin-left: 30px"{{/if}}>
                    {{each _groupName as value}}
                    <span class="tag">{{value}}</span>
                    {{/each}}
                </span>
                {{/if}}
            </div>
            <div class="pt-6">
                <span class="pr-5">{{registerCompany}}</span>
                <span>{{registerPosition}}</span>
            </div>
            <div class="pt-6">
                <span class="pr-5">联系方式：{{userPhone}}</span>
                <span>老家：{{userAddress}}</span>
            </div>
            <div class="pt-6 pb-6">
                <span class="pr-5">邮箱：{{userEmail}}</span>
            </div>
        </a>
    </script>

    <script src="../vendor/jquery/jquery-2.1.4.min.js"></script>
    <script src="../assets/js/template.js"></script>
    <script src="../assets/js/city-picker.data.js"></script>
    <script src="../assets/js/dm.base.js"></script>
    <script src="../assets/js/mobile/api.js"></script>
    <script src="../assets/js/mobile/contact-list.js"></script>
    <script type="text/javascript">
        $('[data-name="offset"]').val(1);
    </script>

  </body>
</html>