<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>雏鹰升学</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="/public/assets/css/base_m.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/pc/chuyingentrance.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/pc/my-guid.css">
  <script type="text/javascript">
    var serverData = {
    		 /* userData:{
            id: 9,
            name: "Damon5",
            location: null,
            subjectId: "4",
            teachGrades: "1,2"
          } */
          userData:{
        	  id: "[[${session.teacher eq null?null:session.teacher.id}]]",
              name: "[[${session.teacher eq null?null:session.teacher.name}]]",
              location: "[[${session.teacher eq null?null:session.teacher.location}]]",
              subjectId: "[[${session.teacher eq null?null:session.teacher.subjectId}]]",
              subjectName: "[[${session.teacher eq null?null:session.teacher.subjectName}]]",
              teachGrades: "[[${session.teacher eq null?null:session.teacher.teachGrades}]]"
          }
    }
  </script>
</head>
<body class="bg">
  <!-- 头部 -->
  <div class="header">
    <div class="header-content clearfix">
      <a class="header-logo" href="index.html"></a>
      <div class="header-nav">
        <ul class="header-nav-list">
          <li class="nav-title"> 
            <a href="javascript:;" class="">组卷</a>
            <div class="nav-content">
              <a href="manual-paper.html">手工组卷</a>
              <a href="auto-paper.html">智能组卷</a>
            </div>
          </li>
          <li class="nav-title">
            <a href="javascript:;">试题宝库</a>
            <div class="nav-content nav-subject-list">
              <div class="flex flex-center flex-wrap">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <a class="header-user" href="my-paper.html">
        <span class="user-avatar"><img src="./assets/images/pc/icon/avatar.png"></span>
        <span th:text="${session.teacher eq null?'':session.teacher.name}" class="user-info"></span>
      </a>
    </div>
  </div>
  
  <!-- 主要内容 -->
  <div class="main-container clearfix">
    <div class="guid-potho"></div>
    <div class="main-content">
      <div class="fz-x-large">
        <span>欢迎您：</span>
        <span class="pl-5 pr-5 c-yellow" th:text="${session.teacher.name}">齐峰</span>
        <span>老师！</span>
      </div>
      <div class="guid-form">
        <form class="ajax-form my-guid-form" action="/api/teacher/completeGuide" method="post">
          <input type="hidden" name="id" th:value="${session.teacher.id}">
          <!-- 学校 -->
          <div class="form-group">
            <div class="tac pb-13">您所执教的学校/单位是？</div>
            <div class="formControl"><input type="text" name="teachSchool" placeholder="请输入您所执教的学校/单位" required></div>
          </div>
          <!-- 学科 -->
          <div class="form-group">
            <div class="tac pb-13">您所执教的学科？</div>
            <div class="formControl subject-list">
              <!-- <label class="tac subject-type">
                <div class="subject-img por">
                  <input type="radio" name="subjectName" value="数学">
                  <div class="subject-show">
                    <img class="subject-hide" src="./assets/images/pc/subject/math.png">
                    <img class="subject-active" src="./assets/images/pc/subject/math1.png">
                    <div class="subject-name">数学</div>
                  </div>
                </div>
              </label> -->
            </div>
          </div>
          
          <!-- 年级 -->
          <div class="form-group">
            <div class="tac pb-13">您所教的年级（可多选）？</div>
            <div class="formControl">
              <label class="class-type tac">
                <div class="class-img por">
                  <input type="checkbox" name="teachGrades" value="1">
                  <div class="class-show">
                    <img class="class-hide" src="./assets/images/pc/class/freshman.png">
                    <img class="class-active" src="./assets/images/pc/class/freshman1.png">
                    <div class="class-name pt-6">高一</div>
                  </div>
                </div>
              </label>
              <label class="class-type tac">
                <div class="class-img por">
                  <input type="checkbox" name="teachGrades" value="2">
                  <div class="class-show">
                    <img class="class-hide" src="./assets/images/pc/class/senior.png">
                    <img class="class-active" src="./assets/images/pc/class/senior1.png">
                    <div class="class-name pt-6">高二</div>
                  </div>
                </div>
              </label>
              <label class="class-type tac">
                <div class="class-img por">
                  <input type="checkbox" name="teachGrades" value="3">
                  <div class="class-show">
                    <img class="class-hide" src="./assets/images/pc/class/grade.png">
                    <img class="class-active" src="./assets/images/pc/class/grade1.png">
                    <div class="class-name pt-6">高三</div>
                  </div>
                </div>
              </label>
            </div>
          </div>

          <!-- 所在城市 -->
          <div class="form-group">
            <div class="tac pb-13">您所在的城市？</div>
            <div class="formControl location-city por">
              <input type="hidden" name="location" required />
              <input type="hidden" name="province" required />
              <input type="hidden" name="city" required />
              <div class="city-name">请选择所在城市</div>
              <div class="location-list">
                <ul class="province-list"></ul>
                <ul class="city-list"></ul>
              </div>
            </div>
          </div>

          <div class="form-group tac">
            <button class="finish-btn">完成引导</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- 底部 -->
  <div class="footer">
    <div class="footer-container clearfix">
      <div class="footer-item">
        <h2>现在开始</h2>
        <ul>
          <li><a href="javascript:;">梦想发起</a></li>
          <li><a href="javascript:;">账号注册</a></li>
          <li><a href="javascript:;">账号登录</a></li>
        </ul>
      </div>
      
      <div class="footer-item">
        <h2>关于我们</h2>
        <ul>
          <li><a href="javascript:;">FAQ</a></li>
          <li><a href="javascript:;">用户引导</a></li>
          <li><a href="javascript:;">联系我们</a></li>
        </ul>
      </div>

      <div class="footer-item">
        <h2>法律</h2>
        <ul>
          <li><a href="javascript:;">服务条款</a></li>
          <li><a href="javascript:;">隐私政策</a></li>
        </ul>
      </div>

      <div class="footer-item">
        <ul class="footer-infor">
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/phone.png"></span>
            <span>0571-88489062</span>
          </li>
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/message.png"></span>
            <span>bp@chuyingfund.cn</span>
          </li>
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/weibo.png"></span>
            <span>雏鹰网</span>
          </li>
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/history.png"></span>
            <span>周一至周五9:00-18:00 </span>
          </li>
        </ul>
      </div>
      <div class="footer-QRcode">
        <img src="./assets/images/pc/icon/QRcode.jpg">
        <p>扫码关注微信公众号</p>
      </div>

    </div>

    <span class="copyright">Copyright © 2016 杭州树德科技有限公司 浙ICP备15019518号-2.</span>
  </div>

  <script type="text/html" id="subjectList">
    <label class="tac subject-type">
      <div class="subject-img por">
        <input type="radio" name="subjectId" value="{{subjectId}}">
        <div class="subject-show">
          <img class="subject-hide" src="./assets/images/pc/subject/{{subjectShort}}.png">
          <img class="subject-active" src="./assets/images/pc/subject/{{subjectShort}}1.png">
          <div class="subject-name">{{subjectName}}</div>
        </div>
      </div>
    </label>
  </script>

  <!-- js文件 -->
  <script src="./assets/js/dm.api.js"></script>
  <script src="/public/vendor/jquery/jquery-2.1.4.min.js"></script>
  <script src="/public/assets/js/dm.base.js"></script>
  <script src="/public/assets/js/template.js"></script>
  <script src="./assets/js/city-picker.data.js"></script>
  <script src="./assets/js/pc.js"></script>
  <script src="./assets/js/pc/my-guid.js"></script>

</body>
</html>