<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>雏鹰升学</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="/public/assets/css/base_m.css">
  <link rel="stylesheet" href="/public/vendor/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/pc/chuyingentrance.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/pc/my-paper.css">

  <script type="text/javascript">
    var serverData = {
    		 /* userData:{
            id: 9,
            name: "Damon5",
            location: null,
            subjectId: "4",
            teachGrades: "1,2"
          } */
          userData:{
        	  id: "[[${session.teacher eq null?null:session.teacher.id}]]",
              name: "[[${session.teacher eq null?null:session.teacher.name}]]",
              location: "[[${session.teacher eq null?null:session.teacher.location}]]",
              subjectId: "[[${session.teacher eq null?null:session.teacher.subjectId}]]",
              subjectName: "[[${session.teacher eq null?null:session.teacher.subjectName}]]",
              teachGrades: "[[${session.teacher eq null?null:session.teacher.teachGrades}]]"
          }
    }
  </script>
</head>
<body class="bg">
  <!-- 头部 -->
  <div class="header">
    <div class="header-content clearfix">
      <a class="header-logo" href="index.html"></a>
      <div class="header-nav">
        <ul class="header-nav-list">
          <li class="nav-title"> 
            <a href="javascript:;" class="">组卷</a>
            <div class="nav-content">
              <a href="manual-paper.html">手工组卷</a>
              <a href="auto-paper.html">智能组卷</a>
            </div>
          </li>
          <li class="nav-title">
            <a href="javascript:;">试题宝库</a>
            <div class="nav-content nav-subject-list">
              <div class="flex flex-center flex-wrap">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <a class="header-user" href="my-paper.html">
        <span class="user-avatar"><img src="./assets/images/pc/icon/avatar.png"></span>
        <span th:text="${session.teacher eq null?'':session.teacher.name}" class="user-info"></span>
      </a>
    </div>
  </div>

  <div class="main-container flex">
    <div class="paper-left">
      <div class="user-info">
        <div class="pb-8">
          <img src="./assets/images/pc/icon/user.png"/>
          <span class="pl-6 fz-large user-name" th:text="${session.teacher eq null?'':session.teacher.name}"></span>
        </div>
        <div class="pb-5 c-6">
          <span class="pr-6 user-subject" th:text="${session.teacher.subjectName}+老师"></span>
          <span class="location-address"></span>
        </div>
        <div class="pb-5 c-6">
          <span class="teach-grades"></span>
        </div>
      </div>
      <div class="pt-8">
        <a href="auto-paper.html" class="make-paper-btn bg-blue">智能组卷</a>
        <!-- <a href="javascript:;" class="make-paper-btn bg-yellow">经典试卷</a> -->
      </div>
    </div>
    <div class="paper-right flex-1">
      <div class="tab-title flex">
        <div class="tab-title-paper active" data-tab="paper">
          <img class="paper-hide" src="./assets/images/pc/my/my-paper.png">
          <img class="paper-active" src="./assets/images/pc/my/my-paper1.png">
          <span>我的试卷</span>
        </div>
        <div class="tab-title-question flex-1" data-tab="question">
          <img class="question-hide" src="./assets/images/pc/my/my-question.png">
          <img class="question-active" src="./assets/images/pc/my/my-question1.png">
          <span>我的题目</span>
        </div>
      </div>
      <div class="tab-content">
        <!-- 我的试卷 -->
        <div class="tab-content-paper" data-tab="paper">
          <div class="search-paper flex">
            <!-- <div class="form-group">
              <label>来源：</label>
              <select name="paperSrc">
                <option value="0">全部</option>
                <option value="1">原创</option>
                <option value="2">历年高考试题</option>
              </select>
            </div> -->
            <div class="form-group flex-1">
              <label>创建时间：</label>
              <input type="text" name="startDate" class="laydate-icon" id="start-date"/>
              <span>—</span>
              <input type="text" name="endDate" class="laydate-icon" id="end-date"/>
              <button class="search-paper-btn bg-blue">查询</button>
            </div>
          </div>
          <div class="paper-list">
            <div class="paper-list-header flex">
              <div class="w-50">试卷名称</div>
              <div class="flex-1 clearfix">
                <div class="fl w-40">来源</div>
                <div class="fl w-60">操作</div>
              </div>
            </div>
            <div class="paper-list-content">
              <!-- <div class="paper-item flex">
                <div class="w-50 paper-name">2016年普通高等学校招生全国统一考试（北京卷）</div>
                <div class="flex-1 clearfix">
                  <div class="fl w-40"> 我创建的</div>
                  <div class="fl w-60 operat">
                    <a href="javascript:;" class="paper-print">打印</a>
                    <a href="javascript:;" class="paper-del">删除</a>
                  </div>
                </div>
              </div> -->
            </div>
            
            <div class="paper-pagination flex">
              <div class="pagination-list flex-1">
              </div>
              <div class="pagination-go">
                <span>跳转到</span>
                <input type="text" name="page" class="page-number">
                <a href="javascript:;" class="goToPage">GO</a>
              </div>
            </div>
          </div>
        </div>
        <!-- 我的题目 -->
        <div class="tab-content-question" data-tab="question">
          <div class="question-filter">
          <div class="flex pb-8" data-name="questionSrc">
              <div class="filter-title form-title">
               <a href="javascript:;" class="">学科</a>
              </div>
              <div class="flex-1 question-subject">
              </div>
            </div>
            <div class="flex pb-8" data-name="questionSrc">
              <div class="filter-title form-title">
               <a href="javascript:;" class="">来源</a>
              </div>
              <div class="flex-1 question-from">
              </div>
            </div>
            <div class="flex pb-6" data-name="questionType">
              <div class="filter-title type-title">
                <a href="javascript:;" class="">题型</a>
              </div>
              <div class="flex-1 question-type">
              </div>
            </div>
          </div>
          <div class="question-list">
            <div class="question-list-content">
            </div>
            <div class="pagination flex">
              <div class="pagination-list flex-1">
              </div>
              <div class="pagination-go">
                <span>跳转到</span>
                <input type="text" name="page" class="page-number">
                <a href="javascript:;" class="goToPage">GO</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 底部 -->
  <div class="footer">
    <div class="footer-container clearfix">
      <div class="footer-item">
        <h2>现在开始</h2>
        <ul>
          <li><a href="javascript:;">梦想发起</a></li>
          <li><a href="javascript:;">账号注册</a></li>
          <li><a href="javascript:;">账号登录</a></li>
        </ul>
      </div>
      
      <div class="footer-item">
        <h2>关于我们</h2>
        <ul>
          <li><a href="javascript:;">FAQ</a></li>
          <li><a href="javascript:;">用户引导</a></li>
          <li><a href="javascript:;">联系我们</a></li>
        </ul>
      </div>

      <div class="footer-item">
        <h2>法律</h2>
        <ul>
          <li><a href="javascript:;">服务条款</a></li>
          <li><a href="javascript:;">隐私政策</a></li>
        </ul>
      </div>

      <div class="footer-item">
        <ul class="footer-infor">
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/phone.png"></span>
            <span>0571-88489062</span>
          </li>
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/message.png"></span>
            <span>bp@chuyingfund.cn</span>
          </li>
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/weibo.png"></span>
            <span>雏鹰网</span>
          </li>
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/history.png"></span>
            <span>周一至周五9:00-18:00 </span>
          </li>
        </ul>
      </div>
      <div class="footer-QRcode">
        <img src="./assets/images/pc/icon/QRcode.jpg">
        <p>扫码关注微信公众号</p>
      </div>

    </div>

    <span class="copyright">Copyright © 2016 杭州树德科技有限公司 浙ICP备15019518号-2.</span>
  </div>

  <!-- 模板 -->
  <!-- 选择题 -->
  <script type="text/html" id="questionSelectList">
    <div class="question-item" data-id="{{collectionQuestionId}}">
      <div class="question-header">来源：{{questionFromSource}}</div>
      <div class="question-content">
        <div class="question-title">{{questionContentJson.title}}</div>
        <div class="question-option">
          {{each questionContentJson.option as option}}
          <div class="option-item db por">
            <div class="option-icon">{{optionIcon[$index]}}.</div>
            <div class="text-in">{{option}}</div>
          </div>
          {{/each}}
        </div>
        <div class="question-answer"></div>
      </div>
      <div class="question-operat flex">
        <div class="operat-btn">
          <a href="javascript:;" class="look-detail bg-blue">查看解析</a>
        </div>
        <div class="flex-1 tar c-6">
          <span class="pr-13">题型：{{propertyValue.typeName}}</span>
          <span class="pr-13">难度：{{propertyValue.difficultName}}</span>
          <span>浏览：{{relation.questionBrowseCount}}次</span>
        </div>
      </div>
    </div>
  </script>
  <!-- 填空题/解答题 -->
  <script type="text/html" id="questionFillList">
    <div class="question-item" data-id="{{collectionQuestionId}}">
      <div class="question-header">来源：{{questionFromSource}}</div>
      <div class="question-content">
        <div class="question-title">{{questionContentJson.title}}</div>
        <div class="question-answer"></div>
      </div>
      <div class="question-operat flex">
        <div class="operat-btn">
          <a href="javascript:;" class="look-detail bg-blue">查看解析</a>
        </div>
        <div class="flex-1 tar c-6">
          <span class="pr-13">题型：{{propertyValue.typeName}}</span>
          <span class="pr-13">难度：{{propertyValue.difficultName}}</span>
          <span>浏览：{{relation.questionBrowseCount}}次</span>
        </div>
      </div>
    </div>
  </script>
  <!-- 组合题 -->
  <script type="text/html" id="questionComplexList">
    <div class="question-item" data-id="{{collectionQuestionId}}">
      <div class="question-header">来源：{{questionFromSource}}</div>
      <div class="question-content">
        <div class="question-title">{{questionContentJson.title}}</div>
        <div class="question-children">
          {{each questionContentJson.children as children}}
            {{if children.typeCode == "SELECT"}}
            <!-- 子题目选择题 -->
              <div class="question-children-content">
                <div class="question-title por">
                  <div class="question-number">({{$index + 1}})</div>
                  <div class="text-in">{{children.question.title}}</div>
                </div>
                <div class="question-option">
                  {{each children.question.option as option}}
                  <div class="option-item db por">  
                    <div class="option-icon">{{optionIcon[$index]}}</div>
                    <div class="text-in">{{option}}</div>
                  </div>
                  {{/each}}
                </div>
              </div>
            {{/if}}
            {{if children.typeCode == "FILLBLANK" || children.typeCode == "QANDA"}}
            <!-- 子题目问答题或填空题 -->
              <div class="question-children-content">
                <div class="question-title por">
                  <div class="question-number">({{$index + 1}})</div>
                  <div class="text-in">{{children.question.title}}</div>
                </div>
              </div>
            {{/if}}
          {{/each}}
        </div>
        <div class="question-answer"></div>
      </div>
      <div class="question-operat flex">
        <div class="operat-btn">
          <a href="javascript:;" class="look-detail bg-blue">查看解析</a>
        </div>
        <div class="flex-1 tar c-6">
          <span class="pr-13">题型：{{propertyValue.typeName}}</span>
          <span class="pr-13">难度：{{propertyValue.difficultName}}</span>
          <span>浏览：{{relation.questionBrowseCount}}次</span>
        </div>
      </div>
    </div>
  </script>
  <!-- 解析 -->
  <script type="text/html" id="questionAnswer">
    <div class="content-item flex">
      <div class="item-title">考纲</div>
      <div class="flex-1 c-blue pt-5">{{syllabusName}}</div>
    </div>
    <div class="content-item flex">
      <div class="item-title">解析</div>
      <div class="flex-1 pt-5">{{questionAnalysisJson.analysis}}</div>
    </div>
    <div class="content-item flex">
      <div class="item-title">答案</div>
      <div class="flex-1 pt-5">{{questionAnswerJson.answer}}</div>
    </div>
  </script>

  <!-- 我的试卷 -->
  <script type="text/html" id="paperList">
    <div class="paper-item flex" data-id="{{paperId}}" data-collect="{{collectId}}">
      <a class="w-50 paper-name" href="paper?id={{paperId}}">{{paperTitle}}</a>
      <div class="flex-1 clearfix">
        <div class="fl w-40">{{collectFromName}}</div>
        <div class="fl w-60 operat">
          <button class="paper-print">下载</button>
          <button class="paper-del">删除</button>
        </div>
      </div>
    </div>
  </script>
  
  <!-- js文件 -->
  <script src="./assets/js/dm.api.js"></script>
  <script src="/public/vendor/jquery/jquery-2.1.4.min.js"></script>
  <script src="/public/vendor/jqPage/jquery.paging.min.js"></script>
  <script src="/public/vendor/laydate/laydate.js"></script>
  <script src="/public/assets/js/dm.base.js"></script>
  <script src="/public/assets/js/template.js"></script>
  <script src="./assets/js/pc.js"></script>
  <script src="./assets/js/pc/my-paper.js"></script>
</body>
</html>