<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <title>雏鹰升学-智能组卷</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <link rel="stylesheet" type="text/css" href="/public/assets/css/base_m.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/pc/chuyingentrance.css">
  <link rel="stylesheet" type="text/css" href="./assets/css/pc/test-paper.css">
  <script type="text/javascript" th:inline="javascript">
  /*<![CDATA[*/
    var serverData = {
      paperData : {
   	  "paperId": /*[[${paperId}]]*/,
      "subjectId": /*[[${subjectId}]]*/,
      "difficult" : /*[[${difficult}]]*/,
      "syllabus":/*[[${syllabus}]]*/,
      "templetId": /*[[${templetId}]]*/,
      "title":  /*[[${title}]]*/,
      "typeConfig":  /*[[${config}]]*/
      },
    	/* userData:{
        id: 9,
        name: "Damon5",
        location: null,
        subjectId: "4",
        teachGrades: "1,2"
      } */
      userData:{
    	  id: "[[${session.teacher eq null?null:session.teacher.id}]]",
          name: [[${session.teacher eq null?null:session.teacher.name}]],
          location: [[${session.teacher eq null?null:session.teacher.location}]],
          subjectId: "[[${session.teacher eq null?null:session.teacher.subjectId}]]",
          subjectName: [[${session.teacher eq null?null:session.teacher.subjectName}]],
          teachGrades: [[${session.teacher eq null?null:session.teacher.teachGrades}]]
      }
    }
  /*]]>*/
  </script>
</head>
<body class="bg">
  <!-- 头部 -->
  <div class="header">
    <div class="header-content clearfix">
      <a class="header-logo" href="index.html"></a>
      <div class="header-nav">
        <ul class="header-nav-list">
          <li class="nav-title"> 
            <a href="javascript:;" class="show">组卷</a>
            <div class="nav-content">
              <a href="manual-paper.html">手工组卷</a>
              <a href="auto-paper.html">智能组卷</a>
            </div>
          </li>
          <li class="nav-title">
            <a href="javascript:;">试题宝库</a>
            <div class="nav-content nav-subject-list">
              <div class="flex flex-center flex-wrap">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <a class="header-user" href="my-paper.html">
        <span class="user-avatar"><img src="./assets/images/pc/icon/avatar.png"></span>
        <span class="user-info"></span>
      </a>
    </div>
  </div>

  <!-- 试卷页面 -->
  <div class="paper-container">
  </div>
  
  <!-- 我的试卷 -->
  <div class="my-paper flex">
    <div class="paper-left">
      <a href="javascript:;" class="close-paper-btn">&times;</a>
      <a href="javascript:;" class="open-paper-btn">展开</a>
      <div class="total-score">
        <span>总</span><br><br>
        <span>分</span><br><br>
        <span class="paper-score">(<var>100</var>)</span>
      </div>
      <a href="javascript:;" class="back-top"><span>回到</span><br><span>顶部</span></a>
    </div>
    <div class="paper-right flex-1">
      <div class="question-type-list">
        <!-- <div class="question-type">
          <div class="question-title">填空题</div>
          <div class="question-detail pb-3">
            共<input type="text" name="questionTotal" value="10" />道，
            <span class="c-blue type-total-score">45</span>分
          </div>
          <div class="question-number clearfix">
            <a href="javascript:;" class="number"><span>1</span></a>
          </div>
        </div> -->
      </div>
      <div class="my-paper-btn">
        <a href="javascript:;" class="paper-download">下载试卷</a>
        <a href="javascript:;" class="save-paper">保存试卷</a>
      </div>
    </div>
  </div>

  <!-- 底部 -->
  <div class="footer">
    <div class="footer-container clearfix">
      <div class="footer-item">
        <h2>现在开始</h2>
        <ul>
          <li><a href="javascript:;">梦想发起</a></li>
          <li><a href="javascript:;">账号注册</a></li>
          <li><a href="javascript:;">账号登录</a></li>
        </ul>
      </div>
      
      <div class="footer-item">
        <h2>关于我们</h2>
        <ul>
          <li><a href="javascript:;">FAQ</a></li>
          <li><a href="javascript:;">用户引导</a></li>
          <li><a href="javascript:;">联系我们</a></li>
        </ul>
      </div>

      <div class="footer-item">
        <h2>法律</h2>
        <ul>
          <li><a href="javascript:;">服务条款</a></li>
          <li><a href="javascript:;">隐私政策</a></li>
        </ul>
      </div>

      <div class="footer-item">
        <ul class="footer-infor">
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/phone.png"></span>
            <span>0571-88489062</span>
          </li>
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/message.png"></span>
            <span>bp@chuyingfund.cn</span>
          </li>
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/weibo.png"></span>
            <span>雏鹰网</span>
          </li>
          <li class="clearfix">
            <span><img src="./assets/images/pc/icon/history.png"></span>
            <span>周一至周五9:00-18:00 </span>
          </li>
        </ul>
      </div>
      <div class="footer-QRcode">
        <img src="./assets/images/pc/icon/QRcode.jpg">
        <p>扫码关注微信公众号</p>
      </div>

    </div>

    <span class="copyright">Copyright © 2016 杭州树德科技有限公司 浙ICP备15019518号-2.</span>
  </div>

  <!-- 我的试卷模板 -->
  <script type="text/html" id="paperTypeList">
    <div class="question-type">
      <div class="question-title">{{typeName}}</div>
      <div class="question-detail pb-3">
        共<span class="c-blue pl-3 pr-3">{{count}}</span>道，
        <span class="c-blue type-total-score">{{score}}</span>分
      </div>
      <div class="question-number clearfix">
        {{each ids as item}}
        <a href="#{{item.questionId}}" class="number"><span>{{item.number}}</span></a>
        {{/each}}
      </div>
    </div>
  </script>

  <script type="text/html" id="paperContent">
    <div class="paper-title">
      <h2>{{title}}</h2>
      <a class="edit-title" data-toggle="modal" data-target="#titleDialog">
        <img src="./assets/images/pc/icon/edit.png" />
        <span>修改</span>
      </a>
    </div>
    <div class="tac pb-6 paper-score">满分:<var class="pl-3 pr-3">{{score}}</var>分</div>
    <div class="tac pb-6">班级:______________________&nbsp;&nbsp;&nbsp;姓名:_______________&nbsp;&nbsp;&nbsp;&nbsp;考号:________________&nbsp;&nbsp;&nbsp;</div>
    {{if partOneData}}
    <div class="part-one">
      <h4 class="tac" style="font-weight: bold;">第Ⅰ卷（选择题）</h4>
      <div class="pb-6 pl-13 pr-13 sum-number">本试卷第一部分共有<var>{{numberOne}}</var>题试题</div>
      <div class="part-content">
        {{each partOneData as itemData}}
        <div class="paper-type" data-id="{{itemData.typeId}}">
          <div class="type-title">
            <div class="title-content">
              <span class="type-number"><var>{{itemData.number}}</var>、</span>
              <span>{{itemData.typeName}}（共<var class="count">{{itemData.count}}</var>题）</span>
              <span class="single-score c-blue">{{itemData.singleScore}}
              </span>
              <span class="sum-score c-blue">共<var>{{itemData.score}}</var>分</span>
            </div>
            <a class="edit-type-title" data-toggle="modal" data-target="#typeScoreDialog">
              <img src="./assets/images/pc/icon/edit.png" />
              <span>修改</span>
            </a>
          </div>
          <div class="question-list">
            {{each itemData.ids as itemIds}}
            <div class="question-item"  id="{{itemIds.questionId}}" data-score="{{itemIds.score}}" data-collect="{{itemIds.isCollect}}">
              <div class="question-menu flex space-between">
                <!-- <a class="menu-item menu-bank-replace" href="javascript:;">
                  <img src="./assets/images/pc/icon/bank-replace.png">
                  <span>题库换题</span>
                </a> -->
                {{if itemIds.isCollect == 0}}
                <a class="menu-item menu-collect" href="javascript:;">
                  <img src="./assets/images/pc/icon/collect.png">
                  <span style="vertical-align: middle;">收藏试题</span>
                </a>
                {{else}}
                <a class="menu-item menu-cancle-collect" href="javascript:;">
                  <img src="./assets/images/pc/icon/collect.png">
                  <span style="vertical-align: middle;">取消收藏</span>
                </a>
                {{/if}}
                <a class="menu-item menu-answer" href="javascript:;">
                  <img src="./assets/images/pc/icon/answer.png">
                  <span>答案</span>
                </a>
                <!-- <a class="menu-item menu-delete" href="javascript:;">
                  <img src="./assets/images/pc/icon/delete.png">
                  <span style="vertical-align: middle;">删除</span>
                </a> -->
                <a class="menu-item menu-replace" href="javascript:;">
                  <img src="./assets/images/pc/icon/replace.png">
                  <span>换题</span>
                </a>
                <a class="menu-item menu-up" href="javascript:;">
                  <img src="./assets/images/pc/icon/up.png">
                  <span style="vertical-align: middle;">上移</span>
                </a>
                <a class="menu-item menu-down" href="javascript:;">
                  <img src="./assets/images/pc/icon/down.png">
                  <span>下移</span>
                </a>
              </div>
              <!-- 选择题 -->
              <div class="question-content">
                <div class="question-title por">
                  <div class="question-number">{{itemIds.number}}.</div>
                  <div class="text-in">{{itemIds.questionContentJson.title}}</div>
                </div>
                <div class="question-option clearfix">
                  {{each itemIds.questionContentJson.option as option}}
                  <div class="option-item por">
                    <div class="option-icon">{{optionIcon[$index]}}.</div>
                    <div class="text-in">{{option}}</div>
                  </div>
                  {{/each}}
                </div>
                <div class="question-answer">
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}

    {{if partTwoData}}
    <div class="part-two">
      <h4 class="tac" style="font-weight: bold;">第ⅠⅠ卷（非选择题）</h4>
      <div class="pb-6 pl-13 pr-13 sum-number">本试卷第二部分共{{numberTwo}}有题试题</div>
      {{each partTwoData as itemData}}
      <div class="paper-type" data-id="{{itemData.typeId}}">
        <div class="type-title">
          <div class="title-content">
            <span class="type-number"><var>{{itemData.number}}</var>、</span>
            <span>{{itemData.typeName}}（共<var class="count">{{itemData.count}}</var>题）</span>
            <span class="single-score c-blue">{{itemData.singleScore}}
            </span>
            <span class="sum-score c-blue">共<var>{{itemData.score}}</var>分</span>
          </div>
          <a class="edit-type-title" data-toggle="modal" data-target="#typeScoreDialog">
            <img src="./assets/images/pc/icon/edit.png" />
            <span>修改</span>
          </a>
        </div>
        <div class="question-list">
          {{each itemData.ids as itemIds}}
          <div class="question-item" id="{{itemIds.questionId}}" data-score="{{itemIds.score}}" data-collect="{{itemIds.isCollect}}">
            <div class="question-menu flex space-between">
              <!-- <a class="menu-item menu-bank-replace" href="javascript:;">
                <img src="./assets/images/pc/icon/bank-replace.png">
                <span>题库换题</span>
              </a> -->
              {{if itemIds.isCollect == 0}}
              <a class="menu-item menu-collect" href="javascript:;">
                <img src="./assets/images/pc/icon/collect.png">
                <span style="vertical-align: middle;">收藏试题</span>
              </a>
              {{else}}
              <a class="menu-item menu-cancle-collect" href="javascript:;">
                <img src="./assets/images/pc/icon/collect.png">
                <span style="vertical-align: middle;">取消收藏</span>
              </a>
              {{/if}}
              {{if itemData.typeCode == "COMPLEX" || itemData.typeCode == "QANDA"}}
                <a class="menu-item menu-score" href="javascript:;" data-toggle="modal" data-target="#questionScoreDialog">
                <img src="./assets/images/pc/icon/score.png">
                <span style="vertical-align: middle;">设定分值</span>
              </a>
              {{/if}}
              <a class="menu-item menu-answer" href="javascript:;">
                <img src="./assets/images/pc/icon/answer.png">
                <span>答案</span>
              </a>
              <!-- <a class="menu-item menu-delete" href="javascript:;">
                <img src="./assets/images/pc/icon/delete.png">
                <span style="vertical-align: middle;">删除</span>
              </a> -->
              <a class="menu-item menu-replace" href="javascript:;">
                <img src="./assets/images/pc/icon/replace.png">
                <span>换题</span>
              </a>
              <a class="menu-item menu-up" href="javascript:;">
                <img src="./assets/images/pc/icon/up.png">
                <span style="vertical-align: middle;">上移</span>
              </a>
              <a class="menu-item menu-down" href="javascript:;">
                <img src="./assets/images/pc/icon/down.png">
                <span>下移</span>
              </a>
            </div>
            <!-- 填空题和简答题 -->
            {{if itemData.typeCode == "FILLBLANK" || itemData.typeCode == "QANDA"}}
            <div class="question-content">
              <div class="question-title por">
                <div class="question-number">{{itemIds.number}}.</div>
                <div class="text-in">{{itemIds.questionContentJson.title}}</div>
              </div>
              <div class="question-answer">
              </div>
            </div>
            {{/if}}
            <!-- 填空题和简答题end -->
            <!-- 组合题 -->
            {{if itemData.typeCode == "COMPLEX"}}
            <div class="question-content">
              <div class="question-title por">
                <div class="question-number">{{itemIds.number}}.</div>
                <div class="text-in">{{itemIds.questionContentJson.title}}</div>
              </div>
              <div class="question-children">
                {{each itemIds.questionContentJson.children as childItem}}
                  <!-- 子填空题和问答题 -->
                  {{if childItem.typeCode == "FILLBLANK" || childItem.typeCode == "QANDA"}}
                  <div class="question-content">
                    <div class="question-title por">
                      <div class="question-number">({{$index + 1}}).</div>
                      <div class="text-in">{{childItem.question.title}}</div>
                    </div>
                  </div>
                  {{/if}}
                  <!-- 子填空题和问答题end -->
                  <!-- 子选择题 -->
                  {{if childItem.typeCode == "SELECT"}}
                  <div class="question-content">
                    <div class="question-title por">
                      <div class="question-number">({{$index + 1}}).</div>
                      <div class="text-in">{{childItem.question.title}}</div>
                    </div>
                    <div class="question-option clearfix">
                      {{each childItem.question.option as option}}
                      <div class="option-item por">
                        <div class="option-icon">{{optionIcon[$index]}}.</div>
                        <div class="text-in">{{option}}</div>
                      </div>
                      {{/each}}
                    </div>
                  </div>
                  {{/if}}
                  <!-- 子选择题end -->
                {{/each}}
              </div>
              <div class="question-answer">
              </div>
            </div>
            {{/if}}
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </script>

  <!-- 选择题题型 -->
  <script type="text/html" id="selectModule">
    <div class="question-title por">
      <div class="question-number">{{number}}</div>
      <div class="text-in">{{questionContentJson.title}}</div>
    </div>
    <div class="question-option clearfix">
      {{each questionContentJson.option as option}}
      <div class="option-item por">
        <div class="option-icon">{{optionIcon[$index]}}.</div>
        <div class="text-in">{{option}}</div>
      </div>
      {{/each}}
    </div>
    <div class="question-answer"></div>
  </script>
  <!-- 问答题和填空题模板 -->
  <script type="text/html" id="fillModule">
    <div class="question-title por">
      <div class="question-number">{{number}}</div>
      <div class="text-in">{{questionContentJson.title}}</div>
    </div>
    <div class="question-answer"></div>
  </script>
  <!-- 组合题模板 -->
  <script type="text/html" id="complexModule">
    <div class="question-title por">
      <div class="question-number">{{number}}</div>
      <div class="text-in">{{questionContentJson.title}}</div>
    </div>
    <div class="question-children">
      {{each questionContentJson.children as childItem}}
        <!-- 子填空题和问答题 -->
        {{if childItem.typeCode == "FILLBLANK" || childItem.typeCode == "QANDA"}}
        <div class="question-content">
          <div class="question-title por">
            <div class="question-number">({{$index + 1}})</div>
            <div class="text-in">{{childItem.question.title}}</div>
          </div>
        </div>
        {{/if}}
        <!-- 子填空题和问答题end -->
        <!-- 子选择题 -->
        {{if childItem.typeCode == "SELECT"}}
        <div class="question-content">
          <div class="question-title por">
            <div class="question-number">({{$index + 1}})</div>
            <div class="text-in">{{childItem.question.title}}</div>
          </div>
          <div class="question-option clearfix">
            {{each childItem.question.option as option}}
            <div class="option-item por">
              <div class="option-icon">{{optionIcon[$index]}}.</div>
              <div class="text-in">{{option}}</div>
            </div>
            {{/each}}
          </div>
        </div>
        {{/if}}
        <!-- 子选择题end -->
      {{/each}}
    </div>
    <div class="question-answer"></div>
  </script>

  <script type="text/html" id="questionAnswer">
    <div class="content-item flex">
      <div class="item-title">考纲</div>
      <div class="flex-1 c-blue">{{syllabusName}}</div>
    </div>
    <div class="content-item flex">
      <div class="item-title">解析</div>
      <div class="flex-1">{{questionAnalysisJson.analysis}}</div>
    </div>
    <div class="content-item flex">
      <div class="item-title">答案</div>
      <div class="flex-1">{{questionAnswerJson.answer}}</div>
    </div>
  </script>
  
  <!-- 修改试卷题目 -->
  <div class="modal fade modal-small" id="titleDialog" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">修改试卷题目</h4>
          </div>
          <div class="modal-body">
            <form class="ajax-form edit-title-form">
              <div class="pl-13 pr-13 pb-6">
                <textarea rows="5" name="title" required></textarea>
              </div>
              <div class="pl-13 pr-13">
                <button class="btn btn-primary save-edit-title" type="button" data-dismiss="modal">确定</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>

  <!-- 题型设定分值 -->
  <div class="modal fade modal-small" id="typeScoreDialog" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">修改分数</h4>
        </div>
        <div class="modal-body">
          <form class="ajax-form edit-title-form">
            <div class="pl-13 pr-13 pb-8">
              <span class="pr-6">小题分值</span>
              <input type="text" name="typeScore" style="width: 20%">
            </div>
            <div class="pl-13 pr-13">
              <button class="btn btn-primary save-type-score" type="button" data-dismiss="modal">确定</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 题目分值设置 -->
  <div class="modal fade modal-small" id="questionScoreDialog" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">修改题目分数</h4>
        </div>
        <div class="modal-body">
          <form class="ajax-form edit-title-form">
            <div class="pl-13 pr-13 pb-8">
              <span class="pr-6">小题分值</span>
              <input type="text" name="questionScore" style="width: 20%">
            </div>
            <div class="pl-13 pr-13">
              <button class="btn btn-primary save-question-score" type="button" data-dismiss="modal">确定</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- js文件 -->
  <script src="./assets/js/dm.api.js"></script>
  <script src="/public/vendor/jquery/jquery-2.1.4.min.js"></script>
  <script src="/public/assets/js/template.js"></script>
  <script src="/public/assets/js/dm.base.js"></script>
  <script src="./assets/js/pc.js"></script>
  <script src="./assets/js/pc/test-paper.js"></script>
</body>
</html>