/*tab*/
.tab-title{
    display: none;
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: #d9d9d9 1px solid;
    margin-bottom: 12px;
}
.tab-title-commerce,.tab-title-community{
    width: 50%;
    float: left;
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    display: none;
}
.tab-title-commerce.active,.tab-title-community.active{
    border-bottom: #d4b168 4px solid;
    color: #d4b168;
}
.tab-content-commerce,.tab-content-community{
    display: none;
}

/*杭州新昌商会*/
.banner{
    border-top: #e6e6e6 1px solid;
    border-bottom: #e6e6e6 1px solid;
    width: 100%;
}
.banner img{
    width: 100%;
    max-height: 300px;
}
.c-yellow{color: #d4b168;}
.navigation{background-color: #fff; border-bottom: #e6e6e6 1px solid;}
.navigation a{
    display: inline-block;
    padding: 12px 0px 10px;
    width: 18%;
}
.navigation a img{
    max-width: 50px;
    width: 75%;
    margin-bottom: 7px;
}
/*今日寿星*/
.todayBirthday{
    display: flex;
    padding: 15px 10px;
    margin-top: 12px;
    border-top: #e6e6e6 1px solid;
    border-bottom: #e6e6e6 1px solid;
    background-color: #fff;
}
.todayBirthday img{
    margin-top: -3px;
    width: 20px;
    margin-right: 10px;
}
.todayBirthday .marquee-win{
    height: 20px;
    position: relative;
    overflow: hidden;
}
.todayBirthday .marquee-content{
    transition: transform .5s ease 0s
}
/*活动列表*/
.activity-list .panel{
    padding-left: 0px;
}
.activity-list .img-major{
    width: 100px;
    height: 80px;
}
.activity-list .img-major img{
    width: 100%;
    height: 100%;
}
.activity-list .activity-title{
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.activity-list .activity-item{
    margin-left: 10px;
    padding: 15px 10px 15px 0;
    border-bottom: #e6e6e6 1px solid;
}
.activity-list .activity-item:last-of-type{
    border-bottom: 0px;
}
/*最新会员*/
.icon-img img{
    width: 12px;
    margin-right: 6px;
    margin-top: -3px;
}
.member-item{
    padding: 15px 10px 15px 0px;
}
.member-item .tag-yellow{
    padding: 2px 8px;
    border-radius: 4px;
}
.member-item + .member-item{
    border-top: #e6e6e6 1px solid;
}
/*新昌同乡商联*/
.community-item{
    border-bottom: #e6e6e6 1px solid;
    background-color: #fff;
}
.community-item + .community-item{
    margin-top: 12px;
}
.community-item .item-img{
    display: block;
    width: 100%;
}
.item-img img{
    width: 100%;
    height: 300px;
}
.item-content{
    padding: 20px 10px;
}
.c-gray{color: #a6a6a6}
.item-content .content-btn{
    float: right;
    padding-top: 9px;
}
.content-info img{
    width: 16px;
}
.join-community{
    display: block;
    border-radius: 4px;
    width: 80px;
    color: #fff;
    font-size: 14px;
    padding: 8px 0px;
    text-align: center;
}
.btn-grey{
    background-color: #bfbeba
}
.btn-yellow{
    background-color: #d4b168;
}
.btn-grey:hover{
    color: #fff;
}

/*游客首页展示*/
.community-list{
    margin-bottom: 12px;
    border-bottom: #e6e6e6 1px solid;
}
.community-list .all-community{
    display: block;
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.all-community[data-count="1"],
.all-community[data-count="2"],
.all-community[data-count="3"]{
    display: none;
}
.join-rules{
    display: block;
    width: 100%;
    margin-bottom: 12px;
}
.join-rules img{width: 100%;} 

/*加盟流程*/
.m-process{
    background-color: #fff;
}
.m-process .community-process,.m-process .commerce-process{
    padding: 10px 10px 40px;
}
.activity-list .panel:after, .activity-list .panel:before{
    transform: scaleY(0);
}
.activity-list .panel{
    border-top:#e7e7e7 1px solid;
    border-bottom:#e7e7e7 1px solid;
}