<!DOCTYPE html>
<html lang="zh-CN">
#head("充值记录")

<body>
	$!errorMsg
	#header()
	
	<div class="container main-container ">
		<div class="row-fluid">
			#sidebar('bizOrder')
			
			<div class="span10">
				
				
				<form id="bizOrderQueryForm" action="queryBizOrder.htm" method="post" onsubmit="return submitCheck();" >
					<div class="sortable row-fluid">

						<div class="box span12">
                        #breadcrumb("充值记录",'queryBizOrder.htm?pageSize=5')
						<table class="table recharge-table">
									<tbody>
										<tr>
                                            <td width="50" class="center"><font>手机号</font></td>
                                            <td>              
                                                <input class="input-small" size="10" type="text"  name="itemUid" value="$!bizOrderQuery.itemUid">
                                            </td>
                                            <td class="center" width="60"><font>业务类型</font></td>
                                            <td>
                                                 #select($!bizList,'bizId',$!bizOrderQuery.bizId)
                                            </td>
                                            <td class="center" width="30"><font>时间</font></td>
											<td class="input-date">
                                                <span style="position: relative">
												<input class="input-small doubledate" readonly="readonly" size="10" type="text" name="startGmtCreate" value="$!dateTool.format("yyyy-MM-dd", $!bizOrderQuery.startGmtCreate)" />
                                                    <span class="add-on">
                                                        <i class="icon-calendar"></i>
                                                    </span>
                                                </span>
                                                <font>至</font>
                                                <span style="position: relative">
                                                <input id="endtime" class="input-small doubledate" readonly="readonly" type="text" name="endGmtCreate" value="$!dateTool.format("yyyy-MM-dd", $!bizOrderQuery.endGmtCreate)" />
                                                <span class="add-on">
                                                <i class="icon-calendar"></i>
                                                </span>
                                                </span>
	                        				</td>
											
										</tr>
										<tr>                     
                                            <td class="center"><font>订单号</font></td>
											<td>
												<input class="input-small" size="10" type="text"  name="id" value="$!bizOrderQuery.id">
											</td>
                                            <td width="50" class="center"><font>状态</font></td>
                                            <td>
                                                
                                                #select($!statusList,'status',$!bizOrderQuery.status)
                                            </td>
                                        </tr>
										<tr>	
											<td colspan="6">
												<a class="btn btn-primary"  onclick="javascript:query();"  >查询</a>
	                        					<input class="btn btn-primary"  type="reset" value="清空" />
											</td>
										</tr>
										#showTableError($!errorList,4)
									</tbody>
								</table>
						</div>
					</div>
	
					<div class="sortable row-fluid">
					<div class="box span12"  style="margin-bottom: 40px;">
						<div class="box-header well" data-original-title="">
							<h2>充值记录</h2>
							<div class="box-icon">
							</div>
						</div>
						<div class="box-content">
							<table class="table">
								<thead>
									<tr>
										<th>订单号</th>
										<th>时间</th>
										<th>面额(元)</th>
										<th>交易金额(元)</th>
										<th>手机号</th>
										<th>业务名称</th>
										<th>状态</th>
									</tr>
								</thead>
								<tbody>
								#foreach($!bizOrder in $!bizOrderList)
									<tr>
										<td>$!bizOrder.id</td>
										<td class="center">$!dateTool.format("yyyy-MM-dd HH:mm:ss", $!bizOrder.gmtCreate)</td>
										<td class="center">$!bizOrder.itemFacePriceDesc</td>
										<td class="center">$!bizOrder.amountDesc</td>
										<td class="center">$!bizOrder.itemUid</td>
										<td class="center">$!bizOrder.bizName</td>
										<td class="center">#bizOrderStatus($!bizOrder.statusDesc)
										</td>
									</tr>
								#end
								
								</tbody>
							</table>
							
							</form>


						</div>
					</div>
                    #pagination2($!bizOrderQuery,'bizOrderQueryForm','queryBizOrder.htm')
				</div>
			</div>
		</div>
	</div>
	#footer()
	
	<script type="text/javascript">
	function submitCheck()
    {
    	if(!checkDate()){
			return false;
		}
    	return true;
    }
	
	
    var checkDate = function()
    {
    	var start_date =  jQuery("input[name='startGmtCreate']").val();
    	var end_date = jQuery("input[name='endGmtCreate']").val();
    	var objDate=new Date();
    	var year = objDate.getFullYear();
    	var month = objDate.getMonth() + 1;
    	var day = objDate.getDate();
    	month = month>=10?month:'0'+month;
    	day = day>=10?day:'0'+day;
    	var date = year + "-" + month + "-" + day;
    	
    	if(!compareDate(start_date, date)){
    		alert("起始日期不能大于当前日期！");
    		return false;
    	}
    	if(!compareDate(end_date, date)){
    		alert("终止日期不能大于当前日期！");
    		return false;
    	}
    	
    	if(!compareDate(start_date, end_date))
    	{
    		alert("起始日期不能大于终止日期!");
    		return false;
    	}
    	var  beginTime   =   new   Date(Date.parse(start_date.replace(/-/g,   "/")));
    	var  endTime   =   new   Date(Date.parse(end_date.replace(/-/g,   "/"))); 
    	var onemonthe=2*30*24*60*60*1000;
    	
    	if((endTime-beginTime)>onemonthe)
    	{
    		alert("只能查二个月之内的记录!");
    		return false;
    	}	
    	return true; 
	 	}

    function compareDate(date1, date2){
    	year1 = date1.substring(0,date1.indexOf("-"));
        year2 = date2.substring(0,date2.indexOf("-"));
        month1 = date1.substring(date1.indexOf("-") + 1,date1.lastIndexOf("-"));
        month2 = date2.substring(date2.indexOf("-") + 1,date2.lastIndexOf("-"));
        day1 = date1.substring(date1.lastIndexOf("-") + 1);
        day2 = date2.substring(date2.lastIndexOf("-") + 1);
        
        if(year1 > year2){
            return false;
        } else if(year1 < year2){
        	return true;
        } else if(month1 > month2){
            return false;
        } else if(month1 < month2){
        	return true;
        } else if(day1 > day2){
            return false;
        } else if(day1 < day2){
        	return true;
        }
        return true;
    }
		function query(){
			if(!/^[0-9]*$/.test(jQuery('#paginationCPage').val())){
	    		jQuery('#paginationCPage').attr("value",'1');
	        }
			jQuery('#bizOrderQueryForm').attr("action", "$!{contextPath}biz/queryBizOrder.htm");
			jQuery('#bizOrderQueryForm').submit();
		}
    </script>
</body>
</html>
