<!DOCTYPE html>
<html lang="zh-CN">
#head()

<body>
	$!errorMsg
	#header()

	<div class="container main-container ">
		<div class="row-fluid">
			#sidebar('userInfo')
			
			<div class="span10">
				
				#breadcrumb("登录密码修改",'loginPwdEdit.htm')
				
				<div class="sortable row-fluid">
					<div class="span12">
						#userInfoTab('loginPwdEdit')
						<div class="content-main" style="height:345px;">
						<form id="form" class="form-horizontal" action="loginPwdEdit.htm" method="post" >
						#csrfTokenInput()
							<input id="oldPwd" type="hidden" name="oldPwd" >
							<input id="newPwd" type="hidden" name="newPwd" >
							 #getErrorMessage($errorList,"errorMsg")
							<div class="row-fluid show-grid error-tip">
								<div class="span6" style="background:#fff;">
								<label class="control-label" for="amount">旧登录密码</label>
								<input id="pwd1" type="password" name="pwd1" placeholder="旧登录密码" value="">
								<span class="red">*</span>
								</div>
							</div>
							<div class="row-fluid show-grid error-tip">
								<div class="span6" style="background:#fff;">
								<label class="control-label" for="amount">新登录密码</label>
								<input id="newpwd1" type="password" name="newpwd1"  placeholder="6~20个字符，区分大小写" value="">
								<span class="red">*</span>
								</div>
							</div>
							<div class="row-fluid show-grid error-tip">
								<div class="span6" style="background:#fff;">
								<label class="control-label" for="amount">确认新密码</label>
								<input id="newpwd2" type="password" name="newpwd2"  placeholder="再次输入密码" value="">
								<span class="red">*</span>
								</div>
							</div>
							<div class="row-fluid show-grid">
							<div class="span6" style="background:#fff;">
							<input class="btn btn-primary" type="button" onclick="submitForm()" value="提交" />
							</div>
							</div>
							</form>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
	#footer()
	<script src="$!{assetsServer}assets/js/jquery.validate.min.js"></script>
	<script type="text/javascript">
		$().ready(function() {
			$("#form").validate({
				focusInvalid:false, 
			    submitHandler: function(form){  
			        form.submit();  
			    },
				rules : {
					pwd1 : {
						required: true,
						pwdVerify: true
					},
					newpwd1 : {
							required: true,
							pwdVerify: true
						},
					newpwd2 : {
							required: true,
							pwdVerify: true,
							equalTo: "#newpwd1"
						}
				},
				messages: {
					pwd1 : {
						required : "请输入旧登录密码",
						pwdVerify : "登录密码必须是6到20位数字和字母"
						},
					newpwd1 : {
						required : "请输入新登录密码",
						pwdVerify : "登录密码必须是6到20位数字和字母"
						},
					newpwd2 : {
						required : "请输入确认新密码",
						pwdVerify : "登录密码必须是6到20位数字和字母",
						equalTo: "两次输入密码不一致"
						}
				}
			});
		});
		$.validator.addMethod("pwdVerify", function(value, element) {
			var length = value.length;  
		    var loginPwd = /^[A-Za-z0-9]{6,20}$/;
		    return loginPwd.test(value);
		}
		);
		function submitForm(){
	 		var pwd1 = jQuery('#pwd1').val();
			var newpwd1 = jQuery('#newpwd1').val();
			
			pwd1 =  CryptoJS.MD5(pwd1+"longan_login");
			newpwd1 =  CryptoJS.MD5(newpwd1+"longan_login");
			
    		jQuery('#oldPwd').val(pwd1);
			jQuery('#newPwd').val(newpwd1);
    		jQuery('#form').submit();
	 	}
	</script>
</body>
</html>
