<!DOCTYPE html>
<html lang="zh-CN">
#head()

<body onload="load('$!isSetPayPwd')">
	$!errorMsg
	#header()

	<div class="container main-container ">
		<div class="row-fluid">
			#sidebar('userInfo')
			
			<div class="span10">
				
				#breadcrumb("支付密码修改",'payPwdEdit.htm')
				
				<div class="sortable row-fluid">
					<div class="span12">
						#userInfoTab('payPwdEdit')
						<div id="editDiv" class="content-main" style="height:345px;display: none;">
						<form id="editForm" class="form-horizontal" action="payPwdEdit.htm" method="post" >
						#csrfTokenInput()
							<input id="oldPayPwd" type="hidden" name="oldPayPwd" >
							<input id="newPayPwd" type="hidden" name="newPayPwd" >
							 #getErrorMessage($errorList,"errorMsg")
							  <div class="row-fluid show-grid error-tip">
								<div class="span6" style="background:#fff;">
								<label class="control-label" for="amount">旧支付密码</label>
								<input id="oldPayPwd1" type="password" name="oldPayPwd1"  placeholder="旧支付密码" value="">
								<span class="red">*</span>
								</div>
							</div>
							 <div class="row-fluid show-grid error-tip">
								<div class="span6" style="background:#fff;">
								<label class="control-label" for="amount">新支付密码</label>
								<input id="newPayPwd1" type="password" name="newPayPwd1" placeholder="6~20个字符(字母、数字组合)" value="">
								<span class="red">*</span>
								</div>
							</div>
							 <div class="row-fluid show-grid error-tip">
								<div class="span6" style="background:#fff;">
								<label class="control-label" for="amount">确认新密码</label>
								<input id="newPayPwd2" type="password" name="newPayPwd2" placeholder="再次输入密码" value="">
								<span class="red">*</span>
								</div>
							</div>
							<div class="row-fluid show-grid">
							<div class="span6" style="background:#fff;">
							<input class="btn btn-primary" type="submit" value="提交" />
							</div>
							</div>
							</form>
						</div>
						<div id="setDiv" class="content-main" style="height:345px;display: none;">
							<form id="setForm" class="form-horizontal"  action="payPwdSet.htm" method="post" >
							#csrfTokenInput()
							<input id="payPwd" type="hidden" name="payPwd" >
							 #getErrorMessage($errorList,"errorMsg")
							  <div class="row-fluid show-grid">
								<div class="span4"  style="background:#fff;">
									 <font color="#FF0000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您还没有支付密码，请设置支付密码</font>
								</div>
							</div>
							 <div class="row-fluid show-grid">
								<div class="span6" style="background:#fff;">
								<label class="control-label" for="amount">输入支付密码<span class="red">*</span></label>
											<input id="payPwd1" type="password" name="payPwd1" placeholder="6~20个字符(字母、数字组合)" value="">
								</div>
							</div>
							<div class="row-fluid show-grid">
								<div class="span6" style="background:#fff;">
								<label class="control-label" for="amount">确认支付密码<span class="red">*</span></label>
											<input id="payPwd2" type="password" name="payPwd2" placeholder="再次输入密码" value="">
								</div>
							</div>
							<div class="row-fluid show-grid">
							<div class="span6" style="background:#fff;">
							<input class="btn btn-primary" type="submit" value="提交" />
							</div>
							</div>
							</form>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
	#footer()
	<script src="$!{assetsServer}assets/js/jquery.validate.min.js"></script>
<script src="$!{assetsServer}assets/js/core/payPwdEdit.js"></script>

</body>
</html>
