<!DOCTYPE html>
<html lang="zh-CN">
#head()

<body>
	
	#headerUnLogin()

	<div class="container main-container register-main">
		<div class="row-fluid">
				<div class="span12 box">
						<div class="box-header well" data-original-title="">
							<h2>用户注册</h2>
							<div class="box-icon">
							</div>
						</div>
				<div class="box-content" style="padding: 15px;"> 
					<div class="sortable row-fluid">
						<div class="span12">
								<div class="alert #showAcctInResultClass($!result)">
									#showUserRegisterResult($!result)
								</div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
	#footer()
	<script type="text/javascript">
		 $(document).ready(function() {
			 countDonwJump();
		 }); 
			
		var redirectUrl = '$!{contextPath}main.htm';
		var sysSecond = 10 * 1000;
		var interValObj;
		
		function countDonwJump(){
			interValObj = window.setInterval(setRemainTime, 1000);
		}
		
		function setRemainTime(){
			sysSecond -= 1000;
			if(sysSecond<=0){
			 		window.clearInterval(interValObj);
					window.location.href= redirectUrl;
					return;
			}
		   if (sysSecond > 0) {
		  	  var second = sysSecond / 1000;
		   	  $("#remain").html(second);
		   } 
		}
		
		function returnBack(){
			var url;
			url = '$!{contextPath}main.htm';
			window.location.href=url;
		}
		
	</script>
	
</body>
</html>