.list-body{
    height: 100%;
}
.list-container{
    background-color: #fff;
    padding: 10px 20px;
}
.list-container .alert-title{
    border-bottom: #dddddd 1px solid;
    color: #000;
    background-color: #fff;
    padding-bottom: 5px;
}
.list-container .queryForm{
    margin-top: 5px;
    padding-bottom: 30px;
}
.list-container .detail{
    width: 350px;
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
}

.input-append input[type="text"]{
    width: 30%;
    min-width: 150px;
}

/*table中间的虚线*/
.line{height: 1px;width: 100%;box-sizing: border-box;border-top: #cccccc 1px dashed; margin-bottom: 10px;}
input[name="select-list"]{margin-left: 0px;}
.input-value input[type="text"]{width: 10%; min-width: 80px;}
.query-style td{text-align: left; padding: 5px 0px; border: 0px;}
.query-style td.pt-8{padding-top: 16px;}
.table {
    width: 100%;
    white-space: nowrap;
    margin: 0px;
}
.table-list{
    margin-top: 5px;
    border: #dddddd 1px solid;
    margin-bottom: 20px;
    margin-left: 0px;
}
.table-list thead tr{
    background-color: #f4f4f4;
    height: 35px;
}
.table-list thead td{
    padding: 5px 10px 0px;
}
.table-list tbody .btn{
    margin-right: 3px;
}
.table-list tbody tr:nth-child(even){
    background-color: #edf8ff;
}
.table-list tbody input[type="checkbox"]{
    margin-left: 15px;
}

.btn-page{
    background-color: #f4f4f4;
    color: #808080;
    border: 0px;
    padding: 0px;
    width: 35px;
    height: 30px;
    line-height: 30px;
    border-radius: 0px;
    margin: 0px 3px;
    font-size: 14px;
}
.current[href]{background-color: #2d97f0;color: #fff !important;}
.btn-page .if{line-height: 30px;width: 35px;text-align: center;}
a.btn-page:first-of-type{margin-left: 100px;}
.current,.btn-page:hover,.btn-page:focus{background-color: #2d97f0;color: #fff !important;}

input[name="currentPage"]{min-width:40px;height:35px;border: #efefef 1px solid; background-color: #fff; font-size:14px;}
.input-append .input-date{position: relative;}
.input-date .add-on{position: absolute; right: 10px;top: 0; bottom: 0;}

/*入库信息的修改*/
.Storage-information{width: 50%;margin: 10px 0px;}
.Storage-information input[type="text"],.Storage-information input[type="password"],.Storage-information select{
    width: 200px;
    margin-left: 0px;
}

.td-detail input[type="text"],.td-detail select{width: 200px;}

/*用于显示信息的表格样式*/
.information-show{border: #f1f1f1 1px solid; margin-top: 20px;}
.information-show thead tr{
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #f4f4f4;
    text-align: center;
    line-height: 40px;
}
.information-show tbody tr:nth-child(even){
    background-color: #f4f4f4;
}
.information-show tbody td{
    text-align: left;
    border-right: #fff 1px solid;
    padding-left: 20px;
}


.information-show tfoot td{padding-left: 20px; padding-bottom: 10px;}
.information-show tbody td:last-child{
    border-right: 0px;
}

/*权限设置*/
ul.relationSet{margin-left: 20px;margin-top: 10px;}
.relationSet li{
    display: inline-block;
    width: 30%;
    text-align: left;
    margin-bottom: 10px;
}

/*td换行*/
#areaList{
    word-break: break-all;
    word-wrap: break-word;
    white-space: normal;
}