<div class="main-view-wrapper">
    <!-- 条件筛选 -->
    <form class="form-inline form-search">
        
        
        <div class="form-group m-5">
            <label>所在商会:</label>
            <select  class="form-control" ng-options="option.sociatyId as option.sociatyName for option in sociatyList" ng-model="queryModel.sociatyId">
            </select>
        </div>
        <div class="form-group m-5">
            <label>所在城市:</label>
            <select  class="form-control" ng-options="option.code as option.text for option in provinceList" ng-model="queryModel.province" ng-change="provinceChange()">
            </select>
            <select ng-if="queryModel.province" class="form-control" ng-options="option.code as option.text for option in cityList" ng-model="queryModel.city"  ng-change="cityChange()">
            </select>
            <select ng-if="queryModel.city" class="form-control" ng-options="option.code as option.text for option in districtList" ng-model="queryModel.district" >
            </select>
        </div>
        
        <div class="form-group m-5">
            <label>关键字:</label>
            <input type="text" ng-model="queryModel.key" class="form-control" placeholder="用户名/企业名/手机号" />
        </div>
        <div class="form-group m-5">
            <button type="button" class="btn btn-primary" ng-click="search()"><i class="fa fa-search mr-3"></i>查询</button>
            <button type="button" class="btn btn-default" ng-click="clear()"><i class="fa fa-undo mr-3"></i>重置</button>
        </div>
          
        
    </form>
    <div class="mt-5 mb-5">
        <div class="wu dib vat" excel="search">
            <div class="pick-wrap">
                <div class="pick" data-preview="false" data-server="/upload" data-multiple="true">名单导入</div>
            </div>
        </div>  
        <a ui-sref="union.membercreate" class="btn btn-success vat" href="javascript:;"><i class="fa fa-plus mr-3"></i>创建会员</a>
        <a  class="btn btn-athens vat" href="javascript:;" ng-click="dowloadExcel()" ><i class="fa fa-arrow-circle-o-down mr-3"></i>excel模板下载</a>
        <a  class="btn btn-warning vat" href="javascript:;" ng-click="meassge()" ><i class="fa fa-envelope mr-3"></i>短信推送</a>
        <a  class="btn btn-danger vat" href="javascript:;" ng-click="batchDel()" ><i class="fa fa-trash mr-3"></i>批量删除</a>
    </div>
    <!-- 数据展示 -->
    <div class="table-wrapper">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th style="width:20px;"><input type="checkbox" name="cbAll" ng-model="cbAll" ng-checked="cbAll" ng-change="cbAllChange()"></th>
            <th>姓名</th>
            <th>所在城市</th>
            <th>所在商会</th>
            <th>商会职位</th>
            <th>企业名称/职务</th>
            <th>分组</th>
            <th>手机号</th>
            <th>入会时间</th>
            <th>到期时间</th>
            <th>身份</th>
            <th style="width:150px;">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in dataList">
            <td><input type="checkbox" name="cb" value="{{item.userId}}" ng-checked="item._selected" ng-model="item._selected"></td>
            <td><span ng-bind="item.realName"></span></td>
            <td><span ng-bind="item.city"></span></td>
            <td><span ng-bind="item.sociatyName"></span></td>
            <td><span ng-bind="item.positionName"></span></td>
            <td><span ng-bind="item.registerCompany"></span> <span ng-bind="item.registerPosition"></span></td>
            <td><span ng-bind="item.groupName"></span></td>
            <td><span ng-bind="item.userPhone"></span></td>
            <td><span ng-bind="item.joinTime"></span></td>
            <td><span ng-bind="item.overdueTime" ng-class="{1:'c-success',2:'c-warning',3:'c-danger'}[item.duesStatus]"></span></td>
            <td><span ng-bind="{'1':'游客','2':'同乡','3':'会员'}[item.memberType]"></span></td>
            <td class="text-center">
              <a href="javascript:;" class="c-primary" ui-sref="union.memberedit({id:item.userId})">编辑</a>
              <a href="javascript:;" class="c-primary" ui-sref="member.more({id:item.userId})">更多</a>
              <a href="javascript:;" class="c-primary" ng-click="del(item.userId)">删除</a>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <!-- 数据分页 -->
    <div class="table-pager clearfix">
      <ul class="pagination pull-left">
          <li>
              <a>共{{pagerOption.pages}}页,{{pagerOption.total}}条记录</a>
          </li>
      </ul>
      <!-- 分页插件 -->
      <uib-pagination total-items="pagerOption.total" ng-model="queryModel.page" max-size="10" ng-change="query()" items-per-page="pagerOption.pagesize" boundary-links="true" class="pagination-md pull-right" rotate="false" num-pages="pagerOption.pages"></uib-pagination>
    </div>

</div>
    