<div class="main-view-wrapper">
    <form class="form-horizontal" name="submitForm">
        <input type="text" class="form-control" ng-model="formData.helpId" hidden="hidden"/>
        
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="">姓名：</label></div>
            <div class="flex-1 control-field">
                <span ng-bind="formData.realName"></span>
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="">手机号码：</label></div>
            <div class="flex-1 control-field">
                <span ng-bind="formData.userPhone"></span>
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="">申请时间：</label></div>
            <div class="flex-1 control-field">
                <span ng-bind="formData.helpApplyTime"></span>
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="">申请商会：</label></div>
            <div class="flex-1 control-field">
                <span ng-bind="formData.socityName"></span>
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="required">内容：</label></div>
            <div class="flex-1 control-field">
                <textarea name="helpContent" id="helpContent" class="form-control" ng-model="formData.helpContent" required style="height: 180px;"></textarea>
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="">图片：</label></div>
            <div class="flex-1 control-field">
                <!-- 属性wu表示上传插件  ng-model绑定数据-->
                <div class="wu" wu ng-model="formData.helpPhoto" >
                    <input type="hidden" class="form-control file-upload" ng-model="formData.helpPhoto" name="helpPhoto" >
                    <div class="pick-wrap">
                        <div class="pick" data-preview="true">上传图片</div>
                    </div>
                    <div class="file-list">
                        
                    </div>
                </div>    
            </div>
        </div>
        
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title">&nbsp;</div>
            <div class="flex-1 control-field">
                <button class="btn btn-primary" type="button" ng-click="save($event)" ng-disabled="submitForm.$invalid || loading">保存并同意</button>
                <a class="btn btn-default" href="javascript:history.go(-1)">返回</a>
            </div>

        </div>
        
    </form>

   
    
</div>
    
