.main-container{
  width: 1190px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px 0px 0px;
  border: #e3e3e3 1px solid;
}
.paper-container{
  background-color: #fff;
  min-height: 600px;
  width: 1190px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 8px;
  border: #e3e3e3 1px solid;
  padding: 60px 135px;
}
.paper-container .paper-title{
  padding: 5px 0px;
  position: relative;
  border: transparent 1px solid;
  border-radius: 40px;
  text-align: center;
  margin-bottom: 10px;
}
.paper-container .paper-title h2{
  font-weight: bold;
}
.paper-container .paper-title:hover{
  border-color: #1f7ace;
}
.paper-container .edit-title{
  cursor: pointer;
  line-height: 40px;
  padding: 0px 15px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  background-color: #1f7ace;
  color: #fff;
  display: none;
}
.paper-container .paper-title:hover .edit-title{
  display: inline-block;
}
/*每个类型题目*/
.paper-type .type-title{
  cursor: pointer;
  padding: 5px 30px;
}
.paper-type .snigle-score input{
  width: 50px;
  border-radius: 15px;
  background-color: #f5f5f5;
  border-color: #ccc;
  padding:.4em .8em;
}
.question-list .question-item{
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-top: 5px;
  border: transparent 1px solid;
  padding:5px 40px;
  cursor: pointer;
}
.question-list{line-height: 1.8em;}
.question-option{padding-left: 20px;}
.question-option .option-item{padding-right: 0px;display: inline-block;line-height: 30px;}
.question-item .question-menu{
  display: none;
  position: absolute;
  top: -32px;
  right: -2px;
}
.question-option .option-item p{margin: 0px;}
.question-menu .menu-item{
  display: inline-block;
  margin-left: 5px;
  background-color: #1f7ace;
  color: #fff;
  padding: 2px 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.menu-item img{
  vertical-align: middle;
}
.menu-item.menu-cancle-collect{background-color: #aaa}
.question-menu .menu-replace,.question-menu .menu-bank-replace,
.question-menu .menu-down,.question-menu .menu-answer{
  padding: 4px 10px;
}
.question-title .question-number{
  position: absolute;
  top: 0px;
  left: 0px;
}
.question-option .option-item .option-icon{
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0px;
}
.text-in{text-indent: 20px;}
/*我的试卷*/
.my-paper .total-score{
  width: 50px;
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -55px;
  text-align: center;
  vertical-align: middle;
}
.my-paper .question-title{
  padding-left: 15px;
  position: relative;
  margin-bottom: 5px;
}
.my-paper .question-title.active{
  color: #1f7ace;
}
.my-paper .question-title.active:before{
  border-left-color: #1f7ace;
}
.my-paper .question-title:before{
  content: "";
  border: transparent 6px solid;
  border-left: #e6e6e6 10px solid;
  position: absolute;
  left: 0px;
  top: 4px; 
}
.my-paper .question-detail input[type="text"]{
  width: 50px;
  border-radius: 15px;
  padding: .2em .8em;
  margin-left: 3px;
  margin-right: 3px;
}
.my-paper .question-number{
  padding-top: 5px;
}
.my-paper .question-number .number{
  text-align: center;
  width: 17%;
  margin-right: 4px;
  margin-bottom: 8px;
  float: left;
  font-size: 12px;
  background-color: #1f7ace;
  display: inline-block;
  padding: 0px 2px;
}
.my-paper .question-number .number span{
  display: block;
  padding: 0px 2px;
  border-radius: 8px;
  background-color: #fff;
  color: #1f7ace;
}
.my-paper .question-number .number.active span{
  background-color: #1f7ace;
  color: #fff;
}
.my-paper .paper-download{
  width: 100%;
  display: block;
  padding: 5px 0;
  text-align: center;
  border-radius: 20px;
  border: #1f7ace 2px solid;
  color: #1f7ace;
  margin-bottom: 10px;
}
.my-paper .save-paper{
  width: 100%;
  display: block;
  padding: 5px 0;
  text-align: center;
  border-radius: 20px;
  background-color: #1f7ace;
  color: #fff;
}
.question-content .question-answer{display: none;}
.question-answer .item-title{
  padding: 5px 20px;
  background-color: #dfdfdf;
  margin-right: 10px;
  height: 36px;
}
.question-answer .content-item{
  line-height: 25px;
  padding: 10px 0px;
  border-top: #dfdfdf 1px dashed;
}

.paper-type .type-title{
  position: relative;
  border-radius: 20px;
  border: transparent 1px solid;
  padding-right: 80px;
}
.paper-type .type-title:hover{
  border-color: #1f7ace;
}
.paper-type .type-title:hover .edit-type-title{
  display: block;
}
.paper-type .edit-type-title{
  cursor: pointer;
  line-height: 30px;
  padding: 0px 15px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  background-color: #1f7ace;
  color: #fff;
  display: none;
}

/*正在加载中*/
.loading{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -25px;
  text-align: center;
}

/*答案解析*/
.content-item p{margin: 0px;}
.content-item .analysis-number,.content-item .answer-number{
  position: absolute;
  top: 0px;
  left: 0px;
}
.content-item .fill-blank p{display: inline;}