.banner{
  width: 100%;
  min-height: 160px;
  background-color: #fff;
}
.banner a{display: block;}
.banner img{width: 100%;}

.main-nav{
  text-align: center;
  background-color: #fff;
  padding: 20px 0;
}
.main-nav a.full img{
  padding: 0 1.14em;
}
.main-nav a.full p{margin-top: 15px;font-size: 0.8em;}
.main-container{
  margin: 10px 0;
  width: 100%;
  padding: 5px 0 0;
  background-color: #fff;
}
.main-container h2{
  margin: 5px 10px 10px;
  padding-left: 10px;
  border-left: #0087ff 4px solid;
  font-size: 1.2em; 
}
.main-container .news-items{
  border-top: #dbdbdb 1px solid;
  border-bottom: #dbdbdb 1px solid;
}
.news-items .news-item{
  display: block;
  margin: 0 10px;
  position: relative;
}
.news-item .item-img{
  float: left;
  margin: 15px 0;
  width: 8em;
  height: 5.5em;
}
.news-item .item-img img{width: auto;height: 100%}
.news-item .item-info{
  margin: 15px 0 15px 8.6em;
}
.item-info .info-header{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1em;
}
.info-header .badge{
  font-size: 0.8em;
  color: #fff;
  background-color: #0087ff;
  border-radius: 3px;
  padding: 2px;
}
.item-info .info-content{
  color: #808080;
  font-size: 0.8em;
  line-height: 1.5em;
  height:  2.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px 0;
}
.item-info .info-information{
  font-size: 0.8em;
  text-align: right;
  color: #b2b2b2;
  margin-right: 1em;
}
.item-info .info-information span:last-of-type{margin-left: 1em}

.news-items .news-item + .news-item{
  border-top: #dddddd 1px solid;
}