html,body{
  padding: 0;
  width: 100%;
  font-family: 'Microsoft Yahei','微软雅黑';
  font-size: 14px;
  max-width: 640px;
  box-sizing: border-box;
  margin: 0 auto;
  font-weight: normal;
  min-height: 567px;
}
body{
  background-color: #f2f2f2;
}
a:active{
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);  
  -moz-tap-highlight-color:rgba(0, 0, 0, 0);  
  -ms-tap-highlight-color:rgba(0, 0, 0, 0);  
  -o-tap-highlight-color:rgba(0, 0, 0, 0);  
  tap-highlight-color:rgba(0, 0, 0, 0);  
}
.header{
  top: 0;
  height: 45px;
  line-height: 45px;
  background: #0087ff;
  color: #fff;
  font-size: 1.2em;
  position: fixed;
  z-index: 9;
  left: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 20px;
}
.header a{padding-right: 10px;}
.error-container{
  padding-top: 55px;
}
.error-container .error-summary{
  background-color: #fff;
  padding: 15px 10px;
}
.error-summary div{
  padding-left: 12px;
  border-left: #0087ff 4px solid;
}
.error-container .panel{
  padding: 0 10px;
}
.panel .panel-item{padding: 15px 0;}
.panel .panel-item + .panel-item{
  border-top: #dcdcdc 1px solid;
}
.panel .question{margin-bottom: 10px;}
.panel-item .operation{
  margin-top: 15px;
  text-align: right;
}
.operation .btn-primary{
  background-color: #0087ff;
  border-color: #0087ff;
}
.operation .btn{width: 20%;text-align: center;padding: 0.4em 0;}
.operation .btn + .btn{margin-left: 10px;}

/*底部提示*/
.content-tip{
  position: relative;
  margin-top: 30px;
  text-align: center;
  color: #b3b3b3;
}
.content-tip .line{
  width: 80%;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: #b3b3b3;
  z-index: -10;
}
.content-tip  span{
  background-color: #f2f2f2;
  padding: 0 10px;
}


/*上传成绩*/
.upload-content{padding-top: 55px; padding-bottom: 12px;}
.upload-content .panel{padding: 0 10px; margin-bottom: 12px}
.upload-content .upload-item{padding: 15px 0;}
.upload-content .upload-item + .upload-item{border-top: #d9d9d9 1px solid;}
.upload-content .item-title{
  position: relative;
  font-size: 1.1em;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item-title .badge{
  position: absolute;
  font-size: 0.8em;
  color: #fff;
  background-color: #0087ff;
  text-align: center;
  width: 42px;
  padding-top: 3px;
  left: 0;
  border-radius: 2px;
}
.upload-content .item-detail{
  color: #666;
}
.upload-content .item-detail span + span{margin-left: 5px;}
.upload-content .enter-detail{
  color: #999999;
  float: right;
  padding-left: 20px;
}
.upload-content .add-class{
  display: block;
  padding: .6em 0;
  width: 50%;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  background-color: #0087ff;
  margin-top: 30px;
  border-radius: 4px;
}

/*进入详情*/
.upload-content .upload-paper{
  margin-top: -2px;
  display: inline-block;
  float: right;
  padding: 2px 0;
  text-align: center;
  width: 18%;
  border-radius: 2px;
  background-color: #0087ff;
  color: #fff;
}
.upload-content .upload-paper.unuoload{background-color: #b3b3b3;}

.subject-nav{
  width: 100%;
  padding-top: 45px;
  background-color: #fff;
  height: 85px;
  line-height: 36px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.subject-nav .subject-link{display: inline-block; padding: 0 10px;}
.subject-nav .subject-link.active{border-bottom: #0087ff 4px solid;}



/*试卷详情*/
.examination-container{
  padding-top: 55px;
  padding-bottom: 10px;
}
.examination-content .examination-panel{
  background-color: #fff;
  padding: 10px 0 10px;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 12px;
}
.examination-content .panel{
  padding: 10px 0 0;
}
.examination-container .examination-title{
  margin: 5px 10px 15px;
  padding-left: 15px;
  border-left: #0087ff 4px solid;
  font-size: 1.1em
}
.examination-container .examination-number + .examination-number{border-top: #d9d9d9 1px solid;}
.examination-container .examination-detail{
  border-top: #d9d9d9 1px solid;
  border-bottom: #d9d9d9 1px solid;
}
.examination-number .question-number{
  display:block;
  width:16.66%;
  float:left;
  text-align: center;
  padding: 10px;
  color: #999;
}
.examination-number .question-number {
  border-right: #d9d9d9 1px solid;
}

.short-answer{padding-left: 10px;}
.question-number.none-line{border-right: 0px;}
.short-answer .examination-number .question-number{
  width: 25%;
  border-right: 0px;
  text-align: left;
  padding-left: 0px;
}
.short-answer .input-number{
  width: 60%;
  border: 0px;
  box-shadow: none;
  padding: 10px 0;
}
.short-answer .input-number:focus{border: 0; box-shadow: none;}

.examination-content .submit-examination{
  width: 70%;
  text-align: center;
  background-color: #0087ff;
  color: #fff;
  border-radius: 4px;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: 15%;
}

@media screen and (min-width: 414px) {
  body{
    font-size: 16px;
  }
}