#macro(csrfTokenInput)
	<input type="hidden" name="tangtang_token" value="$!tangtang_token">
#end

#macro(head $title)
#set($assetsServer = $context.assetsServer)
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>#if($!title) 流量包子充值平台,$!title #else 流量包子充值平台#end</title>
<meta name="keywords" content="流量,充值,话费,Q币,网上供货,充值平台,供货平台" />
<meta name="description" content="流量包子充值网,流量包子充值供货平台" />
<link href="$!{assetsServer}assets/css/bootstrap-cerulean.css" rel="stylesheet">
<link href="$!{assetsServer}assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="$!{assetsServer}assets/css/charisma-app.css" rel="stylesheet">
<link href='$!{assetsServer}assets/css/opa-icons.css' rel='stylesheet'>
<link href="$!{assetsServer}assets/css/core/tangtang-all.css?v=20151027" rel="stylesheet">
<link href='$!{assetsServer}assets/css/doubleDate.css' rel='stylesheet'>
<link rel="stylesheet" type="text/css" href="$!{assetsServer}assets/css/tab.css?v=20150302" />
<!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" href="$!{assetsServer}assets/css/bootstrap-ie6.min.css">
    <![endif]-->
<!--[if lte IE 7]>
    <link rel="stylesheet" type="text/css" href="$!{assetsServer}assets/css/ie.css">
    <![endif]-->
<!--[if lt IE 9]>
	 <script src="$!{assetsServer}assets/js/html5.js"></script>
<![endif]-->
</head>
#end

#macro(header)
#set($contextPath = $context.contextPath)
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="$!{contextPath}main.htm"><img src="$!{assetsServer}assets/img/main-logo.png" /></a>
				<div class="nav pull-right">
					#if($!userInfo)
					<a href="$!{contextPath}loginOut.htm" style="color: #fff;font-size: 16px;margin-top: 20px;margin-right: 20px;line-height: 30px;">退出</a>
					<a id="userMenu" class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user icon-white"></i><span class="hidden-phone">
							$!userInfo.loginId </span> <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="$!{contextPath}funds/acctIn.htm">账户充值</a></li>
						<li><a href="$!{contextPath}funds/queryAcctLog.htm?pageSize=5">账户明细</a></li>
						<li><a href="$!{contextPath}user/userInfoShow.htm">商户设置</a></li>
						<li class="noshade"></li>
						<li><a>当前余额：&nbsp;<span id="balanceContent" class="red"></span></a></li>
					</ul>
					#end
				</div>
				<div class="nav-collapse collapse">
					<ul class="nav pull-left">
						<li class=""><a href="$!{contextPath}main.htm">首页</a></li>
						#if($!userInfo)
						<li class=""><a href="$!{contextPath}forWaiting.htm">客服热线</a></li>
						#end
					</ul>
				</div>				
			</div>
		</div>
	</div>
#end

#macro(headerUnLogin)
#set($contextPath = $context.contextPath)
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="$!{contextPath}main.htm"><img src="$!{assetsServer}assets/img/main-logo.png" /></a>
				<div class="nav-collapse collapse">
					<ul class="nav register pull-right">
						<li class=""><a href="$!{contextPath}index.htm">登录</a></li>
						<li class=""><a href="$!{contextPath}user/register.htm">注册</a></li>
					</ul>
				</div>				
			</div>
		</div>
	</div>
#end

#macro(sidebarIsActive $navId $actId)
	#if($!actId == $!navId)
		active
	#end 
#end

#macro(sidebar $actId)
#set($contextPath = $context.contextPath)
		    <div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
						<ul class="nav nav-tabs nav-stacked main-menu">
							<li class="nav-header hidden-tablet">充值中心
							  <span><i class="icon icon-black icon-carat-1-e"></i></span>
							</li>
							<li class="#sidebarIsActive('phone',$actId)" style="margin-left: -2px;"><a class="ajax-link" href="$!{contextPath}buy/phoneRecharge.htm"><i class="icon-signal"></i><span class="hidden-tablet"> 话费充值</span></a></li>
							<li class="#sidebarIsActive('flow',$actId) " style="margin-left: -2px;"><a class="ajax-link" href="$!{contextPath}buy/flowRecharge.htm"><i class="icon-filter"></i><span class="hidden-tablet"> 流量充值</span></a></li>
							<li class="#sidebarIsActive('qb',$actId) " style="margin-left: -2px;"><a class="ajax-link" href="$!{contextPath}buy/qbRecharge.htm"><i class="icon-filter"></i><span class="hidden-tablet"> Q币充值</span></a></li>
<!-- 							<li class="" style="margin-left: -2px;"><a class="ajax-link" href="$!{contextPath}forWaiting.htm"><i class="icon icon-darkgray icon-profile"></i><span class="hidden-tablet"> 游戏充值</span></a></li> -->
							<li class="nav-header hidden-tablet">商户服务中心
								<span><i class="icon icon-black icon-carat-1-e"></i></span>
							</li>
<!-- 							<li><a class="ajax-link" href="$!{contextPath}forWaiting.htm"><i class="icon-list-alt"></i><span class="hidden-tablet"> 充值联系人</span></a></li> -->
							<li class="#sidebarIsActive('bizOrder',$actId)" style="margin-left: -2px;"><a class="ajax-link" href="$!{contextPath}biz/queryBizOrder.htm?pageSize=5"><i class="icon icon-black icon-clipboard"></i><span class="hidden-tablet"> 充值记录</span></a></li>
							<li class="nav-header hidden-tablet">账户服务中心
							<span><i class="icon icon-black icon-carat-1-e"></i></span>
							</li>
							<li class="#sidebarIsActive('acctIn',$actId)" style="margin-left: -2px;"><a href="$!{contextPath}funds/acctIn.htm"><i class="icon-plus-sign"></i><span class="hidden-tablet"> 账户充值</span></a></li>
							<li class="#sidebarIsActive('acctLog',$actId)" style="margin-left: -2px;"><a class="ajax-link" href="$!{contextPath}funds/queryAcctLog.htm?pageSize=5"><i class="icon icon-black icon-pdf"></i><span class="hidden-tablet"> 账户明细</span></a></li>
							<li class="nav-header hidden-tablet">安全服务中心
							<span><i class="icon icon-black icon-carat-1-e"></i></span>
							</li>
							<li class="#sidebarIsActive('userInfo',$actId)" style="margin-left: -2px;"><a class="ajax-link" href="$!{contextPath}user/userInfoShow.htm"><i class="icon icon-black icon-gear"></i><span class="hidden-tablet"> 商户设置</span></a></li>
<!-- 							<li><a class="ajax-link" href="$!{contextPath}forWaiting.htm"><i class="icon-user"></i><span class="hidden-tablet"> 手机绑定</span></a></li>											 -->
						</ul>	
				</div>
			</div>
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">警告</h4>
					<p>访问本网页需要开启javascript！</p>
				</div>
			</noscript>	
#end

#macro(breadcrumb $name $url)
#set($contextPath = $context.contextPath)
	<ul class="breadcrumb">
		<li>
			<a href="$!{contextPath}main.htm">首页</a> <span class="divider"> > </span>
		</li>
		<li>
			<a href="$!url">$!name</a>
		</li>
	</ul>
#end


#macro(stepBarPhone $step)
#set($contextPath = $context.contextPath)
	<ul class="breadcrumb">
		<li class="stepbar">
			<div class="#checkStepBarActive($!step,1)">
				<span class="step-icon">1</span><span class="content">填写手机号</span> <span class="divider content">  &gt; </span>
			</div>
		</li>
		<li class="stepbar">
			<div class="#checkStepBarActive($!step,2)">
				<span class="step-icon">2</span><span class="content">确认支付</span> <span class="divider content">  &gt; </span>
			</div>
		</li>
		<li class="stepbar">
			<div class="#checkStepBarActive($!step,3)">
				<span class="step-icon">3</span><span class="content">结果确认</span>
			</div>	
		</li>		
	</ul>
#end

#macro(stepBarQb $step)
#set($contextPath = $context.contextPath)
	<ul class="breadcrumb">
		
		<li class="stepbar">
			<div class="#checkStepBarActive($!step,1)">
				<span class="step-icon">1</span><span class="content">填写QQ号</span> <span class="divider content">  &gt; </span>
			</div>
		</li>
		<li class="stepbar">
			<div class="#checkStepBarActive($!step,2)">
				<span class="step-icon">2</span><span class="content">确认支付</span> <span class="divider content">  &gt; </span>
			</div>
		</li>
		<li class="stepbar">
			<div class="#checkStepBarActive($!step,3)">
				<span class="step-icon">3</span><span class="content">结果确认</span>
			</div>	
		</li>		
	</ul>
#end

#macro(checkStepBarActive $nowStep $step)
	#if($!nowStep >= $step) current #end
#end

#macro(footer)
#set($assetsServer = $context.assetsServer)
<script type="text/javascript" src="$!{assetsServer}assets/js/jquery.js"></script>
<script type="text/javascript" src="$!{assetsServer}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="$!{assetsServer}assets/js/jquery.placeholder.js"></script>
<script type="text/javascript" src="$!{assetsServer}assets/js/placeholder.js"></script>
<script type="text/javascript" src="$!{assetsServer}assets/js/jquery.cookie.js"></script>
<script type="text/javascript" src="$!{assetsServer}assets/js/core/tangtang-all.js"></script>
<script type="text/javascript" src='$!{assetsServer}assets/js/doubleDate2.0.js'></script>
<script type="text/javascript" src='$!{assetsServer}assets/js/md5.js'></script>
<!-- <script type='text/javascript' src='http://tb.53kf.com/kf.php?arg=10095172&style=1'></script> -->
<!--[if lte IE 6]>
  <script type="text/javascript" src="assets/js/bootstrap-ie.js"></script>
<![endif]-->
<div class="clearfix"></div>
<hr>
<div class="footer">Copyright © 2015 杭州天变科技有限公司 All Rights Reserved.</div>
#if($!userInfo)
	<script type="text/javascript">
	$(document).ready(function(){
		$("#userMenu").click(function(){
			$.ajax({
			url:"$!{contextPath}api/showBalance.htm",
			async:true,
			dataType:"json",
			beforeSend:function(){
				//
			},
			success: function(data, textStatus){
				var status = data.status;
				if(data == "" || data == undefined || data == null){
					$("#balanceContent").html("网络连接超时");
					return;
				}
				if(status == "error"){
					$("#balanceContent").html(response.errorMsg);
					return;
				}
				var balance = data.module.balance;
				$("#balanceContent").html(balance + "元");
			}
		});
	 });
	});
</script>
#end

<div class="center"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254370018'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254370018%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></div>
#end



#macro(modalPayPwdEdit)
<!-- Modal -->
#set($contextPath = $context.contextPath)
<div id="payPwdEditModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="payPwdEditModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="payPwdEditModalLabel">支付密码设置</h3>
  </div>
  <form id="setForm" class="form-horizontal" action="$!{contextPath}user/payPwdSet.htm" method="post">
  <div class="modal-body">
  			<div class="alert alert-warn">您还未设置支付密码，为了您的交易安全请设置支付密码。</div>
					<input id="payPwd" type="hidden" name="payPwd" >
					#csrfTokenInput()
					#getErrorMessage($errorList,"errorMsg")  			
  					<fieldset>
							  <div class="control-group">
								<label class="control-label">支付密码:</label>
								<div class="controls">
									<input id="payPwd1" type="password" name="payPwd1"  placeholder="6~20个字符(字母、数字组合)" value="">
								</div>
							  </div>
							  <div class="control-group">
								<label class="control-label">确认支付密码:</label>
								<div class="controls">
								  <div>
									<input id="payPwd2" type="password" name="payPwd2" placeholder="再次输入密码" value="">
								  </div>
								</div>
							  </div>
					</fieldset>		
  </div>
  <div class="modal-footer center">
<!--     <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> -->
    <button type="submit" class="btn btn-primary">提交</button>
  </div>
  </form>	
</div>
<script src="$!{assetsServer}assets/js/jquery.validate.min.js"></script>
<script src="$!{assetsServer}assets/js/core/payPwdEdit.js"></script>
<script type="text/javascript">
	$().ready(function() {
		#if(!$!isSetPayPwd)
			$('#payPwdEditModal').modal({backdrop: 'static', keyboard: false});	
			$('#payPwdEditModal').modal('show');
		#end
	}); 
</script>
#end

#macro(bizOrderStatus $status)
	#if($!status=="成功")
	<span class="label label-success">$!status</span>
	#elseif($!status=="失败")
	<span class="label  label-important">$!status</span>
	#else
	<span class="label label-warning">处理中</span>
	#end
#end

#macro(statusStyle $status)
	#if($!status=="正常")
	<span class="label label-success">$!status</span>
	#else
	<span class="label  label-important">$!status</span>
	#end
#end


#macro(showMessage $message $returnUrl)
	#if($!message)
		<div class="alert alert-error">
		     抱歉我们遇到了一个错误：$!message   请联系我们的客服协助解决问题！  <span> #if($!returnUrl)  请点击  <a href='#' onclick="javascript:window.location.href='$!returnUrl'" >这里</a>返回   #end </span> 
		</div>
	#end
#end


#macro(showTableError $!errorList $tdCount)
     #set($errors = $!errorList)
	 #if($errors)
		#foreach($e in $errors)
			<tr>
			<td colspan="$!tdCount" class="red"> ${e.defaultMessage}</td>
			</tr>			
	        #break
		#end
	 #end	
#end


#macro(isActive $navId $actId)
	#if($!actId == $!navId) actived #end
#end

#macro(phoneTab $activeId)
	<div class="tabs">
				<input id="tab-1" onclick="javascript: window.location.href='phoneRecharge.htm'" type="radio" name="radio-set" class="tab-selector-1 #isActive('phone',$!activeId)"  />
				<label for="tab-1" class="tab-label-1 #isActive('phone',$!activeId)">话费充值</label>
		
				<input id="tab-2" onclick="javascript: window.location.href='multiPhoneRecharge.htm'" type="radio" name="radio-set" class="tab-selector-2 #isActive('multi',$!activeId)" />
				<label for="tab-2" class="tab-label-2 #isActive('multi',$!activeId)">话费批充</label>
				<div class="clear-shadow "></div>
				<div class="content"> </div>
	</div>
#end


#macro(flowTab $activeId)
	<div class="tabs">
			<input id="tab-1" onclick="javascript: window.location.href='flowRecharge.htm'" type="radio" name="radio-set" class="tab-selector-1 #isActive('flow',$!activeId)"  />
			<label for="tab-1" class="tab-label-1 #isActive('flow',$!activeId)">流量充值</label>
	
			<input id="tab-2" onclick="javascript: window.location.href='multiFlowRecharge.htm'" type="radio" name="radio-set" class="tab-selector-2 #isActive('multi',$!activeId)" />
			<label for="tab-2" class="tab-label-2 #isActive('multi',$!activeId)">流量批充</label>
			<div class="clear-shadow "></div>
			<div class="content"> </div>
	</div>
#end

#macro(qbTab $activeId)
	<div class="tabs">
			<input id="tab-1" onclick="javascript: window.location.href='qbRecharge.htm'" type="radio" name="radio-set" class="tab-selector-1 #isActive('qb',$!activeId)"  />
			<label for="tab-1" class="tab-label-1 #isActive('qb',$!activeId)">Q币充值</label>
	
			<input id="tab-2" onclick="javascript: window.location.href='multiQbRecharge.htm'" type="radio" name="radio-set" class="tab-selector-2 #isActive('multi',$!activeId)" />
			<label for="tab-2" class="tab-label-2 #isActive('multi',$!activeId)">Q币批充</label>
			<div class="clear-shadow "></div>
			<div class="content"> </div>
	</div>
#end

#macro(acctInTab $activeId)
	<div class="tabs">
			<input id="tab-1" onclick="javascript: window.location.href='acctIn.htm'" type="radio" name="radio-set" class="tab-selector-1 #isActive('offline',$!activeId)"  />
			<label for="tab-1" class="tab-label-1 #isActive('offline',$!activeId)">银行转账</label>
	
			<input id="tab-2" title="建设中....." type="radio" name="radio-set" class="tab-selector-2 #isActive('alipay',$!activeId)" />
			<label for="tab-2" class="tab-label-2 #isActive('alipay',$!activeId)">支付宝充值</label>
			
			<div class="clear-shadow "></div>
			<div class="content"> </div>
	</div>
#end

#macro(userInfoTab $activeId)
	<div class="tabs">
			<input id="tab-1" onclick="javascript: window.location.href='userInfoShow.htm'" type="radio" name="radio-set" class="tab-selector-1 #isActive('userInfoShow',$!activeId)" style='width:140px;'/>
			<label for="tab-1" class="tab-label-1 #isActive('userInfoShow',$!activeId)" style="width:25%;">商户信息</label>
	
			<input id="tab-2" onclick="javascript: window.location.href='userInfoEdit.htm'" type="radio" name="radio-set" class="tab-selector-2 #isActive('userInfoEdit',$!activeId)" style='left: 25%;'/>
			<label for="tab-2" class="tab-label-2 #isActive('userInfoEdit',$!activeId)" style="width:25%;border-right: 1px solid #dfdfdf;">商户信息修改</label>
			
			<input id="tab-3" onclick="javascript: window.location.href='loginPwdEdit.htm'" type="radio" name="radio-set" class="tab-selector-3 #isActive('loginPwdEdit',$!activeId)" style='left: 50%;'/>
			<label for="tab-3" class="tab-label-3 #isActive('loginPwdEdit',$!activeId)" style="width:25%;border-right: 1px solid #dfdfdf;">登录密码修改</label>
			
			<input id="tab-4" onclick="javascript: window.location.href='payPwdEdit.htm'" type="radio" name="radio-set" class="tab-selector-4 #isActive('payPwdEdit',$!activeId)" style='left: 75%;'/>
			<label for="tab-4" class="tab-label-4 #isActive('payPwdEdit',$!activeId)" style="width:25%">支付密码修改</label>
			<div class="clear-shadow "></div>
			<div class="content"> </div>
	</div>
#end

#macro(showAcctInResult $result)
	#if(!$result)
		<h3>申请异常！</h3> <span id="remain" class="red">30</span>秒后返回首页。
	#elseif($!result.isSuccess())
		<h3>申请成功！</h3> 我们会在2到3小时内进行人工审核。<span id="remain" class="red">30</span>秒后返回首页。
	#else
		<h3>申请失败！</h3> $!result.resultMsg <span id="remain" class="red">30</span>秒后返回首页。
	#end
#end

#macro(showAcctInResultClass $result)
	#if(!$result)
		alert-error
	#elseif($!result.isSuccess())
		alert-success
	#else
		alert-error
	#end
#end

#macro(showBizOrderResult $bizOrder)
	#if(!$bizOrder)
		<h2>充值异常！</h2> <span id="remain" class="red">30</span>秒后返回首页。
	#elseif($!bizOrder.status == 2)
		<h2>充值成功！</h2> <span id="remain" class="red">30</span>秒后返回首页。
	#elseif($!bizOrder.status == 3)
		<h2>充值失败！</h2> <span id="remain" class="red">30</span>秒后返回首页。
	#else
		<h2>支付成功！</h2> 预计在5分钟内到帐。  <span id="remain" class="red">30</span>秒后返回首页。
	#end
#end

#macro(showBizOrderResultClass $bizOrder)
	#if(!$bizOrder)
		alert-error
	#elseif($!bizOrder.status == 2)
		alert-success
	#elseif($!bizOrder.status == 3)
		alert-error
	#else
		alert-block
	#end
#end

#macro(showUserInfoOperResult $result $resultDescription)
	#if(!$result||$!result.isSuccess())
		<h3>$!resultDescription</h3>
	#else
		<h3>$!resultDescription $!result.resultMsg</h3>
	#end
#end

#macro(showUserInfoOperResultClass $result)
	#if(!$result)
		alert-error
	#elseif($!result.isSuccess())
		alert-success
	#else
		alert-error
	#end
#end

#macro(showUserRegisterResult $result)
	#if(!$result)
		<h3>注册异常！</h3> <span id="remain" class="red">30</span>秒后返回首页。
	#elseif($!result.isSuccess())
		<h3>注册成功!</h3>   <span id="remain" class="red">10</span>秒后带您进入首页 ,点<a href="#" onclick="returnBack()">这里</a>马上进入。
	#else
		<h3>注册失败！</h3> $!result.resultMsg <span id="remain" class="red">30</span>秒后返回首页。
	#end
#end