#macro(pagination $query $formName)			
<tr class="tr_pagenumber">
#set($cPage = $!query.currentPage)
#if(!$cPage)
	#set($cPage = 1)
#end
#set($tPage = $!query.totalPage)
#if(!$tPage)
	#set($tPage = 0)
#end
#set($pSize = $!query.pageSize)
#if(!$pSize)
	#set($pSize = 0)
#end
#set($tItem = $!query.totalItem)
#if(!$tItem)
	#set($tItem = 0)
#end

#set($prePage = $cPage - 1)
#set($nextPage = $cPage + 1)

#set($showSize = 5) ##默认显示页数
#set($midleSize = 2) ##左边到当前页的间隔页数
#set($leftPage = 0)
#set($rightPage = 0)

#if($tPage == 0)
	#set($leftPage = 0)
	#set($rigtPage = 0)
#elseif($tPage < $showSize)
	#set($leftPage = 1)
	#set($rightPage = $tPage)
#else
	#if($cPage < $showSize)
    	#set($leftPage = 1)
    	#set($rightPage = $showSize)
	#else
		#set($leftPage = $cPage - $midleSize)
		#if($leftPage < 1)
			#set($leftPage = 1)
		#end
		#set($rightPage = $cPage + $midleSize)
		#if($rightPage > $tPage)
			#set($rightPage = $tPage)
		#end
	#end
#end

#*
tpage : $tPage
leftPage : $leftPage
cPage : $cPage
leftPage:$leftPage
rightPage: $rightPage
*#


	<td colspan="100">当前第$cPage页/共 $tPage页&nbsp;&nbsp;共$tItem条记录&nbsp;&nbsp;
     	
	<a href='#' class="btn-page" onclick="gotoPageP(1)">首页</a>&nbsp;
    <a href='#' class="btn-page" #if($!tItem > 0) onclick="gotoPageP($prePage)" #end >上一页</a>&nbsp;
    #if($!tPage > 1)
        #foreach($p in [$leftPage..$rightPage])
        	#if($p == $leftPage)
        		#if($p > 1)
        		<a href='#' class="btn-page">...</a>
        		#end
        	#end
        	
        	#if($p == $cPage)
        		<a href='#'class="btn-page current">$p</a>
        	#else
        		<a href='#' class="btn-page" onclick="gotoPageP($p)">$p</a>
        	#end
        	
        	#if($p == $rightPage)
        		#if($p < $tPage)
        		<a href='#' class="btn-page">...</a>
        		#end
        	#end
    	#end
    #elseif($!tPage == 1)
           <a href='#' class="btn-page current">1</a>
    #elseif($!tPage == 0)
	#end
     <a href="#" class="btn-page" #if($!tItem > 0) onclick="gotoPageP($nextPage)" #end>下一页</a>
     <a href="#" class="btn-page" onclick="gotoPageP($tPage)">末页</a>

     <span>
        到第<input type="text" id="paginationCPage" name="currentPage" value="$cPage" style="width:16px;" /> 页
        <button type="submit" class="btn-page" onclick = "gotoPageByForm()">GO</button>&nbsp;&nbsp;
    </span>   


     </td>


 </tr>
	
 
  <script language="javascript" type="text/javascript">
	function gotoPageByForm(){
		var form = document.forms["$formName"];
		var page = 1;
		if (form) {
    		page = form.paginationCPage.value;
			//var reg = RegExp('/^\d+$/'); 
			//if(!reg.test(page)){
			//	page = 1;
			//}
    	}
        gotoPageP(page);
	}
    function gotoPageP(newPage) {
    	var f = jQuery('#$formName');
    	if (f) {
			var page = jQuery("input[name='currentPage']");
			if(page){
				page.val(newPage);
			}
    		f.submit();
    	}
    }
  </script> 
#end


#macro(pagination2 $query $formName $action)			

#set($cPage = $!query.currentPage)
#if(!$cPage)
	#set($cPage = 1)
#end
#set($tPage = $!query.totalPage)
#if(!$tPage)
	#set($tPage = 0)
#end
#set($pSize = $!query.pageSize)
#if(!$pSize)
	#set($pSize = 0)
#end
#set($tItem = $!query.totalItem)
#if(!$tItem)
	#set($tItem = 0)
#end

#set($prePage = $cPage - 1)
#set($nextPage = $cPage + 1)

#set($showSize = 5) ##默认显示页数
#set($midleSize = 2) ##左边到当前页的间隔页数
#set($leftPage = 0)
#set($rightPage = 0)

#if($tPage == 0)
	#set($leftPage = 0)
	#set($rigtPage = 0)
#elseif($tPage < $showSize)
	#set($leftPage = 1)
	#set($rightPage = $tPage)
#else
	#if($cPage < $showSize)
    	#set($leftPage = 1)
    	#set($rightPage = $showSize)
	#else
		#set($leftPage = $cPage - $midleSize)
		#if($leftPage < 1)
			#set($leftPage = 1)
		#end
		#set($rightPage = $cPage + $midleSize)
		#if($rightPage > $tPage)
			#set($rightPage = $tPage)
		#end
	#end
#end

#*
tpage : $tPage
leftPage : $leftPage
cPage : $cPage
leftPage:$leftPage
rightPage: $rightPage
*#
<div class="pagination pagination-centered" >
	<ur>

    	<li style="float:left">
            <span style="margin-right: 60px;height:34px;border: 0px;color: #666;">共&nbsp;$tPage&nbsp;页,&nbsp;$tItem&nbsp;条&nbsp;&nbsp;
           <font>每页显示</font>
            #selectMini($!pageSizeList,'pageSize',$!bizOrderQuery.pageSize)
          </span>
          
        </li>	
      </ur>
   <ur>	
	<li><a href='#' class="btn-page" onclick="gotoPageP(1)">首页</a>
    <a href='#' class="btn-page"  #if($!tItem > 0) onclick="gotoPageP($prePage)" #end ><</a></li>
    #if($!tPage > 1)
        #foreach($p in [$leftPage..$rightPage])
        	#if($p == $leftPage)
        		#if($p > 1)
        		<li><a href='#' class="btn-page">...</a></li>
        		#end
        	#end
        	
        	#if($p == $cPage)
        		<li class="btn-page current"><a href='#' >$p</a></li>
        	#else
        		<li><a class="btn-page" href='#' onclick="gotoPageP($p)">$p</a></li>
        	#end
        	
        	#if($p == $rightPage)
        		#if($p < $tPage)
        		<li><a href='#' class="btn-page" >...</a></li>
        		#end
        	#end
    	#end
    #elseif($!tPage == 1)
           <li><a href='#' class="btn-page current">1</a></li>
    #elseif($!tPage == 0)
	#end
     <li><a href="#" class="btn-page" #if($!tItem > 0) onclick="gotoPageP($nextPage)" #end>></a></li>
     <li><a href="#" class="btn-page" onclick="gotoPageP($tPage)">尾页</a></li>
     <li>到第<input type="text"  id="paginationCPage" name="currentPage" value="$cPage" /> 页
      <button class="btn-page"  onclick = "gotoPageByForm()">GO</button></li>
 </ul>
</div>
	
 
  <script language="javascript" type="text/javascript">
	function gotoPageByForm(){
		var form = document.forms["$formName"];
		var page = 1;
		if (form) {
    		page = form.paginationCPage.value;
			//var reg = RegExp('/^\d+$/'); 
			//if(!reg.test(page)){
			//	page = 1;
			//}
    		if(!/^[0-9]*$/.test(page)){
    			page = 1;
	        }
    	}
        gotoPageP(page);
	}
    function gotoPageP(newPage) {
    	var f = jQuery('#$formName');
    	if (f) {
			var page = jQuery("input[name='currentPage']");
			if(page){
				page.val(newPage);
			}
			f.attr("action", "$!action");
    		f.submit();
    	}
    }
  </script> 
#end 