.dm-ml-5 {
  margin-left: 0.05rem;
}
.dm-ml-10 {
  margin-left: 0.1rem;
}
.dm-ml-15 {
  margin-left: 0.15rem;
}
.dm-ml-20 {
  margin-left: 0.2rem;
}
.dm-ml-25 {
  margin-left: 0.25rem;
}
.dm-ml-30 {
  margin-left: 0.3rem;
}
.dm-ml-35 {
  margin-left: 0.35rem;
}
.dm-ml-40 {
  margin-left: 0.4rem;
}
.dm-ml-45 {
  margin-left: 0.45rem;
}
.dm-ml-50 {
  margin-left: 0.5rem;
}
.dm-ml-55 {
  margin-left: 0.55rem;
}
.dm-ml-60 {
  margin-left: 0.6rem;
}
.dm-ml-65 {
  margin-left: 0.65rem;
}
.dm-ml-70 {
  margin-left: 0.7rem;
}
.dm-ml-75 {
  margin-left: 0.75rem;
}
.dm-ml-80 {
  margin-left: 0.8rem;
}
.dm-ml-85 {
  margin-left: 0.85rem;
}
.dm-ml-90 {
  margin-left: 0.9rem;
}
.dm-ml-95 {
  margin-left: 0.95rem;
}
.dm-mr-5 {
  margin-right: 0.05rem;
}
.dm-mr-10 {
  margin-right: 0.1rem;
}
.dm-mr-15 {
  margin-right: 0.15rem;
}
.dm-mr-20 {
  margin-right: 0.2rem;
}
.dm-mr-25 {
  margin-right: 0.25rem;
}
.dm-mr-30 {
  margin-right: 0.3rem;
}
.dm-mr-35 {
  margin-right: 0.35rem;
}
.dm-mr-40 {
  margin-right: 0.4rem;
}
.dm-mr-45 {
  margin-right: 0.45rem;
}
.dm-mr-50 {
  margin-right: 0.5rem;
}
.dm-mr-55 {
  margin-right: 0.55rem;
}
.dm-mr-60 {
  margin-right: 0.6rem;
}
.dm-mr-65 {
  margin-right: 0.65rem;
}
.dm-mr-70 {
  margin-right: 0.7rem;
}
.dm-mr-75 {
  margin-right: 0.75rem;
}
.dm-mr-80 {
  margin-right: 0.8rem;
}
.dm-mr-85 {
  margin-right: 0.85rem;
}
.dm-mr-90 {
  margin-right: 0.9rem;
}
.dm-mr-95 {
  margin-right: 0.95rem;
}
.dm-mt-5 {
  margin-top: 0.05rem;
}
.dm-mt-10 {
  margin-top: 0.1rem;
}
.dm-mt-15 {
  margin-top: 0.15rem;
}
.dm-mt-20 {
  margin-top: 0.2rem;
}
.dm-mt-25 {
  margin-top: 0.25rem;
}
.dm-mt-30 {
  margin-top: 0.3rem;
}
.dm-mt-35 {
  margin-top: 0.35rem;
}
.dm-mt-40 {
  margin-top: 0.4rem;
}
.dm-mt-45 {
  margin-top: 0.45rem;
}
.dm-mt-50 {
  margin-top: 0.5rem;
}
.dm-mt-55 {
  margin-top: 0.55rem;
}
.dm-mt-60 {
  margin-top: 0.6rem;
}
.dm-mt-65 {
  margin-top: 0.65rem;
}
.dm-mt-70 {
  margin-top: 0.7rem;
}
.dm-mt-75 {
  margin-top: 0.75rem;
}
.dm-mt-80 {
  margin-top: 0.8rem;
}
.dm-mt-85 {
  margin-top: 0.85rem;
}
.dm-mt-90 {
  margin-top: 0.9rem;
}
.dm-mt-95 {
  margin-top: 0.95rem;
}
.dm-mb-5 {
  margin-bottom: 0.05rem;
}
.dm-mb-10 {
  margin-bottom: 0.1rem;
}
.dm-mb-15 {
  margin-bottom: 0.15rem;
}
.dm-mb-20 {
  margin-bottom: 0.2rem;
}
.dm-mb-25 {
  margin-bottom: 0.25rem;
}
.dm-mb-30 {
  margin-bottom: 0.3rem;
}
.dm-mb-35 {
  margin-bottom: 0.35rem;
}
.dm-mb-40 {
  margin-bottom: 0.4rem;
}
.dm-mb-45 {
  margin-bottom: 0.45rem;
}
.dm-mb-50 {
  margin-bottom: 0.5rem;
}
.dm-mb-55 {
  margin-bottom: 0.55rem;
}
.dm-mb-60 {
  margin-bottom: 0.6rem;
}
.dm-mb-65 {
  margin-bottom: 0.65rem;
}
.dm-mb-70 {
  margin-bottom: 0.7rem;
}
.dm-mb-75 {
  margin-bottom: 0.75rem;
}
.dm-mb-80 {
  margin-bottom: 0.8rem;
}
.dm-mb-85 {
  margin-bottom: 0.85rem;
}
.dm-mb-90 {
  margin-bottom: 0.9rem;
}
.dm-mb-95 {
  margin-bottom: 0.95rem;
}
.dm-margin-5 {
  margin: 0.05rem;
}
.dm-margin-10 {
  margin: 0.1rem;
}
.dm-margin-15 {
  margin: 0.15rem;
}
.dm-margin-20 {
  margin: 0.2rem;
}
.dm-margin-25 {
  margin: 0.25rem;
}
.dm-margin-30 {
  margin: 0.3rem;
}
.dm-margin-35 {
  margin: 0.35rem;
}
.dm-margin-40 {
  margin: 0.4rem;
}
.dm-margin-45 {
  margin: 0.45rem;
}
.dm-margin-50 {
  margin: 0.5rem;
}
.dm-margin-55 {
  margin: 0.55rem;
}
.dm-margin-60 {
  margin: 0.6rem;
}
.dm-margin-65 {
  margin: 0.65rem;
}
.dm-margin-70 {
  margin: 0.7rem;
}
.dm-margin-75 {
  margin: 0.75rem;
}
.dm-margin-80 {
  margin: 0.8rem;
}
.dm-margin-85 {
  margin: 0.85rem;
}
.dm-margin-90 {
  margin: 0.9rem;
}
.dm-margin-95 {
  margin: 0.95rem;
}
