<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>商品价格查询</title>
	#parse("common/common.vm")
	#parse("common/select.vm")
	#parse("common/pagination.vm")
	
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/base.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/list-common.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/doubleDate.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
	<script type="text/javascript" src="$!staticServer/js/doubleDate2.0.js"></script>
	
</head>
<body class="list-body">
    $!errorMsg
    <div class="list-container">
      <div class="alert-title fz-16">商品价格查询</div>
         <form id="itemPriceQueryForm" class="queryForm" action="queryItemPrice.do" method="post" onsubmit="return submitCheck();">
            <table class="table query-style table-striped table-bordered table-condensed">
                <thead>
                    <tr>
                        <td colspan="8" class="auto-style2">请填写查询条件</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="w-8em">运营商</td>
                        <td class="detail">
                            #select($!carrierTypeList,'carrierType',$!itemPriceQuery.carrierType)
                        </td>
                        <td class="w-8em">供货商</td>
                        <td class="detail">
                            #selectClassBig($!supplyTraderList,"supplyTraderId",$!itemPriceQuery.supplyTraderId)
                        </td>
                        <td class="w-8em">供货商品状态 </td>
                        <td class="detail">
                            #select($!statusList,'status',$!itemPriceQuery.status)
                        </td>
                        <td class="w-8em">销售区域(不支持多省域查询)</td>
                        <td class="detail">
                            #select($!provinceList,'salesArea',$!itemPriceQuery.salesArea) 
                        </td>                   
                    </tr>
                    <tr>
                        <td>业务类型</td>
                        <td class="detail">
                            #select($!bizList,'bizId',$!itemPriceQuery.bizId)
                        </td>
                        <td>商品名称</td>
                        <td class="detail">
                            <input type="text" name="itemName" value="$!itemPriceQuery.itemName" /></td>
                        <td>商品编号</td>
                        <td class="detail">
                            <input type="text" class="input-small"  name="itemId" value="$!itemPriceQuery.itemId" /></td>
                        <td>商品面值</td>
                        <td class="detail">
                            <input type="text" class="input-small" id="itemFacePrice" name="itemFacePrice" value="$!itemPriceQuery.getPriceDesc($!itemPriceQuery.itemFacePrice)" /></td>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>供货商品编号</td>
                        <td class="detail">
                            <input type="text" class="input-small" name="id" value="$!itemPriceQuery.id" /></td>
                        </td>                   
                        <td>异常状态</td>
                        <td class="detail">
                            #select($!exceTypeList,'exceType',$!itemPriceQuery.exceType)
                        </td>                   
                    </tr>               
        
                    <tr>
                        <td colspan="8" align="left">
                            <a class="btn btn-inverse"  onclick="javascript:query();"  >查询</a>
                            <input class="btn btn-inverse"  type="reset" value="清空" />
                            <a class="btn btn-inverse"  onclick="javascript:fileExport()" >导出</a>
                        </td>
                    </tr>
                </tbody>
             </table>
        <div class="line"></div>
        <table class="table table-list table-striped table-bordered table-condensed" id="list">
            <div style="padding: 4px 6px 4px 0px;">
            <input type="checkbox" name="select-list" value="all"  onclick="selectAll()" /> &nbsp;&nbsp;  
            <a class="btn btn-inverse add"  onclick="javascript:batchModify();"  >批量调价</a>
            </div>
            <thead>
                <tr class="tr_detail">
                    <td></td>
                    <td>商品编号</td>
                    <td>商品名称</td>
                    <td style="width:100px">省域</td>
                    <td>面值(元)</td>
                    <td>成本折扣(%)</td>
                    <td>价格1折扣(%)</td>               
                    <td>价格2折扣(%)</td>   
                    <td>价格3折扣(%)</td>   
                    <td>价格4折扣(%)</td>
                    <td>供货商</td>
                    <td>状态</td>
                    <td>操作 </td>
                </tr>
            </thead>
            <tbody>
                
                #foreach($!itemPrice in $!itemPriceList)
                    <tr>
                    <td><input type="checkbox" name="$itemSupplyIdList" value="$!itemPrice.id"/></td>
                    <td>$!itemPrice.itemId</td>
                    #if($!itemPrice.bizId == 500)
                     <td>
                        <a href="queryGameItem.do?bizId=$!itemPrice.bizId&id=$!itemPrice.itemId" target="_blank">$!itemPrice.itemName</a>
                    </td>
                    #else
                     <td>
                        <a href="queryItem.do?bizId=$!itemPrice.bizId&id=$!itemPrice.itemId" target="_blank">$!itemPrice.itemName</a>
                    </td>
                    #end
                    <td> 
                    <span title="$!itemPrice.itemSalesAreaDesc" style="overflow: hidden;display: block; text-overflow: ellipsis;width: 10em; white-space: nowrap;">$!itemPrice.itemSalesAreaDesc
                    </span>             
                    </td>
                    <td>$!itemPrice.getPriceDesc($!itemPrice.itemFacePrice)</td>
                    <td>
                        $!itemPrice.itemCostPriceDiscount       
                    </td>
                    <td>
                        <font #if($!itemPrice.itemCostPriceDiscount && $!itemPrice.itemSalesPriceDiscount  && ($!itemPrice.itemCostPrice > $!itemPrice.itemSalesPrice))color=red #end>
                            $!itemPrice.itemSalesPriceDiscount
                        </font> 
                    </td>
                    <td>
                        <font #if($!itemPrice.itemCostPriceDiscount && $!itemPrice.itemSalesPrice2Discount  && ($!itemPrice.itemCostPrice > $!itemPrice.itemSalesPrice2))color=red #end>
                            $!itemPrice.itemSalesPrice2Discount
                        </font>                     
                    </td>
                    <td>
                        <font #if($!itemPrice.itemCostPriceDiscount && $!itemPrice.itemSalesPrice3Discount  && ($!itemPrice.itemCostPrice > $!itemPrice.itemSalesPrice3))color=red #end>
                            $!itemPrice.itemSalesPrice3Discount
                        </font>                     
                    </td>
                    <td>
                        <font #if($!itemPrice.itemCostPriceDiscount && $!itemPrice.itemSalesPrice4Discount  && ($!itemPrice.itemCostPrice > $!itemPrice.itemSalesPrice4))color=red #end>
                            $!itemPrice.itemSalesPrice4Discount
                        </font>                     
                    </td>
                    <td>$!itemPrice.supplyTraderName</td>               
                    <td>
                        <font #if($!itemPrice.showRed())color=red #end #if($!itemPrice.showGreen())color=green #end >
                            $!itemPrice.statusDesc
                        </font>
                    </td>
                    <td>
                        #if($!userInfo.isAdmin())
                            <a href="itemPriceEdit.do?itemSupplyId=$!itemPrice.id" class="btn  btn-mini btn-primary add" >调价</a>
                        #end
                    </td>
                </tr>
                #end
               
            </tbody>
        </table>

         #pagination2($!itemPriceQuery,'itemPriceQueryForm','queryItemPrice.do')
        
        </form>

    </div>
     
      <script type="text/javascript">   
            function submitCheck(){
                var itemFacePrice = jQuery('#itemFacePrice').val();
                if(itemFacePrice.length == 0){
                    return true;
                }
                if(!jQuery.isNumeric(itemFacePrice)){
                    alert("金额必须是数字");
                    return false;
                }
                jQuery('#itemFacePrice').val(itemFacePrice * 1000);
                return true;
            }     
            
            function query(){
                jQuery('#itemPriceQueryForm').attr("action", "queryItemPrice.do");
                jQuery('#itemPriceQueryForm').submit();
            }
            
            function fileExport(){
                jQuery('#itemPriceQueryForm').attr("action", "itemPriceExport.do");
                jQuery('#itemPriceQueryForm').submit();
            }
            
            function batchModify(){
                 var a = document.getElementsByTagName("input");
                 var list = "";
                 var count = 0;
                 for(var i = 0;i<a.length;i++){
                    if(a[i].type != "checkbox") {
                        continue;
                    }
                    
                     if(a[i].checked) {
                        if(a[i].value=="all"){
                            continue;
                        }
                        count++;
                        if(count == 1){
                            list = a[i].value; 
                        }else{
                            list = list + "," + a[i].value; 
                        }
                        
                     }
                 }
				 if(list.length==0){
				    alert("必须选择一个供货商品");
				 	return;
				 }
				window.location.href = "itemPriceListEdit.do?itemSupplyIdList=" + list;
    		}			
    			
    		function selectAll(){
                var a = document.getElementsByTagName("input");
    			 var tag = true;
    			 for(var i = 0;i<a.length;i++){
    			 	if(a[i].type != "checkbox") {
    					continue;
    				}
                  	 if(a[i].checked) {
    					 tag = false;
						 break;
    				 }else{
					 	 tag = true;
						 break;
					 }
                 }
				 
    			 for(var i = 0;i<a.length;i++){
    			 	if(a[i].type != "checkbox") {
    					continue;
    				}
                  	 if(tag) {
    					a[i].checked = false;
    				 }else{
					 	a[i].checked = true;
					 }
                 }
				
    		}
      </script>	
</body>
</html>
