<div class="main-wrapper">
    <form class="form-inline form-search">
        <div class="form-group m-5">
            <label>身份</label>
            <select class="form-control" ng-model="queryModel.memberType" ng-options="option.id as option.name for option in memberType">
                <option value="">--请选择--</option>
            </select>
        </div>
       
       <div class="form-group m-5">
            <label>商会职务</label>
            <select class="form-control" ng-model="queryModel.positionId" ng-options="option.positionId as option.positionName for option in sociaty_position_list">
                <option value="">--请选择--</option>
            </select>
       </div>
       <div class="m-5">
            <button class="btn btn-primary" ng-click="search(queryModel)"><i class="fa fa-search mr-3"></i>查询</button>
            <button class="btn btn-default" ng-click="clear()"><i class="fa fa-undo mr-3"></i>重置</button>
       </div>
    </form>
    <div class="mt-5 mb-5 ml-6">
        <a href="javascript:;" ui-sref="userInfo.create" class="btn btn-primary">添加用户</a>
        <a href="javascript:;" class="btn btn-danger vat" ng-click="batchDel()">批量删除</a>
    </div>
    <div class="table-wrapper" style="padding-left: 10px;">
        <table class="table table-bordered table-condensed table-striped table-hover">
            <thead>
                <th style="width: 50px;">
                    <input type="checkbox" name="selectAll" ng-model="cbAll" ng-click="cbAll" ng-checked="cbAll" ng-change="cbAllChange()">
                </th>
                <th>姓名</th>
                <th>商会职务</th>
                <th>公司名称/职务</th>
                <th>分组</th>
                <th>手机号码</th>
                <th>入会时间</th>
                <th>到期时间</th>
                <th>身份</th>
                <th style="width: 180px">操作</th>
            </thead>
            <tr ng-repeat="item in dataList">
                <td><input type="checkbox" name="selected" ng-model="item._selected" ng-checked="item._selected"></td>
                <td><span ng-bind="item.realName"></span></td>
                <td><span ng-bind="item.positionName"></span></td>
                <td>
                    <span ng-bind="item.registerCompany"></span>
                    <span ng-bind="item.registerPosition"></span>
                </td>
                <td><span ng-bind="item.groupName"></span></td>
                <td><span ng-bind="item.userPhone"></span></td>
                <td><span ng-bind="item.joinTime"></span></td>
                <td><span ng-bind="item.overdueTime" ng-class="{1:'c-success',2:'c-warning',3:'c-danger'}[item.duesStatus]"></span></td>
                <td><span ng-bind="{'1':'会员','2':'会长','3':'同乡'}[item.memberType]"></span></td>
                <td class="text-center">
                  <a href="javascript:;" class="c-primary" ui-sref="userInfo.edit({id:item.userId})">编辑</a>
                  <a href="javascript:;" class="c-primary">更多</a>
                  <a href="javascript:;" class="c-primary" ng-click='del(item.userId)'>删除</a>
                </td>
            </tr>
        </table>
    </div>

</div>
