.m-contact-list .header{
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border-bottom: #e6e6e6 1px solid;
    position: fixed;
    left: 0px;
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.m-contact-list .s-filter{
    position: fixed;
    z-index: 3;
    top: 45px;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}
.m-contact-list .s-filter .padding-header{padding-top: 50px;}
.m-contact-list .filter-title{
    position: relative; 
    max-width: 40%;
    text-align: center;
    padding-right: 22px;
    padding-left: 10px;
    overflow: hidden;
}
.m-contact-list .contact-content{padding-top: 62px;}
.m-contact-list .contact-item{position: relative;}
.m-contact-list .icon-img{
    position: absolute;
    width: 20px;
    top: 10px;
}

.s-filter.unfold{
    height: auto;
    bottom: -45px;
    overflow-y: auto;
    padding-bottom: 108px;
}
.m-contact-list .content-wrap{
    background-color: #fff;
}
.m-contact-list .content-wrap ul{
    max-height: 400px;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}
.m-contact-list .content-wrap ul li,
.m-contact-list .content-wrap .city,
.m-contact-list .content-wrap .county,
.m-contact-list .content-wrap .district{
    padding-top: 12px;
    padding-bottom: 12px;
    /*border-bottom: #eee 1px solid;*/
    padding-left: 30px;
}
.m-contact-list .content-wrap ul li.active,
.m-contact-list .content-wrap .city.active,
.m-contact-list .content-wrap .county.active,
.m-contact-list .content-wrap .district.active{
    color: #d4b168; 
}
.m-contact-list .filter-title .if {
    width: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: -webkit-transform .4s;
}
/*打开列表时，图标旋转180deg*/
.m-contact-list .filter-title.unfold .if {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.s-filter .content-wrap>ul,.s-filter .content-wrap>div.home-list {
    display: none;
}

.m-contact-list .filter-title.active,
.m-contact-list .filter-title.show{color: #d4b168}
.m-contact-list  .view-search input[type=search] {
    padding: 5px 0 5px 35px;
    line-height: 20px;
}
.m-contact-list .contact-item{color: #666;}
.m-contact-list .clear-search-history{color: #d4b168;}
.m-contact-list .clear-search-history:visited{color: #d4b168;}

/*无记录时*/
[data-page="0"]:before,[data-page="0"]:after{border: 0px;}

/*三角旋转*/
.filter-title.unfold .if .up{
    display: inline-block;
}
.filter-title.unfold .if .down{display: none;}
.if .up{display: none;}

.show .down{display: none;}
.show .up{
    display: block;
}

/*老家列表*/
.home-list{
    height: 400px;
}
.home-county,.home-district{
    display: none;
    top: 0px;
    border-left: #eee 1px solid;
}
.home-county{
    width: 70%;
    left: 30%;
}
.home-district{
    width: 40%;
    left: 60%;
}
.home-city{
    left: 0;
    width: 100%;
}
.home-city,.home-county,.home-district{
    background-color: #fff;
    height: 350px;
    overflow-y: auto;
    -webkit-overflow-scrolling : touch;
}
.home-list .home-btn{
    border-top: #eee 1px solid;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

/*小组样式*/
.m-contact-list .memberGroup .tag:first-of-type{
    background-color: #3fc1be;
}
.m-contact-list .memberGroup .tag:nth-child(2){
    background-color: #d3b167;
}
