.m-error{
    background-color: #fff;
}
.error-content{
    height: 100%;
    width: 100%;
    background-image: url("../../images/mobile/404.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 170px;
    color: #4a4a4a;
}
.error-content .text{
    font-size: 100px;
}