.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
.c-yellow{color: #d4b168;}
.navigation{background-color: #fff;}
.navigation a{
    display: inline-block;
    padding: 12px 0px 10px;
    width: 18%;
}
.navigation a img{
    max-width: 50px;
    width: 75%;
    margin-bottom: 7px;
}
/*最新会员*/
.icon-img img{
    width: 14px;
    margin-right: 6px;
    margin-top: -5px;
}
.member-item{
    padding: 15px 10px 15px 0px;
}
.member-item .tag-yellow{
    padding: 2px 8px;
    border-radius: 19px;
}
.member-item + .member-item{
    border-top: #e6e6e6 1px solid;
}