html,body{
    width: 100%;
    height: 100%;
    max-width: 640px;
    margin: 0 auto;
}
.m-main{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: relative;
}
.invitation{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 20%;
}
.invitation input{
    background-color: transparent;
    border-color: transparent;
    border: none;
    border-bottom: #8a8a8a 1px solid;
    text-align: center;
    font-size: 18px;
    outline: none;
    box-shadow:none !important;
    border-radius: 0px;
}
.invitation input:focus{
    outline: none;
    box-shadow: none;
    border: none;
    border-bottom: #8a8a8a 1px solid;
}
.invitation .form-control{
    margin-top: 45%;
    height: 6%;
    background-image: url("../../images/mobile/invite/btn-bg.png");
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
}
.form-control button{
    color: #fff;
    font-size: 16px;
}

/*邀请展示页面*/
.main-wrap{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 20%;
    text-align: center;
}
.main-wrap .membership{
    margin-top: 35%;
    padding: .4em .8em;
    background-image: url("../../images/mobile/invite/btn-bg.png");
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
a:active{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -ms-tap-highlight-color: rgba(0,0,0,0);
    -o-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}