.dm-t-0rem {
  top: -1rem;
}
.dm-t-0rem {
  top: -0.95rem;
}
.dm-t-0rem {
  top: -0.9rem;
}
.dm-t-0rem {
  top: -0.85rem;
}
.dm-t-0rem {
  top: -0.8rem;
}
.dm-t-0rem {
  top: -0.75rem;
}
.dm-t-0rem {
  top: -0.7rem;
}
.dm-t-0rem {
  top: -0.65rem;
}
.dm-t-0rem {
  top: -0.6rem;
}
.dm-t-0rem {
  top: -0.55rem;
}
.dm-t-0rem {
  top: -0.5rem;
}
.dm-t-0rem {
  top: -0.45rem;
}
.dm-t-0rem {
  top: -0.4rem;
}
.dm-t-0rem {
  top: -0.35rem;
}
.dm-t-0rem {
  top: -0.3rem;
}
.dm-t-0rem {
  top: -0.25rem;
}
.dm-t-0rem {
  top: -0.2rem;
}
.dm-t-0rem {
  top: -0.15rem;
}
.dm-t-0rem {
  top: -0.1rem;
}
.dm-t-0rem {
  top: -0.05rem;
}
.dm-t-0rem {
  top: 0rem;
}
.dm-t-0rem {
  top: 0.05rem;
}
.dm-t-0rem {
  top: 0.1rem;
}
.dm-t-0rem {
  top: 0.15rem;
}
.dm-t-0rem {
  top: 0.2rem;
}
.dm-t-0rem {
  top: 0.25rem;
}
.dm-t-0rem {
  top: 0.3rem;
}
.dm-t-0rem {
  top: 0.35rem;
}
.dm-t-0rem {
  top: 0.4rem;
}
.dm-t-0rem {
  top: 0.45rem;
}
.dm-t-0rem {
  top: 0.5rem;
}
.dm-t-0rem {
  top: 0.55rem;
}
.dm-t-0rem {
  top: 0.6rem;
}
.dm-t-0rem {
  top: 0.65rem;
}
.dm-t-0rem {
  top: 0.7rem;
}
.dm-t-0rem {
  top: 0.75rem;
}
.dm-t-0rem {
  top: 0.8rem;
}
.dm-t-0rem {
  top: 0.85rem;
}
.dm-t-0rem {
  top: 0.9rem;
}
.dm-t-0rem {
  top: 0.95rem;
}
.dm-b-0rem {
  bottom: -1rem;
}
.dm-b-0rem {
  bottom: -0.95rem;
}
.dm-b-0rem {
  bottom: -0.9rem;
}
.dm-b-0rem {
  bottom: -0.85rem;
}
.dm-b-0rem {
  bottom: -0.8rem;
}
.dm-b-0rem {
  bottom: -0.75rem;
}
.dm-b-0rem {
  bottom: -0.7rem;
}
.dm-b-0rem {
  bottom: -0.65rem;
}
.dm-b-0rem {
  bottom: -0.6rem;
}
.dm-b-0rem {
  bottom: -0.55rem;
}
.dm-b-0rem {
  bottom: -0.5rem;
}
.dm-b-0rem {
  bottom: -0.45rem;
}
.dm-b-0rem {
  bottom: -0.4rem;
}
.dm-b-0rem {
  bottom: -0.35rem;
}
.dm-b-0rem {
  bottom: -0.3rem;
}
.dm-b-0rem {
  bottom: -0.25rem;
}
.dm-b-0rem {
  bottom: -0.2rem;
}
.dm-b-0rem {
  bottom: -0.15rem;
}
.dm-b-0rem {
  bottom: -0.1rem;
}
.dm-b-0rem {
  bottom: -0.05rem;
}
.dm-b-0rem {
  bottom: 0rem;
}
.dm-b-0rem {
  bottom: 0.05rem;
}
.dm-b-0rem {
  bottom: 0.1rem;
}
.dm-b-0rem {
  bottom: 0.15rem;
}
.dm-b-0rem {
  bottom: 0.2rem;
}
.dm-b-0rem {
  bottom: 0.25rem;
}
.dm-b-0rem {
  bottom: 0.3rem;
}
.dm-b-0rem {
  bottom: 0.35rem;
}
.dm-b-0rem {
  bottom: 0.4rem;
}
.dm-b-0rem {
  bottom: 0.45rem;
}
.dm-b-0rem {
  bottom: 0.5rem;
}
.dm-b-0rem {
  bottom: 0.55rem;
}
.dm-b-0rem {
  bottom: 0.6rem;
}
.dm-b-0rem {
  bottom: 0.65rem;
}
.dm-b-0rem {
  bottom: 0.7rem;
}
.dm-b-0rem {
  bottom: 0.75rem;
}
.dm-b-0rem {
  bottom: 0.8rem;
}
.dm-b-0rem {
  bottom: 0.85rem;
}
.dm-b-0rem {
  bottom: 0.9rem;
}
.dm-b-0rem {
  bottom: 0.95rem;
}
.dm-l-0rem {
  left: -1rem;
}
.dm-l-0rem {
  left: -0.95rem;
}
.dm-l-0rem {
  left: -0.9rem;
}
.dm-l-0rem {
  left: -0.85rem;
}
.dm-l-0rem {
  left: -0.8rem;
}
.dm-l-0rem {
  left: -0.75rem;
}
.dm-l-0rem {
  left: -0.7rem;
}
.dm-l-0rem {
  left: -0.65rem;
}
.dm-l-0rem {
  left: -0.6rem;
}
.dm-l-0rem {
  left: -0.55rem;
}
.dm-l-0rem {
  left: -0.5rem;
}
.dm-l-0rem {
  left: -0.45rem;
}
.dm-l-0rem {
  left: -0.4rem;
}
.dm-l-0rem {
  left: -0.35rem;
}
.dm-l-0rem {
  left: -0.3rem;
}
.dm-l-0rem {
  left: -0.25rem;
}
.dm-l-0rem {
  left: -0.2rem;
}
.dm-l-0rem {
  left: -0.15rem;
}
.dm-l-0rem {
  left: -0.1rem;
}
.dm-l-0rem {
  left: -0.05rem;
}
.dm-l-0rem {
  left: 0rem;
}
.dm-l-0rem {
  left: 0.05rem;
}
.dm-l-0rem {
  left: 0.1rem;
}
.dm-l-0rem {
  left: 0.15rem;
}
.dm-l-0rem {
  left: 0.2rem;
}
.dm-l-0rem {
  left: 0.25rem;
}
.dm-l-0rem {
  left: 0.3rem;
}
.dm-l-0rem {
  left: 0.35rem;
}
.dm-l-0rem {
  left: 0.4rem;
}
.dm-l-0rem {
  left: 0.45rem;
}
.dm-l-0rem {
  left: 0.5rem;
}
.dm-l-0rem {
  left: 0.55rem;
}
.dm-l-0rem {
  left: 0.6rem;
}
.dm-l-0rem {
  left: 0.65rem;
}
.dm-l-0rem {
  left: 0.7rem;
}
.dm-l-0rem {
  left: 0.75rem;
}
.dm-l-0rem {
  left: 0.8rem;
}
.dm-l-0rem {
  left: 0.85rem;
}
.dm-l-0rem {
  left: 0.9rem;
}
.dm-l-0rem {
  left: 0.95rem;
}
.dm-r-0rem {
  right: -1rem;
}
.dm-r-0rem {
  right: -0.95rem;
}
.dm-r-0rem {
  right: -0.9rem;
}
.dm-r-0rem {
  right: -0.85rem;
}
.dm-r-0rem {
  right: -0.8rem;
}
.dm-r-0rem {
  right: -0.75rem;
}
.dm-r-0rem {
  right: -0.7rem;
}
.dm-r-0rem {
  right: -0.65rem;
}
.dm-r-0rem {
  right: -0.6rem;
}
.dm-r-0rem {
  right: -0.55rem;
}
.dm-r-0rem {
  right: -0.5rem;
}
.dm-r-0rem {
  right: -0.45rem;
}
.dm-r-0rem {
  right: -0.4rem;
}
.dm-r-0rem {
  right: -0.35rem;
}
.dm-r-0rem {
  right: -0.3rem;
}
.dm-r-0rem {
  right: -0.25rem;
}
.dm-r-0rem {
  right: -0.2rem;
}
.dm-r-0rem {
  right: -0.15rem;
}
.dm-r-0rem {
  right: -0.1rem;
}
.dm-r-0rem {
  right: -0.05rem;
}
.dm-r-0rem {
  right: 0rem;
}
.dm-r-0rem {
  right: 0.05rem;
}
.dm-r-0rem {
  right: 0.1rem;
}
.dm-r-0rem {
  right: 0.15rem;
}
.dm-r-0rem {
  right: 0.2rem;
}
.dm-r-0rem {
  right: 0.25rem;
}
.dm-r-0rem {
  right: 0.3rem;
}
.dm-r-0rem {
  right: 0.35rem;
}
.dm-r-0rem {
  right: 0.4rem;
}
.dm-r-0rem {
  right: 0.45rem;
}
.dm-r-0rem {
  right: 0.5rem;
}
.dm-r-0rem {
  right: 0.55rem;
}
.dm-r-0rem {
  right: 0.6rem;
}
.dm-r-0rem {
  right: 0.65rem;
}
.dm-r-0rem {
  right: 0.7rem;
}
.dm-r-0rem {
  right: 0.75rem;
}
.dm-r-0rem {
  right: 0.8rem;
}
.dm-r-0rem {
  right: 0.85rem;
}
.dm-r-0rem {
  right: 0.9rem;
}
.dm-r-0rem {
  right: 0.95rem;
}
