.dm-padding-10 {
  padding: 0.1rem;
}
.dm-padding-12 {
  padding: 0.12rem;
}
.dm-padding-14 {
  padding: 0.14rem;
}
.dm-padding-16 {
  padding: 0.16rem;
}
.dm-padding-18 {
  padding: 0.18rem;
}
.dm-padding-20 {
  padding: 0.2rem;
}
.dm-padding-22 {
  padding: 0.22rem;
}
.dm-padding-24 {
  padding: 0.24rem;
}
.dm-padding-26 {
  padding: 0.26rem;
}
.dm-padding-28 {
  padding: 0.28rem;
}
.dm-padding-30 {
  padding: 0.3rem;
}
.dm-padding-32 {
  padding: 0.32rem;
}
.dm-padding-34 {
  padding: 0.34rem;
}
.dm-padding-36 {
  padding: 0.36rem;
}
.dm-padding-38 {
  padding: 0.38rem;
}
.dm-padding-40 {
  padding: 0.4rem;
}
.dm-padding-42 {
  padding: 0.42rem;
}
.dm-padding-44 {
  padding: 0.44rem;
}
.dm-padding-46 {
  padding: 0.46rem;
}
.dm-padding-48 {
  padding: 0.48rem;
}
.dm-padding-50 {
  padding: 0.5rem;
}
.dm-padding-52 {
  padding: 0.52rem;
}
.dm-padding-54 {
  padding: 0.54rem;
}
.dm-padding-56 {
  padding: 0.56rem;
}
.dm-padding-58 {
  padding: 0.58rem;
}
.dm-padding-60 {
  padding: 0.6rem;
}
.dm-padding-62 {
  padding: 0.62rem;
}
.dm-padding-64 {
  padding: 0.64rem;
}
.dm-padding-66 {
  padding: 0.66rem;
}
.dm-padding-68 {
  padding: 0.68rem;
}
.dm-padding-70 {
  padding: 0.7rem;
}
.dm-padding-72 {
  padding: 0.72rem;
}
.dm-padding-74 {
  padding: 0.74rem;
}
.dm-padding-76 {
  padding: 0.76rem;
}
.dm-padding-78 {
  padding: 0.78rem;
}
.dm-padding-80 {
  padding: 0.8rem;
}
.dm-padding-82 {
  padding: 0.82rem;
}
.dm-padding-84 {
  padding: 0.84rem;
}
.dm-padding-86 {
  padding: 0.86rem;
}
.dm-padding-88 {
  padding: 0.88rem;
}
.dm-padding-90 {
  padding: 0.9rem;
}
.dm-padding-92 {
  padding: 0.92rem;
}
.dm-padding-94 {
  padding: 0.94rem;
}
.dm-padding-96 {
  padding: 0.96rem;
}
.dm-padding-98 {
  padding: 0.98rem;
}
