.dm-fz-10 {
  font-size: 0.1rem;
}
.dm-fz-12 {
  font-size: 0.12rem;
}
.dm-fz-14 {
  font-size: 0.14rem;
}
.dm-fz-16 {
  font-size: 0.16rem;
}
.dm-fz-18 {
  font-size: 0.18rem;
}
.dm-fz-20 {
  font-size: 0.2rem;
}
.dm-fz-22 {
  font-size: 0.22rem;
}
.dm-fz-24 {
  font-size: 0.24rem;
}
.dm-fz-26 {
  font-size: 0.26rem;
}
.dm-fz-28 {
  font-size: 0.28rem;
}
.dm-fz-30 {
  font-size: 0.3rem;
}
.dm-fz-32 {
  font-size: 0.32rem;
}
.dm-fz-34 {
  font-size: 0.34rem;
}
.dm-fz-36 {
  font-size: 0.36rem;
}
.dm-fz-38 {
  font-size: 0.38rem;
}
.dm-fz-40 {
  font-size: 0.4rem;
}
.dm-fz-42 {
  font-size: 0.42rem;
}
.dm-fz-44 {
  font-size: 0.44rem;
}
.dm-fz-46 {
  font-size: 0.46rem;
}
.dm-fz-48 {
  font-size: 0.48rem;
}
.dm-fz-50 {
  font-size: 0.5rem;
}
.dm-fz-52 {
  font-size: 0.52rem;
}
.dm-fz-54 {
  font-size: 0.54rem;
}
.dm-fz-56 {
  font-size: 0.56rem;
}
.dm-fz-58 {
  font-size: 0.58rem;
}
.dm-fz-60 {
  font-size: 0.6rem;
}
.dm-fz-62 {
  font-size: 0.62rem;
}
.dm-fz-64 {
  font-size: 0.64rem;
}
.dm-fz-66 {
  font-size: 0.66rem;
}
.dm-fz-68 {
  font-size: 0.68rem;
}
.dm-fz-70 {
  font-size: 0.7rem;
}
.dm-fz-72 {
  font-size: 0.72rem;
}
.dm-fz-74 {
  font-size: 0.74rem;
}
.dm-fz-76 {
  font-size: 0.76rem;
}
.dm-fz-78 {
  font-size: 0.78rem;
}
.dm-fz-80 {
  font-size: 0.8rem;
}
.dm-fz-82 {
  font-size: 0.82rem;
}
.dm-fz-84 {
  font-size: 0.84rem;
}
.dm-fz-86 {
  font-size: 0.86rem;
}
.dm-fz-88 {
  font-size: 0.88rem;
}
.dm-fz-90 {
  font-size: 0.9rem;
}
.dm-fz-92 {
  font-size: 0.92rem;
}
.dm-fz-94 {
  font-size: 0.94rem;
}
.dm-fz-96 {
  font-size: 0.96rem;
}
.dm-fz-98 {
  font-size: 0.98rem;
}
