.dm-pl-5 {
  padding-left: 5px;
}
.dm-pl-10 {
  padding-left: 10px;
}
.dm-pl-15 {
  padding-left: 15px;
}
.dm-pl-20 {
  padding-left: 20px;
}
.dm-pl-25 {
  padding-left: 25px;
}
.dm-pl-30 {
  padding-left: 30px;
}
.dm-pl-35 {
  padding-left: 35px;
}
.dm-pl-40 {
  padding-left: 40px;
}
.dm-pl-45 {
  padding-left: 45px;
}
.dm-pl-50 {
  padding-left: 50px;
}
.dm-pl-55 {
  padding-left: 55px;
}
.dm-pl-60 {
  padding-left: 60px;
}
.dm-pl-65 {
  padding-left: 65px;
}
.dm-pl-70 {
  padding-left: 70px;
}
.dm-pl-75 {
  padding-left: 75px;
}
.dm-pl-80 {
  padding-left: 80px;
}
.dm-pl-85 {
  padding-left: 85px;
}
.dm-pl-90 {
  padding-left: 90px;
}
.dm-pl-95 {
  padding-left: 95px;
}
.dm-pl-100 {
  padding-left: 100px;
}
.dm-pr-5 {
  margin-right: 5px;
}
.dm-pr-10 {
  margin-right: 10px;
}
.dm-pr-15 {
  margin-right: 15px;
}
.dm-pr-20 {
  margin-right: 20px;
}
.dm-pr-25 {
  margin-right: 25px;
}
.dm-pr-30 {
  margin-right: 30px;
}
.dm-pr-35 {
  margin-right: 35px;
}
.dm-pr-40 {
  margin-right: 40px;
}
.dm-pr-45 {
  margin-right: 45px;
}
.dm-pr-50 {
  margin-right: 50px;
}
.dm-pr-55 {
  margin-right: 55px;
}
.dm-pr-60 {
  margin-right: 60px;
}
.dm-pr-65 {
  margin-right: 65px;
}
.dm-pr-70 {
  margin-right: 70px;
}
.dm-pr-75 {
  margin-right: 75px;
}
.dm-pr-80 {
  margin-right: 80px;
}
.dm-pr-85 {
  margin-right: 85px;
}
.dm-pr-90 {
  margin-right: 90px;
}
.dm-pr-95 {
  margin-right: 95px;
}
.dm-pr-100 {
  margin-right: 100px;
}
.dm-pt-5 {
  padding-top: 5px;
}
.dm-pt-10 {
  padding-top: 10px;
}
.dm-pt-15 {
  padding-top: 15px;
}
.dm-pt-20 {
  padding-top: 20px;
}
.dm-pt-25 {
  padding-top: 25px;
}
.dm-pt-30 {
  padding-top: 30px;
}
.dm-pt-35 {
  padding-top: 35px;
}
.dm-pt-40 {
  padding-top: 40px;
}
.dm-pt-45 {
  padding-top: 45px;
}
.dm-pt-50 {
  padding-top: 50px;
}
.dm-pt-55 {
  padding-top: 55px;
}
.dm-pt-60 {
  padding-top: 60px;
}
.dm-pt-65 {
  padding-top: 65px;
}
.dm-pt-70 {
  padding-top: 70px;
}
.dm-pt-75 {
  padding-top: 75px;
}
.dm-pt-80 {
  padding-top: 80px;
}
.dm-pt-85 {
  padding-top: 85px;
}
.dm-pt-90 {
  padding-top: 90px;
}
.dm-pt-95 {
  padding-top: 95px;
}
.dm-pt-100 {
  padding-top: 100px;
}
.dm-pb-5 {
  padding-bottom: 5px;
}
.dm-pb-10 {
  padding-bottom: 10px;
}
.dm-pb-15 {
  padding-bottom: 15px;
}
.dm-pb-20 {
  padding-bottom: 20px;
}
.dm-pb-25 {
  padding-bottom: 25px;
}
.dm-pb-30 {
  padding-bottom: 30px;
}
.dm-pb-35 {
  padding-bottom: 35px;
}
.dm-pb-40 {
  padding-bottom: 40px;
}
.dm-pb-45 {
  padding-bottom: 45px;
}
.dm-pb-50 {
  padding-bottom: 50px;
}
.dm-pb-55 {
  padding-bottom: 55px;
}
.dm-pb-60 {
  padding-bottom: 60px;
}
.dm-pb-65 {
  padding-bottom: 65px;
}
.dm-pb-70 {
  padding-bottom: 70px;
}
.dm-pb-75 {
  padding-bottom: 75px;
}
.dm-pb-80 {
  padding-bottom: 80px;
}
.dm-pb-85 {
  padding-bottom: 85px;
}
.dm-pb-90 {
  padding-bottom: 90px;
}
.dm-pb-95 {
  padding-bottom: 95px;
}
.dm-pb-100 {
  padding-bottom: 100px;
}
.dm-padding-5 {
  padding: 5px;
}
.dm-padding-10 {
  padding: 10px;
}
.dm-padding-15 {
  padding: 15px;
}
.dm-padding-20 {
  padding: 20px;
}
.dm-padding-25 {
  padding: 25px;
}
.dm-padding-30 {
  padding: 30px;
}
.dm-padding-35 {
  padding: 35px;
}
.dm-padding-40 {
  padding: 40px;
}
.dm-padding-45 {
  padding: 45px;
}
.dm-padding-50 {
  padding: 50px;
}
.dm-padding-55 {
  padding: 55px;
}
.dm-padding-60 {
  padding: 60px;
}
.dm-padding-65 {
  padding: 65px;
}
.dm-padding-70 {
  padding: 70px;
}
.dm-padding-75 {
  padding: 75px;
}
.dm-padding-80 {
  padding: 80px;
}
.dm-padding-85 {
  padding: 85px;
}
.dm-padding-90 {
  padding: 90px;
}
.dm-padding-95 {
  padding: 95px;
}
.dm-padding-100 {
  padding: 100px;
}
