.dm-width-5 {
  width: 5%;
}
.dm-width-10 {
  width: 10%;
}
.dm-width-15 {
  width: 15%;
}
.dm-width-20 {
  width: 20%;
}
.dm-width-25 {
  width: 25%;
}
.dm-width-30 {
  width: 30%;
}
.dm-width-35 {
  width: 35%;
}
.dm-width-40 {
  width: 40%;
}
.dm-width-45 {
  width: 45%;
}
.dm-width-50 {
  width: 50%;
}
.dm-width-55 {
  width: 55%;
}
.dm-width-60 {
  width: 60%;
}
.dm-width-65 {
  width: 65%;
}
.dm-width-70 {
  width: 70%;
}
.dm-width-75 {
  width: 75%;
}
.dm-width-80 {
  width: 80%;
}
.dm-width-85 {
  width: 85%;
}
.dm-width-90 {
  width: 90%;
}
.dm-width-95 {
  width: 95%;
}
.dm-width-100 {
  width: 100%;
}
.dm-wd-0 {
  width: 0px;
}
.dm-wd-10 {
  width: 10px;
}
.dm-wd-20 {
  width: 20px;
}
.dm-wd-30 {
  width: 30px;
}
.dm-wd-40 {
  width: 40px;
}
.dm-wd-50 {
  width: 50px;
}
.dm-wd-60 {
  width: 60px;
}
.dm-wd-70 {
  width: 70px;
}
.dm-wd-80 {
  width: 80px;
}
.dm-wd-90 {
  width: 90px;
}
.dm-wd-100 {
  width: 100px;
}
.dm-wd-110 {
  width: 110px;
}
.dm-wd-120 {
  width: 120px;
}
.dm-wd-130 {
  width: 130px;
}
.dm-wd-140 {
  width: 140px;
}
.dm-wd-150 {
  width: 150px;
}
.dm-wd-160 {
  width: 160px;
}
.dm-wd-170 {
  width: 170px;
}
.dm-wd-180 {
  width: 180px;
}
.dm-wd-190 {
  width: 190px;
}
.dm-wd-200 {
  width: 200px;
}
.dm-wd-210 {
  width: 210px;
}
.dm-wd-220 {
  width: 220px;
}
.dm-wd-230 {
  width: 230px;
}
.dm-wd-240 {
  width: 240px;
}
.dm-wd-250 {
  width: 250px;
}
.dm-wd-260 {
  width: 260px;
}
.dm-wd-270 {
  width: 270px;
}
.dm-wd-280 {
  width: 280px;
}
.dm-wd-290 {
  width: 290px;
}
.dm-wd-300 {
  width: 300px;
}
.dm-wd-310 {
  width: 310px;
}
.dm-wd-320 {
  width: 320px;
}
.dm-wd-330 {
  width: 330px;
}
.dm-wd-340 {
  width: 340px;
}
.dm-wd-350 {
  width: 350px;
}
.dm-wd-360 {
  width: 360px;
}
.dm-wd-370 {
  width: 370px;
}
.dm-wd-380 {
  width: 380px;
}
.dm-wd-390 {
  width: 390px;
}
.dm-wd-400 {
  width: 400px;
}
.dm-wd-410 {
  width: 410px;
}
.dm-wd-420 {
  width: 420px;
}
.dm-wd-430 {
  width: 430px;
}
.dm-wd-440 {
  width: 440px;
}
.dm-wd-450 {
  width: 450px;
}
.dm-wd-460 {
  width: 460px;
}
.dm-wd-470 {
  width: 470px;
}
.dm-wd-480 {
  width: 480px;
}
.dm-wd-490 {
  width: 490px;
}
.dm-wd-500 {
  width: 500px;
}
