.dm-width-5 {
  width: 5%;
}
.dm-width-10 {
  width: 10%;
}
.dm-width-15 {
  width: 15%;
}
.dm-width-20 {
  width: 20%;
}
.dm-width-25 {
  width: 25%;
}
.dm-width-30 {
  width: 30%;
}
.dm-width-35 {
  width: 35%;
}
.dm-width-40 {
  width: 40%;
}
.dm-width-45 {
  width: 45%;
}
.dm-width-50 {
  width: 50%;
}
.dm-width-55 {
  width: 55%;
}
.dm-width-60 {
  width: 60%;
}
.dm-width-65 {
  width: 65%;
}
.dm-width-70 {
  width: 70%;
}
.dm-width-75 {
  width: 75%;
}
.dm-width-80 {
  width: 80%;
}
.dm-width-85 {
  width: 85%;
}
.dm-width-90 {
  width: 90%;
}
.dm-width-95 {
  width: 95%;
}
.dm-width-100 {
  width: 100%;
}
.dm-wd-0 {
  width: 0rem;
}
.dm-wd-5 {
  width: 0.05rem;
}
.dm-wd-10 {
  width: 0.1rem;
}
.dm-wd-15 {
  width: 0.15rem;
}
.dm-wd-20 {
  width: 0.2rem;
}
.dm-wd-25 {
  width: 0.25rem;
}
.dm-wd-30 {
  width: 0.3rem;
}
.dm-wd-35 {
  width: 0.35rem;
}
.dm-wd-40 {
  width: 0.4rem;
}
.dm-wd-45 {
  width: 0.45rem;
}
.dm-wd-50 {
  width: 0.5rem;
}
.dm-wd-55 {
  width: 0.55rem;
}
.dm-wd-60 {
  width: 0.6rem;
}
.dm-wd-65 {
  width: 0.65rem;
}
.dm-wd-70 {
  width: 0.7rem;
}
.dm-wd-75 {
  width: 0.75rem;
}
.dm-wd-80 {
  width: 0.8rem;
}
.dm-wd-85 {
  width: 0.85rem;
}
.dm-wd-90 {
  width: 0.9rem;
}
.dm-wd-95 {
  width: 0.95rem;
}
.dm-wd-100 {
  width: 1rem;
}
.dm-wd-105 {
  width: 1.05rem;
}
.dm-wd-110 {
  width: 1.1rem;
}
.dm-wd-115 {
  width: 1.15rem;
}
.dm-wd-120 {
  width: 1.2rem;
}
.dm-wd-125 {
  width: 1.25rem;
}
.dm-wd-130 {
  width: 1.3rem;
}
.dm-wd-135 {
  width: 1.35rem;
}
.dm-wd-140 {
  width: 1.4rem;
}
.dm-wd-145 {
  width: 1.45rem;
}
.dm-wd-150 {
  width: 1.5rem;
}
.dm-wd-155 {
  width: 1.55rem;
}
.dm-wd-160 {
  width: 1.6rem;
}
.dm-wd-165 {
  width: 1.65rem;
}
.dm-wd-170 {
  width: 1.7rem;
}
.dm-wd-175 {
  width: 1.75rem;
}
.dm-wd-180 {
  width: 1.8rem;
}
.dm-wd-185 {
  width: 1.85rem;
}
.dm-wd-190 {
  width: 1.9rem;
}
.dm-wd-195 {
  width: 1.95rem;
}
.dm-wd-200 {
  width: 2rem;
}
.dm-wd-205 {
  width: 2.05rem;
}
.dm-wd-210 {
  width: 2.1rem;
}
.dm-wd-215 {
  width: 2.15rem;
}
.dm-wd-220 {
  width: 2.2rem;
}
.dm-wd-225 {
  width: 2.25rem;
}
.dm-wd-230 {
  width: 2.3rem;
}
.dm-wd-235 {
  width: 2.35rem;
}
.dm-wd-240 {
  width: 2.4rem;
}
.dm-wd-245 {
  width: 2.45rem;
}
.dm-wd-250 {
  width: 2.5rem;
}
.dm-wd-255 {
  width: 2.55rem;
}
.dm-wd-260 {
  width: 2.6rem;
}
.dm-wd-265 {
  width: 2.65rem;
}
.dm-wd-270 {
  width: 2.7rem;
}
.dm-wd-275 {
  width: 2.75rem;
}
.dm-wd-280 {
  width: 2.8rem;
}
.dm-wd-285 {
  width: 2.85rem;
}
.dm-wd-290 {
  width: 2.9rem;
}
.dm-wd-295 {
  width: 2.95rem;
}
.dm-wd-300 {
  width: 3rem;
}
.dm-wd-305 {
  width: 3.05rem;
}
.dm-wd-310 {
  width: 3.1rem;
}
.dm-wd-315 {
  width: 3.15rem;
}
.dm-wd-320 {
  width: 3.2rem;
}
.dm-wd-325 {
  width: 3.25rem;
}
.dm-wd-330 {
  width: 3.3rem;
}
.dm-wd-335 {
  width: 3.35rem;
}
.dm-wd-340 {
  width: 3.4rem;
}
.dm-wd-345 {
  width: 3.45rem;
}
.dm-wd-350 {
  width: 3.5rem;
}
.dm-wd-355 {
  width: 3.55rem;
}
.dm-wd-360 {
  width: 3.6rem;
}
.dm-wd-365 {
  width: 3.65rem;
}
.dm-wd-370 {
  width: 3.7rem;
}
.dm-wd-375 {
  width: 3.75rem;
}
.dm-wd-380 {
  width: 3.8rem;
}
.dm-wd-385 {
  width: 3.85rem;
}
.dm-wd-390 {
  width: 3.9rem;
}
.dm-wd-395 {
  width: 3.95rem;
}
.dm-wd-400 {
  width: 4rem;
}
.dm-wd-405 {
  width: 4.05rem;
}
.dm-wd-410 {
  width: 4.1rem;
}
.dm-wd-415 {
  width: 4.15rem;
}
.dm-wd-420 {
  width: 4.2rem;
}
.dm-wd-425 {
  width: 4.25rem;
}
.dm-wd-430 {
  width: 4.3rem;
}
.dm-wd-435 {
  width: 4.35rem;
}
.dm-wd-440 {
  width: 4.4rem;
}
.dm-wd-445 {
  width: 4.45rem;
}
.dm-wd-450 {
  width: 4.5rem;
}
.dm-wd-455 {
  width: 4.55rem;
}
.dm-wd-460 {
  width: 4.6rem;
}
.dm-wd-465 {
  width: 4.65rem;
}
.dm-wd-470 {
  width: 4.7rem;
}
.dm-wd-475 {
  width: 4.75rem;
}
.dm-wd-480 {
  width: 4.8rem;
}
.dm-wd-485 {
  width: 4.85rem;
}
.dm-wd-490 {
  width: 4.9rem;
}
.dm-wd-495 {
  width: 4.95rem;
}
.dm-wd-500 {
  width: 5rem;
}
