<div class="main-view-wrapper">
    
    <div class="mt-5 mb-5">
        <a ui-sref="commerce.create" class="btn btn-success" href="javascript:;"><i class="fa fa-plus mr-3"></i>创建商会</a>
    </div>
    <!-- 数据展示 -->
    <div class="table-wrapper">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th>商会名称</th>
            <th>商会会长</th>
            <th>LOGO</th>
            <th style="width:180px;">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in dataList">
            <td><span ng-bind="item.sociatyName"></span></td>
            <td><span ng-bind="item.sociatyMaster"></span></td>
            <td><img ng-src="item.sociatyLogo" alt="" ng-if="item.sociatyLogo"></td>
            <td class="text-center">
              <a href="javascript:;" class="c-primary" ui-sref="commerce.member({id:item.sociatyId})">详情</a>
              <a href="javascript:;" class="c-primary" data-toggle="modal" data-target="#hrefModal" ng-click="hrefView(item)">快速入口</a>
              <a href="javascript:;" class="c-primary" ui-sref="commerce.set({id:item.sociatyId})">设置</a>
              <a href="javascript:;" class="c-primary" ng-click="del(item.sociatyId)">删除</a>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <!-- 数据分页 -->
    <div class="table-pager clearfix">
      <ul class="pagination pull-left">
          <li>
              <a>共{{pagerOption.pages}}页,{{pagerOption.total}}条记录</a>
          </li>
      </ul>
      <!-- 分页插件 -->
      <uib-pagination total-items="pagerOption.total" ng-model="queryModel.page" max-size="10" ng-change="query()" items-per-page="pagerOption.pagesize" boundary-links="true" class="pagination-md pull-right" rotate="false" num-pages="pagerOption.pages"></uib-pagination>
    </div>

    <!-- 快速入口 -->
    <div class="modal fade" id="hrefModal" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">快速入口编辑</h4>
          </div>
          <div class="modal-body">
            
              <div class="table-wrapper">
                <table class="table table-bordered table-condensed table-striped table-hover">
                  <thead>
                    <tr>
                      <th>名称</th>
                      <th>地址</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="hrefItem in hrefList">
                      <td><span ng-bind="hrefItem.hrefName"></span></td>
                      <td>
                        <input type="text" ng-model="hrefItem.hrefAddress" class="small" placeholder="http://">
                      </td>
                      <td class="text-center">
                        <button class="btn btn-primary btn-tiny" type="button" ng-click="saveHref(hrefItem)">保存</button>
                      </td>
                    </tr> 
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>

</div>
    