<div class="main-view-wrapper">
    <form class="form-horizontal" name="submitForm">
        <input type="text" class="form-control" ng-model="formData.articleId" hidden="hidden"/>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title"><label class="required">标题：</label></div>
            <div class="flex-1 control-field">
                <input  type="text" ng-model="formData.articleTitle" class="form-control" required />
            </div>
        </div>
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title "><label class="required">内容：</label></div>
            <div class="flex-1 control-field" style="width:100%;">
                <textarea name="content" ng-model='formData.articleContent' meta-umeditor meta-umeditor-config="all_config"></textarea>
            </div>
        </div>
        
        <div class="control-group flex aic mb-7">
            <div class="w-10em control-title">&nbsp;</div>
            <div class="flex-1 control-field">
                <button class="btn btn-primary" type="button" ng-click="save()" ng-disabled="submitForm.$invalid || loading">保存</button>
                <a class="btn btn-default" href="javascript:history.go(-1)">返回</a>
            </div>
        </div>    
    </form>    
</div>