<div class="main-view-wrapper">
    <!-- 条件筛选 -->
    <form class="form-inline form-search">
        
        <div class="form-group m-5">
            <label>身份</label>
            <select  class="form-control" ng-options="option.id as option.name for option in memberTypeList" ng-model="queryModel.memberType">
            </select>
        </div>
        <div class="form-group m-5">
            <label>商会职位</label>
            <select  class="form-control" ng-options="option.positionId as option.positionName for option in sociaty_position_list" ng-model="queryModel.positionId">
            </select>
        </div>
        <div class="form-group m-5">
            <label>分组</label>
            <select  class="form-control" ng-options="option.groupId as option.groupName for option in sociaty_group_list" ng-model="queryModel.groupId" >
            </select>
        </div>
        <div class="form-group m-5">
            <label>注册时间</label>
            <input type="text" ng-model="queryModel.startDate" class="form-control laydate-icon" laydate />
            <span>-</span>
            <input type="text" ng-model="queryModel.endDate" class="form-control laydate-icon" laydate />

        </div>
        <div class="form-group m-5">
            <label>关键字</label>
            <input type="text" ng-model="queryModel.key" class="form-control" placeholder="用户名/企业名/手机号" />
        </div>
        <div class="form-group m-5">
            <button type="button" class="btn btn-primary" ng-click="search()"><i class="fa fa-search mr-3"></i>查询</button>
            <button type="button" class="btn btn-default" ng-click="clear()"><i class="fa fa-undo mr-3"></i>重置</button>
        </div>
          
        
    </form>
    <div class="mt-5 mb-5">
        <a target="_blank" href="http://www.baidu.com" style="left:-999999px;top:-999999px;" id="importLink" class="poa"></a>
        <a  class="btn btn-athens vat" href="javascript:;" ng-click="batchImport()" ><i class="fa fa-arrow-circle-o-down mr-3"></i>名单导出</a>
        
    </div>
    <!-- 数据展示 -->
    <div class="table-wrapper">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th style="width:50px;"><input type="checkbox" name="cbAll" ng-model="cbAll" ng-checked="cbAll" ng-change="cbAllChange()"></th>
            <th>姓名</th>
            <th>商会职位</th>
            <th>企业名称/职务</th>
            <th>分组</th>
            <th>手机号</th>
            <th>入会时间</th>
            <th>到期时间</th>
            <th>身份</th>
            
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in dataList">
            <td><input type="checkbox" name="cb" value="{{item.userId}}" ng-checked="item._selected" ng-model="item._selected"></td>
            <td><span ng-bind="item.realName"></span></td>
            <td><span ng-bind="item.positionName"></span></td>
            <td><span ng-bind="item.registerCompany"></span> <span ng-bind="item.registerPosition"></span></td>
            <td><span ng-bind="item.groupName"></span></td>
            <td><span ng-bind="item.userPhone"></span></td>
            <td><span ng-bind="item.joinTime"></span></td>
            <td><span ng-bind="item.overdueTime" ng-class="{1:'c-success',2:'c-warning',3:'c-danger'}[item.duesStatus]"></span></td>
            <td><span ng-bind="{'1':'游客','2':'同乡','3':'企业家'}[item.memberType]"></span></td>
            
          </tr>
          
        </tbody>
      </table>
    </div>
    <!-- 数据分页 -->
    <div class="table-pager clearfix">
      <ul class="pagination pull-left">
          <li>
              <a>共{{pagerOption.pages}}页,{{pagerOption.total}}条记录</a>
          </li>
      </ul>
      <!-- 分页插件 -->
      <uib-pagination total-items="pagerOption.total" ng-model="queryModel.page" max-size="10" ng-change="query()" items-per-page="pagerOption.pagesize" boundary-links="true" class="pagination-md pull-right" rotate="false" num-pages="pagerOption.pages"></uib-pagination>
    </div>

</div>
    