input[type=submit],
input[type=reset],
input[type=button]{
filter:chroma(color=#000000);
-webkit-appearance: none;
border-radius: 0;
}
#all_zsd {
    background: url(../images/qbzsd.jpg) no-repeat;
    border: 0 none;
    height: 24px;
    width: 177px;
    cursor: pointer;
    position: relative;
    color: #fff;
    font-size: 14px;
    margin-top: 7px;
    display: block;
}
input[type=text]{
	-webkit-appearance: none;
	border-radius: 0;
}
#wrapper {
	width:1000px;
	margin:0 auto;
	
	padding:10px 0px 0px;
}

.box{width:1000px;margin:0px auto;}
.pathNav{    height: 70px;	}
.path label {
    display: block;
    float: left;
    height: 38px;
    line-height: 38px;
	font-size:14px;
	color: #FFFFFF;
}
.full03 .path  {
    margin-top:15px;
}


.tab_menu{list-style:none;width: 1000px;overflow:hidden;clear:both;border-bottom: 2px solid #F43C5E;}
.tab_menu li{width:249px;float:left;height:48px;line-height:48px;color:#333;background:#eee;text-align:center;cursor:pointer;font-size:18px;border-right: 1px solid #D2D2D2;}
.tab_menu li.menu-last{border-right:0;width:250px;}
.tab_menu li.tbzsdxt{width:249px;}
.tab_menu li.current{color:#FFF;background:#f43c5e;}
.tab_box .hide{display:none;}

.tongbu{width: 1000px;}
.no_jurisdiction { 
    border: 1px solid #E8E8E8;
    width: 1000px;
    height: 414px;
   /* display: none;*/
 }
.no_jurisdiction p { 
    text-align: center;
    font-size: 16px;
    line-height: 2em;
    margin-top: 160px;
}
.no_jurisdiction p span { 
	color: red;
    font-size: 16px;
}
.no_question { 
    border: 1px solid #E8E8E8;
    width: 1000px;
    height: 414px;
    /*display: none;*/
 }
.no_question p { 
    text-align: center;
    font-size: 16px;
    line-height: 2em;
    margin-top: 160px;
}
.no_question p span { 
	color: red;
    font-size: 16px;
}
.zonghe{width:1000px;}
.left{ border: 1px solid #E8E8E8;
    float: left;
    line-height: 20px; 
    overflow: hidden;
	width:198px;
	border-right:0px;
	background-color: #fff;
   }

.xuanze {width:107px;height:33px;line-height:14px;font-size:14px;color:#999999;padding:5px;} 
.opt{line-height:14px;font-size:14px;}

.jcbb{width:177px;margin: 14px auto 8px;}
.jcbb .banben{font-size:14px;color:#333;height: 33px;line-height: 33px;}
.jcbb .xzjc{width:103px;height:33px;line-height:14px;font-size:14px;color:#999999;padding:5px;}
.lefttop{text-align:center;margin: 5px auto;width: 177px;}
#input1{ background: url("../images/duoxuanbutton.jpg") no-repeat ;
	border: 0 none;
    height: 41px;
    width: 177px;
	cursor: pointer;
	color: #fff;
	padding-left: 25px;
	font-size: 14px;
}
#input2{background: url("../images/danxuanbutton.jpg") no-repeat ;
	border: 0 none;
	height: 41px;
	width: 177px;
	cursor: pointer;
  position: relative;
  color: #fff;
	padding-left: 25px;
	font-size: 14px;    
	display:none;
}
.button{ margin: 7px auto 0px;
    text-align: center;
	display:none;
	width: 182px;}
.xqq{background: none repeat scroll 0 0 #EEEEEE;
    border: medium none;
    height: 25px;
    margin-right: 6px;
    width: 52px;}

.leftbottom1{
     margin-top: 20px;
     width: 177px;
	 margin-left: 10px;
	}	
	


/* 超链接 */
.st_tree a{ 
	color:#222; 
	text-decoration:none; 
	font-size: 14px;
}

/* 鼠标经过的超链接 */
.st_tree a:hover{ 
	color:#f33; 
	text-decoration:none;
}
/* 菜单项 */
.st_tree .treeroot{overflow:auto;}
.st_tree ul li{ 
	font-size:13px; 
	color:#222; 
	line-height:25px; 
	cursor:pointer;
	list-style:none; 
	height:25px;
	background-repeat:no-repeat; 
	padding:0 0 3px 29px;
	white-space:nowrap;
}
.st_tree ul li span{
	display: inline-block;
    height: 18px;
    line-height: 18px;
    padding-right: 5px;
    vertical-align: middle;
    width: 14px;
	margin-left: -20px;}
.st_tree ul li.currt{background:#F43C5E;  }
.st_tree ul li.currt span {
    background: url("../images/questionBank.png") no-repeat scroll -985px -1718px rgba(0, 0, 0, 0);
}
.st_tree ul li.currt a{color:#FFF;}
.st_tree ul li ul{}
/* 子菜单项 */
.st_tree ul li ul li{}
/* 子菜单的父节点 */
.st_tree .folder span{ 
	background:url("../images/questionBank.png") no-repeat scroll -9px -1702px rgba(0, 0, 0, 0); 
	/* padding:0 0 0px 20px;  */
}

/* 展开的父节点 */
.st_tree .open span{ 
	background:url("../images/questionBank.png") no-repeat scroll -9px -1719px rgba(0, 0, 0, 0); 
	/* padding:0 0 3px 20px;  */
}

	
.leftbottom2{
	margin-left: 10px;
	overflow:auto;
	height:auto;
	}
.tongbuposition .left{top:0px; position:fixed;z-index: 5;}
.tbps .leftbottom2{height:289px;overflow:auto;}
ul{list-style:none;} 
#root{width:177px;} 
#root li{line-height:25px;white-space:nowrap;} 
#root .rem{padding-left:14px;} 
#root .add{ background:url("../images/questionBank.png") no-repeat scroll -9px -1703px ;
    height: 17px;
    width: 14px;} 
#root .ren{background:url("../images/questionBank.png") no-repeat scroll -9px -1720px ;height: 17px; 
    width: 14px;} 
#root li a{color:#333333;padding-left:0px;outline:none;blr:expression(this.onFocus=this.blur());font-size: 14px;display: inline-block;height: 27px;} 
#root li input{vertical-align:middle;margin-left:0px;display:none;margin-top:-1px;margin-right:5px;} 
#root .two{padding-left:18px;display:block;}	
	
.right{ 
	border: 1px solid #E8E8E8;
    float: right;
    width: 798px;}
 
.right .detailsBox{margin-left: 10px;}
.right .choiceItem3 dd .choicebtn{width:none;}
/**zhishidianxuanti**/
.full03 .path .kemu {
    color: #FFFFFF;
    font-size: 14px;
}
.detailsTxt .txt {
	width: 778px;
	padding-top: 10px;
	float: left;
	border: 1px solid #e8e8e8;
	background-color: #fff;
}
.detailsTxt1 .detailsLine {
	border: 1px solid #f43c5e;
}
.detailsTxt .handle {
	width: 773px;
	float: left;
	height: 32px;
	margin-top: 10px;
	padding: 12px 0px 10px 5px;
	background-color: #e8e8e8;
}
.detailsTxt .handle ul {
	
	overflow: hidden;
	float: left;
}
.choiceSearch {
	width: 790px;
	float: left;
	margin: 0px 0px 10px 10px;
	border:none;
}
.findchoice {
	width: 780px;
	float: left;
	background-color: #ddf1fe;
	border-bottom: 1px solid #e8e8e8;
}
.findchoice dl {
	width: 780px;
}
.findchoice dd {
	width: 790px;
	padding-bottom: 8px;
}
.choice {
	width: 790px;
	float: left;
	margin: 0 auto;
}
.choice .choiceItem {
    float: left;
    padding-top: 10px;
}
.choice dl {
	width: 782px;
	float: left;
	padding-bottom: 10px;
	margin: 0 0 0 0;
	border-bottom: 1px dashed #e8e8e8;
}
.choice dd {
	width: 678px;
  *width: 672px;
}
.toolPage {
	width: 770px;
	float: left;
	height: 38px;
	padding-right: 8px;
	border: 1px solid #e8e8e8;
	margin-left: 10px;
}
/**sousuo**/
.sousuo .search{width:900px;margin: 0 auto 0 221px; }
.sousuo .choice .choiceItem{padding-top: 0px}
.sousuo .choiceItem1 .searchBtn{ font-size: 18px;
    height: 52px;
    width: 110px;}
.sousuo	.choiceItem1 .searchInput {
	width: 437px;
	height: 48px;
	line-height: 48px;}
.sousuo .choiceItem1 p{font-size:18px;font-family: "微软雅黑"; margin: 12px auto 12px 351px;}
.sousuo .choiceItem1 p span{font-size:18px;font-family: "微软雅黑";}
.box1000 .detailsTxt .txt{width: 1000px;}
.box1000 .detailsTxt .handle{width:995px;}

/**shijuan**/
.box1000 .choiceSearch{margin: 20px 0;  width: 998px;}
.box1000 .choice{width:998px;}
.box1000 .choice dl {
    border-bottom: 1px dashed #E8E8E8;
    float: left;
    margin: 0 9px;
    padding-top: 10px;
    width: 979px;
}
.box1000 .choice dd {
    width: 860px;
}
.shijuan .choiceItem1 p {font-size:14px;font-family: "微软雅黑";}
.shijuan .choiceItem1 p span{font-size:14px;font-family: "微软雅黑";}
.choiceItem1 .resetBtn {
    background-color: #1887e3;
    border: 1px solid #3079ed;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    height: 32px;
    padding-bottom: 1px;
    width: 68px;
	margin: 0 20px;
}
.box1000 .toolPage{width: 990px;margin:0 auto;}
.shijuan .choice .choiceItem{padding-top: 0px}
.shijuan .box1000 .choiceSearch{margin-top:0px;}
.shijuan .choiceSearch {


    border: 1px solid #E8E8E8;
    border-top:0px;
    float: left;
    
    width: 998px;
}
.shijuan .biaoge{margin-top:10px;}
.shijuan .biaoge table{
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;}
.shijuan .biaoge th{
    color: #333333;
    line-height: 28px;
	font-size:14px;
	height:40px;
	border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
	background-color: #ddf1fe;}
.shijuan .biaoge td{
    color: #333333;
	line-height: 28px;
	font-size:14px;
	height:40px;
	text-align:center;
	border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;}

.shijuan .biaoge tr{background-color:#FFFFF;}
.shijuan .biaoge tr.odd{background-color:#F5F5F5; }
.shijuan .biaoge .ksj{text-align:left;padding-left: 10px;}
.shijuan .biaoge .ksj a{color:#1887e3;font-size:14px;}
/*.shijuan .biaoge .ksj a:visited{color:#333333;font-size:14px;}*/
.shijuan .biaoge .ksj a:hover{color:#F43C5E;font-size:14px;}

/**tuijianzhuanti**/
.ysys{   -moz-border-bottom-colors: #e8e8e8;
    -moz-border-left-colors: #e8e8e8;
    -moz-border-right-colors: #e8e8e8;
    -moz-border-top-colors: none;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    }
.ysys h2{font-size:18px;color:#f43c5e;padding-bottom:7px;}
.ysys a{font-size:14px;color:#333333;line-height:24px;}
.ysys a:hover{color:#1887e3;}
.ysysleft{float:left; width:452px;border-right:1px solid #e8e8e8;padding: 13px 20px 20px;}
.ysysright{float:right; width:465px;padding: 13px 20px 20px;}
.yeyy{   -moz-border-bottom-colors: #e8e8e8;
    -moz-border-left-colors: #e8e8e8;
    -moz-border-right-colors: #e8e8e8;
    -moz-border-top-colors: none;
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    }
.yeyy h2{font-size:18px;color:#f43c5e;padding-bottom:7px;}
.yeyy a{font-size:14px;color:#333333;line-height:24px;}
.yeyy a:hover{color:#1887e3;}
.yeyyleft{float:left; width:452px;border-right:1px solid #e8e8e8;padding: 13px 20px 20px;}
.yeyyright{float:right; width:465px;padding: 13px 20px 20px;}


/**sjxq**/
.sjbt{margin:0 auto; border:1px solid #e8e8e8;text-align: center;}
.sjbt h1{font-size:24px; color:#f43c5e; padding: 12px 0;}
.sjbt span{ 
	color: #333333;
    display: inline-block;
    font-size: 14px;
    padding: 5px 20px;}
.xiaobiaoti{margin-bottom:17px;}
/*#wrapper .quesdiv{background: url("../../images/ytkgb/redbg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}*/
.tibiao{margin: 20px auto 0;}
.tibiao h2{font-size:18px; color:#333333;padding-bottom: 12px;}
.tibiao p{font-size:14px; color:#333333;}
.lft{float:left;}
/* #jrsj{ background: url("../../images/ytkgb/jrsj.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: 50px;
    width: 200px;
	cursor: pointer;
	float:right;}	
#jrsj:hover{
filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
/*-moz-opacity:0.8; Firefox私有，透明度50%
opacity:0.8;
}	 */
#jrsj{ /*11.5 #1887E3 #f43c5e*/
	background-color: #e8e8e8;
    /*border: 1px solid #157CD1;*/
    color:black;
    cursor: pointer;
    float: right;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 200px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	}
#jrsj:hover{
background-color: #1887E3;
    /*border: 1px solid #DA2C4D;*/
	color:white;
}	
#qxjrsj{/*#999999 #f43c5e*/
	background-color: #e8e8e8;
    /*border: 1px solid #999999;*/
	font-size: 18px;
    height: 50px;
	line-height:50px;
    width: 200px;
	cursor: pointer;
	float:right;
	color:black;
	text-align: center;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
}
#qxjrsj:hover{
background-color: #1887E3;
    /*border: 1px solid #DA2C4D;*/
	color:white;
}		
#dlsj{ /*11.5 #1887E3 #f43c5e*/
	background-color: #f43c5e;
    /*border: 1px solid #157CD1;*/
    color:white;
    cursor: pointer;
    float: right;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 200px;
	margin-left:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	}
#dlsj:hover{
background-color: #1887E3;
    /*border: 1px solid #DA2C4D;*/
}
#dlsj img{ 
	width:17px;
	height:18px;
	margin-right:6px;
}

.tongbu .quesdiv div{overflow:hidden;width:750px;}	
.quesdiv div{overflow:hidden;width:927px;}
/**/
.choiceItem1 .searchBtn{
-webkit-appearance: none;
border-radius: 0;
}
#keySearch{
	-webkit-appearance: none;
	border-radius: 0;
}


