<!DOCTYPE html>
<html lang="zh-CN">
#head()

<body>

	#header()
		<div class="container main-container ">
			<div class="row-fluid">
					<div class="span12 box">
							<div class="box-header well" data-original-title="">
								<h2>提示信息</h2>
							</div>
					<div class="box-content" style="padding: 15px;"> 
						<div class="sortable row-fluid">
							<div class="span12">
									<div class="alert alert-error">
									 		您的请求被系统拒绝了...
									</div>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	#footer()
</body>
</html>
