<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >
  <head>
    <meta charset="utf-8"></meta>
    <title>后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="../vendor/bootstrap-3.3.5/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../vendor/font-awesome/4.2.0/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="../assets/css/base_m.css"></link>
    <link rel="stylesheet" href="../assets/css/admin.css"></link>

    <style>
    .admin-login {
      width: 500px;
      margin: 0 auto;
    }
    </style>
    
  </head>
  <body class="admin" ng-app="awLoginApp" ng-controller="loginCtrl">
    <div class="admin-login">
      <form class="form-horizontal" name="submitForm" th:action="@{/login}" method="post">
        <h3 class="text-center">后台管理系统</h3>
        <div class="form-group validInput">
            <label class="control-label col-md-2">帐号</label>
            <div class="col-md-8">
                <input type="text" class="form-control" ng-model="formData.username"  required="required" name="username"/>
            </div>
        </div>
        
        <div class="form-group ">
            <label class="control-label col-md-2">密码</label>
            <div class="col-md-8">
                <input type="password" class="form-control" ng-model="formData.password"  required="required" name="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
            <div th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}">
<div th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></div></div>
            </div>
			<div th:text="${error}"></div>
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
               <!--  <button class="btn btn-primary" type="button" ng-click="login($event)" ng-disabled="submitForm.$invalid || loading"><u ng-bind="{true:'正在登录',false:'确认'}[loading]"></u></button> -->
                <button class="btn btn-primary" type="submit">登录</button>
            </div>

        </div>
      </form>
    </div>
  
  <script src="../vendor/jquery/jquery-2.1.4.min.js"></script>
  <script src="../vendor/angular/js/angular.min.js"></script>
  <script src="../assets/js/dm.api.js"></script>
  <script src="../assets/js/admin.js"></script>
  
  <script>
  
    var app = angular.module('awLoginApp', ['angular-core']);

    
    app.controller("loginCtrl", ["$scope","resource",function(scope,resource) {
      var loginDao = resource('/admin');
      scope.loading = false;
      scope.login = function(){
        scope.loading = true;
        loginDao.invoke('login',scope.formData).then(function(){
         //location.href = '/';
        },function(result){
          alert('error')
        });
      }

    }])
    
  

  </script>
  </body>
</html>
