html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f7fafc;
}
/*小图标*/
[class*=sprite-index-] {
    background-image: url(../image/sprites.auto.011cd4a7.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.sprite-index-icon-weibo {
    background-position: 0 -44px;
    width: 20px;
    height: 18px;
}
.sprite-index-icon-qq {
    background-position: -56px 0;
    width: 20px;
    height: 18px;
}
.sprite-index-icon-wechat {
    background-position: -56px -20px;
    width: 20px;
    height: 18px;
}


.index-main{
    min-height: 100%;
    margin-bottom: -24px;
}
.index-main-body{
    margin: 0 auto;
    width: 300px;
    padding: 30px 0 102px;
}
.index-header{text-align: center;}
.index-header .logo{
    width: 160px;
    height: 74px;
    margin: 0 auto;
    background-image: url("../image/logo.6837e927.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.index-header .hide-text{
    font: 0/0 a;
    color: transparent;
    background-color: transparent;
    border: 0;
    text-shadow: none;
}
.index-header .subtitle{
    font-size: 18px;
    color: #555;
    margin: 30px 0 20px;
    line-height: 18px;
}
.desk-front{
    color: #555;
    text-align: center;
}
.index-tab-navs{    
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}
.index-tab-navs .navs-silder{position: relative;display: inline-block;}
.index-tab-navs .navs-silder a{
    display: block;
    float: left;
    width: 4em;
    line-height: 35px;
    color: #999;
}
.index-tab-navs .navs-silder a.active,
.index-tab-navs .navs-silder a.active:hover{
    color: #0f88eb;

}
.index-tab-navs .navs-silder a:hover{color: #555;}
.index-tab-navs .navs-silder .navs-silder-bar{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2.4em;
    height: 2px;
    margin: 0 .8em;   
    background-color: #0f88eb;
    -webkit-transition: left .15s ease-in;
    transition: left .15s ease-in;
}
/*注册页面*/
.side-login-box{margin-top: 0px;display: block;}
.view{
    float: none;
    margin: auto;
    width: 300px;
    text-align: left;
    font-size: 14px;
}
.view .group-input{
    border: 1px solid #d5d5d5;
    padding: 1px 0;
    border-radius: 3px;
}
.view .input-wrapper {
    position: relative;
    margin: 0;
    overflow: hidden;
}
.view .input-wrapper input {
    padding: 1em .8em;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    line-height: 19px;
    color: #555;
    background-color: #fff;
}
.view .input-wrapper input,.view .input-wrapper input:focus {
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    background: #fff;
}
.view .input-wrapper+.input-wrapper {
    border-top: 1px solid #e8e8e8;
}
.view .button-wrapper{
    margin-top: 20px;
    width: 100%;
}
.view .button-wrapper .sign-button{
    width: 100%;
    background-color: #1D80CF;
    border-radius: 3px;
    border: #1D80CF 1px solid;
    text-align: center;
    color: #fff;
    height: 40px;
}
.view .button-wrapper .sign-button:hover{background-color: #80c3f7;border-color: #80c3f7;}
/*登录界面*/
.view .signin-misc-wrapper,.view .weibo-signup-wrapper{margin-top: 20px;}
.signin-misc-wrapper .unable-login{float: right;}
.signin-misc-wrapper .unable-login:hover{color: #555;}
.signin-misc-wrapper .remember-me{float: left;}
.weibo-signup-wrapper .other-account-login{cursor: pointer; margin-right: 20px;}
.weibo-signup-wrapper .other-account{display: inline-block; opacity: 0;}
.weibo-signup-wrapper .other-account a{margin-right: 20px;}

/*文本框*/
.view .input-wrapper input.error{
    border-color: #f56e5f;
}