<div class="main-view-wrapper">
    
    <input type="hidden" class="form-control" ng-model="formData.userId" />
    <input type="hidden" class="form-control" ng-model="formData.applyId" />
    <div class="panel2">
        <div class="panel-header">企业家信息</div>
        <div class="panel-body por">
            <form class="form-horizontal" name="submitForm" novalidate="novalidate">
                <div class="poa r-15 t-10" style="width:240px;">
                    <h5 class="tac">真实照片</h5>
                    <div class="w-90 hc tac">
                        <img ng-src="{{formData.userPhoto}}" alt="" class="round">
                    </div>
                    <div class="tac p-5" ng-bind="formData.userIntro"></div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">姓名：</label></div>
                    <div class="flex-1 control-field">
                        <span ng-bind="formData.realName"></span>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">身份证号：</label></div>
                    <div class="flex-1 control-field ">
                        <div style="width:180px;" class="por">
                            <div ng-bind="formData.userIdcard"></div>
                            <div class="poa c-success t-0" style="left: 100%;width:150px;"><i class="fa fa-credit-card mr-5"></i><span>已通过实名认证</span></div>
                        </div>
                            
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">手机号：</label></div>
                    <div class="flex-1 control-field">
                        <div style="width:180px;" class="por">
                            <div ng-bind="formData.userPhone"></div>
                            <div class="poa c-success t-0" style="left: 100%;width:150px;"><i class="fa fa-mobile fz-x-large mr-5 vam"></i><span class="vam">已通过验证</span></div>
                        </div>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">企业名称：</label></div>
                    <div class="flex-1 control-field" style="">
                         <div style="width:180px;" class="por">
                            <div ng-bind="formData.registerCompany"></div>
                            <div class="poa c-success t-0" style="left: 100%;width:150px;"><i class="fa fa-copyright  mr-5 vam"></i>已通过验证</div>
                        </div>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">职位：</label></div>
                    <div class="flex-1 control-field">
                        <span ng-bind="formData.registerPosition"></span>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">办公地址：</label></div>
                    <div class="flex-1 control-field">
                        <span ng-bind="formData.companyAddress"></span>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">现居地址：</label></div>
                    <div class="flex-1 control-field">
                        <span ng-bind="formData.liveAddress"></span>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">老家地址：</label></div>
                    <div class="flex-1 control-field">
                        <span ng-bind="formData.userAddress"></span>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">审核结果：</label></div>
                    <div class="flex-1 control-field">
                        <span ng-class="{'0':'c-9','1':'c-success','2':'c-danger'}[applyModel.applyStatus]" ng-bind="{'0':'待审核','1':'已通过','2':'已拒绝'}[applyModel.applyStatus]"></span>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title">&nbsp;</div>
                    <div class="flex-1 control-field" >
                        <span ng-switch="applyModel.applyStatus">
                            <span ng-switch-when="0">
                                <button  class="btn btn-primary" type="button" ng-click="saveApply('yes')" >审核通过</button>
                                <button  class="btn btn-danger" type="button" ng-click="saveApply('no')" >审核不通过</button>
                            </span>
                            
                            <button ng-switch-when="1" class="btn btn-danger" type="button" ng-click="saveApply('no')" >拒绝通过</button>
                            <button ng-switch-when="2" class="btn btn-primary" type="button" ng-click="saveApply('yes')" >审核通过</button>
                            
                        </span>
                        
                        <a class="btn btn-default" href="javascript:history.go(-1)">返回</a>
                    </div>
                </div>

            </div>

        </form>
    </div>
                
    <div class="panel2">
        <div class="panel-header">会员设置</div>
        <div class="panel-body">
            <form class="form-horizontal" name="submitForm2" novalidate="novalidate">
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="required">商会职位：</label></div>
                    <div class="flex-1 control-field">
                        <select class="form-control" ng-options="option.positionId as option.positionName for option in sociaty_position_list" ng-model="formData.positionId" required></select>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">商会分组：</label></div>
                    <div class="flex-1 control-field">
                        <label class="checkbox-inline" ng-repeat="group in sociaty_group_list">
                            <input type="checkbox"  value="{{group.groupId}}" name="groupIds" ng-checked="group._selected" ng-model="group._selected"> <span ng-bind="group.groupName"></span>
                        </label>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">会员入会时间：</label></div>
                    <div class="flex-1 control-field">
                        <input  type="text" ng-model="formData.joinTime" class="form-control laydate-icon" laydate style="width:200px" />
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="">会员到期时间：</label></div>
                    <div class="flex-1 control-field">
                        <input  type="text" ng-model="formData.overdueTime" class="dib form-control laydate-icon" laydate style="width:200px" />
                        <label for="ever" class="checkbox-inline ml-7">
                            <input id="ever"  name="ever" type="checkbox" ng-model="formData.ever" ng-checked="formData.ever">
                            <span>永久会员</span>
                        </label>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title"><label class="required">介绍人：</label></div>
                    <div class="flex-1 control-field">
                        <span ng-bind="formData.inviter.realName"></span>
                        <button class="btn btn-primary btn-tiny" ng-click="inviterView()" data-toggle="modal" data-target="#inviterModel">修改</button>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-10em control-title">&nbsp;</div>
                    <div class="flex-1 control-field">
                        <button class="btn btn-primary" type="button" ng-click="saveSetting($event)" ng-disabled="submitForm2.$invalid || loading">保存</button>
                        <a class="btn btn-default" href="javascript:history.go(-1)">返回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
        
                
    <!-- 介绍人指定 -->
    <div class="modal fade" id="inviterModel" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">修改介绍人</h4>
          </div>
          <div class="modal-body">
            <!-- 条件筛选 -->
            <form class="form-inline form-search mb-7">
                
                <div class="form-group m-5">
                    <label>关键字</label>
                    <input type="text" ng-model="queryModel.key" class="form-control" placeholder="姓名" />
                </div>
                <div class="form-group m-5">
                    <button type="button" class="btn btn-primary" ng-click="search()"><i class="fa fa-search mr-3"></i>查询</button>
                </div>
                    
            </form>

            <!-- 数据展示 -->
            <div class="table-wrapper">
              <table class="table table-bordered table-condensed table-striped table-hover">
                <thead>
                  <tr>
                    <th>姓名</th>
                    <th>企业名称/职位</th>
                    <th>手机号</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="item in dataList">
                    <td><span ng-bind="item.realName"></span></td>
                    <td><span ng-bind="item.registerCompany"></span>/<span ng-bind="item.registerPosition"></span></td>
                    <td><span ng-bind="item.userPhone"></span></td>
                    <td class="text-center">
                        <button class="btn btn-primary btn-tiny" ng-click="setInviter(item)" data-dismiss="modal">指定为介绍人</button>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
            </div>
            <!-- 数据分页 -->
            <div class="table-pager clearfix">
              <!-- 分页插件 -->
              <uib-pagination total-items="pagerOption.total" ng-model="queryModel.page" max-size="5" ng-change="query()" items-per-page="pagerOption.pagesize" boundary-links="true" class="pagination-md pull-right" rotate="false" num-pages="pagerOption.pages"></uib-pagination>
            </div>
          </div>
        </div>
      </div>
    </div> 
    
</div>
    
