<div class="main-view-wrapper">
    <!-- 条件筛选 -->
    <form class="form-inline form-search">
        <div class="form-group">
            <label>名称</label>
            <input type="text" ng-model="queryModel.rolename" class="form-control"/>
        </div>
        <button type="button" class="btn btn-primary" ng-click="search()"><i class="fa fa-search mr-3"></i>查询</button>
        <button type="button" class="btn btn-default" ng-click="clear()"><i class="fa fa-undo mr-3"></i>重置</button>
        
    </form>
    <div class="mt-5 mb-5">
        <a ui-sref="adminrole.create" class="btn btn-success" href="javascript:;"><i class="fa fa-plus mr-3"></i>新增</a>
        <!-- <a  class="btn btn-danger" href="javascript:;" ng-click="batchDel()" ><i class="fa fa-trash mr-3"></i>批量删除</a> -->
    </div>
    <!-- 数据展示 -->
    <div class="table-wrapper">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th style="width:50px;"><input type="checkbox" name="cbAll" ng-model="cbAll" ng-checked="cbAll" ng-change="cbAllChange()"></th>
            <th>管理角色名</th>
            <th>描述</th>
            <th style="width:120px;">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in dataList">
            <td><input type="checkbox" name="cb" value="{{item.roleId}}" ng-checked="item._selected" ng-model="item._selected"></td>
            <td><span ng-bind="item.roleName"></span></td>
            <td><span ng-bind="item.roleDesc"></span></td>
            <td class="text-center">
              <a href="javascript:;" class="c-primary" ui-sref="adminrole.edit({id:item.roleId})">编辑</a>
              <a href="javascript:;" class="c-primary" ng-click="del(item.roleId)">删除</a>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <!-- 数据分页 -->
    <div class="table-pager clearfix">
      <ul class="pagination pull-left">
          <li>
              <a>共{{pagerOption.pages}}页,{{pagerOption.total}}条记录</a>
          </li>
      </ul>
      <!-- 分页插件 -->
      <uib-pagination total-items="pagerOption.total" ng-model="queryModel.page" max-size="10" ng-change="query()" items-per-page="pagerOption.pagesize" boundary-links="true" class="pagination-md pull-right" rotate="false" num-pages="pagerOption.pages"></uib-pagination>
    </div>

</div>
    