<div class="main-view-wrapper">
    <h3>{{isNew?"新增":"修改"}}</h3>
    <form class="form-horizontal" name="submitForm">
        <div class="form-group validInput">
            <label class="control-label col-md-1 required">名称</label>
            <div class="col-md-4">
            	<input type="hidden" class="form-control" ng-model="formData.id"  />
                <input type="text" class="form-control" ng-model="formData.name"  required />
            </div>
            <label class="control-label col-md-1 required">状态</label>
            <div class="col-md-4">
            	<div class="checkbox">
                <label>
                  <input type="radio" name="enable" value="0" ng-checked="formData.enable == 1" ng-model="formData.enable"> 启用
                </label>
                <label>
                  <input type="radio" name="enable" value="1" ng-checked="formData.enable == 0" ng-model="formData.enable"> 锁定
                </label>
              </div>
            </div>
            
        </div>
        
       <!--  <div class="form-group ">
            <label class="control-label col-md-2 required">权限</label>
            <div class="col-md-8">
                <div class="checkbox">
                <label>
                  <input type="radio" name="aa" value="0" ng-checked="formData.userrole == 0" ng-model="formData.userrole"> 普通管理员
                </label>
                <label>
                  <input type="radio" name="aa" value="1" ng-checked="formData.userrole == 1" ng-model="formData.userrole"> 超级管理员
                </label>
              </div>
            </div>
        </div> -->
        <div class="form-group ">
			<label class="control-label col-md-1 required">次序</label>
            <div class="col-md-5">
                <input type="text" class="form-control" ng-model="formData.seq"  required />
            </div>
            <div class="col-md-2">
            (越大越靠前)
            </div>
            </div>
         <div class="form-group ">
           <label class="control-label col-md-1 required">描述</label>
            <div class="col-md-7">
                <textarea class="form-control" ng-model="formData.desc"></textarea>
            </div>
            
        </div>
         
        </div>
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <button class="btn btn-primary" type="button" ng-click="save($event)" ng-disabled="submitForm.$invalid || loading">保存</button>
                <a class="btn btn-primary" href="javascript:history.go(-1)">返回</a>
            </div>

        </div>
    </form>
</div>
    
