<div class="main-view-wrapper">
    <!-- 条件筛选 -->
    <form class="form-inline form-search">
        <!-- <div class="form-group">
            <label>名称</label>
            <input type="text" ng-model="queryModel.username" class="form-control"/>
        </div>
        <div class="form-group">
            <label>类别</label>
            <select  class="form-control" ng-options="option.id as option.name for option in Catlogs" ng-model="queryModel.username" ng-change="CatlogChange()">
                
            </select>
        </div>
        <div class="form-group">
            <label>是否置顶</label>
            <select name="isHead" ng-model="queryModel.isHead" class="form-control">
                <option value="">请选择</option>
                <option value="true">是</option>
                <option value="false">否</option>
            </select>
        </div>
        
        <button type="button" class="btn btn-primary" ng-click="search()"><i class="fa fa-search mr-3"></i>查询</button>
        <button type="button" class="btn btn-default" ng-click="clear()"><i class="fa fa-undo mr-3"></i>重置</button> -->
        
    </form>
    <div class="mt-5 mb-5">
        <a class="btn btn-success" href="javascript:;" ui-sref="user.edit"><i class="fa fa-plus mr-3"></i>新增</a>
        <!-- <a  class="btn btn-danger" href="javascript:;" ng-click="batchDel()" ><i class="fa fa-trash mr-3"></i>批量删除</a> -->
    </div>
    <!-- 数据展示 -->
    <div class="table-wrapper">
      <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
          <tr>
            <th style="width:50px;"><input type="checkbox" name="cbAll" ng-model="cbAll" ng-checked="cbAll" ng-change="cbAllChange()"></th>
            <th>会员id</th>
            <th>会员昵称</th>
            <th>手机号</th>
            <th>邮箱</th>
            <th>启用状态</th>
            <th style="width:120px;">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in dataList">
            <td><input type="checkbox" name="cb" value="{{item.userid}}" ng-checked="item._selected" ng-model="item._selected"></td>
              <td><span ng-bind="item.userid"></span></td>
            <td><span ng-bind="item.nickname"></span></td>
            <td><span ng-bind="item.phone"></span></td>
            <td><span ng-bind="item.email"></span></td>
            <td><span ng-bind="{'1':'启用','0':'锁定'}[item.enable]"></span></td>
            <td class="text-center">
              <a href="javascript:;" class="c-primary" ng-click="lock(item.userid,item.enable)"><span ng-bind="{'0':'启用','1':'锁定'}[item.enable]"></span></a>
              <a href="javascript:;" class="c-primary" ui-sref="user.edit({id:item.userid})">编辑</a>
              <!-- <a href="javascript:;" class="c-primary" ng-click="del(item.userid)">删除</a> -->
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <!-- 数据分页 -->
    <div class="table-pager clearfix">
      <ul class="pagination pull-left">
          <li>
              <a>共{{pagerOption.pages}}页,{{pagerOption.total}}条记录</a>
          </li>
      </ul>
      <!-- 分页插件 -->
      <uib-pagination total-items="pagerOption.total" ng-model="queryModel.page" max-size="10" ng-change="query()" items-per-page="pagerOption.pagesize" boundary-links="true" class="pagination-md pull-right" rotate="false" num-pages="pagerOption.pages"></uib-pagination>
    </div>

</div>
    