@charset "UTF-8";


body {
    min-width: 1170px;
    /*overflow-x: hidden;*/
    /*color: #7f8c8d;*/
    font-family:"Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 14px;
    word-break: break-all;
    word-wrap: break-word;
}
body {
    /*padding-top: 62px;*/
}

.bg-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    bottom: 0;
    background: rgba(0,0,0,.75);
}
.small,h4 .samll {
    font-size: 12px;
}

.s-header {
    width: 100%;
    height: 62px;
    background-color: #242424;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 1px;
}
img {
    max-width: 100%;
}

html.holding, body.holding {
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    max-width: 1170px;
    padding: 0;
    margin: 0 auto;
    position: relative;
}
/*@media (min-width: 1450px){
    .container {
        max-width: 1200px;
    }
}*/

.divider span {
    display: inline-block;
    position: relative;
}
h2.divider {
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 50px;
}
h2.divider span:before {
    left: -110px;
}
h2.divider span:after {
    left: auto;
    right: -110px;
}
h2.divider span:after, h2.divider span:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    line-height: 0;
    top: 50%;
    background: #dedede;
}

/* header menu */
.site-nav-menu .if {
    /*display: none;*/
}
.site-header {
    position: relative;
    z-index: 9;
}
.site-header.s-header-fixed {
    /*position: fixed;
    z-index: 9;
    left: 0;
    top: 0;*/
}
.navbar {
    height: 100%;
}
.navbar .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0;
}
.navbar .nav.secondary {
    float: right;
}
.navbar .nav > li {
    float: left;
    position: relative;
    margin-left: 15px;
    margin-right: 30px;
}
.navbar .nav > li:first-child {
    margin-left: 0;
}
.navbar .nav > li > a {
  display: inline-block;
  color: #999;
  font-size: 14px;
  padding: 21px 0;
  text-shadow: none;
  -webkit-transition: background-color .25s, color .25s, border-bottom-color .25s;
  -moz-transition: background-color .25s, color .25s, border-bottom-color .25s;
  -o-transition: background-color .25s, color .25s, border-bottom-color .25s;
  transition: background-color .25s, color .25s, border-bottom-color .25s;
  -webkit-backface-visibility: hidden;
}
.navbar .nav:first-child>li>a {
    padding: 0;
    line-height: 62px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #fff;
}
.navbar .nav > li.button-container {
    margin: 0 0 0 10px;
}
.navbar .nav > li > a.btn,.navbar .nav > li > a.btn:hover {
    font-weight: normal;
    padding: 9px 15px 8px;
    color: #FFF;
    margin: 12px 0 0 0;
}

.site-header .toggle {
    display: none;
}
.site-header .logo {
    display: block;
    height: 48px;
    float: left;
    padding: 10px 55px 0 0;
}
.site-header .logo img {
    height: 100%;
}
.site-nav {
    position: relative;
    
}

.site-nav-link i {
    margin: 0 5px;
}

.user-menu {
    position: relative;
    height: 62px;
}
.user-menu .icon-triangle-down {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s,-webkit-transform .2s;
}
.user-menu:hover .icon-triangle-down {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}
.user-menu .title {
    color: #fff;
    display: inline-block;
    padding: 0 6px;
    /*background-color: #474747;*/
    -webkit-transition: all .2s;
    transition: all .2s;
    width: 120px;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    text-align: center;
    height: 62px;
    line-height: 62px;
    overflow: hidden;
}
.user-menu:hover .title{
    color:#000;
    background-color:#fff;
}
.user-menu .list {

    overflow: hidden;
    position: absolute;
    display: none;
    z-index:-1;
    padding-top: 0px;
    top: 100%;
    /*right: -1px;*/
    color: #333;
    background-color: #FFF;
    /*border: 1px solid #e6e6e6;*/
    /*background-color: rgba(0,0,0,0.4);*/
    border-top-color: transparent;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    line-height: 1.4286;
    box-sizing: border-box;
}

.user-menu .list a {
    color: #000;
    display: block;
    width: 120px;
    text-align: center;
    line-height: 2.5;
    /*background-color: rgba(0,0,0,0.4);*/
    -webkit-transition: all .2s;
    transition: all .2s;
}
.user-menu .list a:hover {
    color: #fff;
    background-color:#3399e0;
}







.s-banner {
    min-width: 960px;
    height: 580px;
    position: relative;
    background: #000;
    overflow: hidden;

}
.banner-hero-unit {
    position: absolute;
    width: 60%;
    left: 20%;
    top: 30%;
    text-align: center;
    color:#fff;
    z-index: 5;
    font-family: '黑体';
}
.banner-hero-unit h1 {
    margin: 0;
    padding: 0;
    font-size: 46px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1em;
}
.banner-hero-unit .btn {
    padding: 15px 85px;
    font-size: 18px;
}

.banner-hero-unit p {
    font-size: 26px;
    font-weight: normal;
    margin: 10px 0 25px 0;
    color: #CCCCCC;
    line-height: 1.25em;
}
.s-banner-modal {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
}
.s-video {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.s-video video {
    margin-top: -120px;
}
.s-banner .owl-carousel a {
    display: block;
    width: 100%;
    height: 480px;
    background: center top no-repeat;
}
.s-banner:hover .owl-nav{opacity:1;filter:alpha(opacity=100)}
.s-banner .dots-wrap {
    position: absolute;
    width: 100%;
    bottom: 20px;
    text-align: center;
    z-index: 22;
}
.s-banner .owl-dot {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    position: relative;
    background-color: #000;
    /*background-color: rgba(0,0,0,.2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#33000000');*/
    margin: 0 5px;
    cursor: pointer;
}
.s-banner .owl-dot span {
    position: absolute;
    left: 3px;
    top:3px;
    width: 10px;
    height: 10px;
    
    border-radius: 8px;
}
.s-banner .owl-dot.active {
/*    background-color: rgba(0,0,0,.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f000000', endColorstr='#7f000000');*/
}
.s-banner .owl-dot.active span { 
    background-color: #3498DB;
}
.s-banner .owl-nav {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -40px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.s-banner .owl-next, .s-banner .owl-prev {
    position: absolute;
    width: 36px;
    height: 80px;
    color: #fff;
    background: rgba(0,0,0,.3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c000000', endColorstr='#4c000000');
    top: 0;
    text-align: center;
    font-size: 30px;
    line-height: 75px;
}
.s-banner .owl-prev {
    left: 0;
    border-radius: 0 4px 4px 0;
}
.s-banner .owl-next {
    right: 0;
    border-radius: 4px 0 0 4px;
}

@media (max-width: 768px){
    .banner-hero-unit {
        width: 96%;
        left: 2%;
    }
}


/*nav*/
.ac-gn-menustate {
    display: none;
}
.ac-gn-menuicon-label {
    display: block;
    position: absolute;
    z-index: 3;
    top: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),-webkit-transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),transform 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-tap-highlight-color: transparent;
}
.ac-gn-menuicon-bread {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.ac-gn-menuicon-bread-top {
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    z-index: 4;
}
.ac-gn-menuicon-bread-bottom {
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.ac-gn-menuicon-bread-crust {
    display: block;
    width: 17px;
    height: 1px;
    background: #fff;
    position: absolute;
    left: 16px;
    z-index: 1;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}
.ac-gn-menuicon-bread-crust-top {
    top: 23px;
    -webkit-transition: -webkit-transform 0.2s 0.2s;
    transition: transform 0.2s 0.2s;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
.ac-gn-menuicon-bread-crust-bottom {
    bottom: 23px;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}
#ac-gn-menustate ~ .ac-gn-menuicon-label {

}
#ac-gn-menustate:checked ~ #ac-globalnav .ac-gn-menuicon-bread-top, #ac-gn-menustate:target ~ #ac-globalnav .ac-gn-menuicon-bread-top {
    -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
#ac-gn-menustate:checked ~ #ac-globalnav .ac-gn-menuicon-bread-bottom, #ac-gn-menustate:target ~ #ac-globalnav .ac-gn-menuicon-bread-bottom {
    -webkit-transition: -webkit-transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 0.25s 0.2s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#ac-gn-menustate:checked ~ #ac-globalnav .ac-gn-menuicon-bread-crust-top, #ac-gn-menustate:target ~ #ac-globalnav .ac-gn-menuicon-bread-crust-top {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0;
    transition-delay: 0;
}
#ac-gn-menustate:checked ~ #ac-globalnav .ac-gn-menuicon-bread-crust-bottom, #ac-gn-menustate:target ~ #ac-globalnav .ac-gn-menuicon-bread-crust-bottom {
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.m-logo {
    display: none;
    width: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translateX(-50%,-50%);

}
/* nav */
/*@media (max-width: 768px){
    body{
        
    }
    .container {
        width: 100%;
    }
    .site-header {
        height: 48px;
    }
    .site-header .logo {
        display: none;
    }
    .site-header .m-logo {
        display: block;
        
    }
    .site-header .toggle {
        display: block;   
    }
    .site-header .site-nav {
        display: block;
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        overflow-y: auto;
        background-color: #242424;
        z-index: 200;
        -webkit-transition: -webkit-transform .4s;
        transition: transform .4s;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
    }
    .navbar .nav {
        padding-top: 20px;
        float: none;
        margin: 0 auto;
        width: 80%;
    }
    .navbar .nav > li {
        float: none;
        display: block;
        opacity: 0;
        margin: 0;
        text-align: left;
        border-bottom: 1px solid #333;
        -webkit-transform: scale(1.1) translateY(-24px);
        transform: scale(1.1) translateY(-24px);
        -webkit-transition: opacity 0.35s ease-out, -webkit-transform 0.35s ease-out;
        transition: opacity 0.35s ease-out, transform 0.35s ease-out;
    }
    #ac-gn-menustate:checked ~ #ac-globalnav .ac-gn-item-menu, #ac-gn-menustate:target ~ #ac-globalnav .ac-gn-item-menu {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: none;
        transform: none;
    }
    #ac-gn-menustate:checked ~ #ac-globalnav .ac-gn-item-menu:nth-child(1), #ac-gn-menustate:target ~ #ac-globalnav .ac-gn-item-menu:nth-child(1) {
        -webkit-transition-delay: 300ms,300ms;
        transition-delay: 300ms,300ms;
    }
    #ac-gn-menustate:checked ~ #ac-globalnav .ac-gn-item-menu:nth-child(2), #ac-gn-menustate:target ~ #ac-globalnav .ac-gn-item-menu:nth-child(2) {
        -webkit-transition-delay: 350ms,350ms;
        transition-delay: 350ms,350ms;
    }
    #ac-gn-menustate:checked ~ #ac-globalnav .ac-gn-item-menu:nth-child(3), #ac-gn-menustate:target ~ #ac-globalnav .ac-gn-item-menu:nth-child(3) {
        -webkit-transition-delay: 400ms,400ms;
        transition-delay: 400ms,400ms;
    }
    #ac-gn-menustate:checked ~ #ac-globalnav .ac-gn-item-menu:nth-child(4), #ac-gn-menustate:target ~ #ac-globalnav .ac-gn-item-menu:nth-child(4) {
        -webkit-transition-delay: 450ms,450ms;
        transition-delay: 450ms,450ms;
    }

    #ac-gn-menustate:checked ~ #ac-globalnav .ac-gn-item-menu:nth-child(5), #ac-gn-menustate:target ~ #ac-globalnav .ac-gn-item-menu:nth-child(5) {
        -webkit-transition-delay: 500ms,500ms;
        transition-delay: 500ms,500ms;
    }

    #ac-gn-menustate:checked ~ #ac-globalnav .nav.secondary li, #ac-gn-menustate:target ~ #ac-globalnav .nav.secondary li {
        -webkit-transition-delay: 500ms,500ms;
        transition-delay: 500ms,500ms;
    }

    .navbar .nav > li > a {
        color: #FFF;
        display: block;
        font-size: 15px;
        line-height: 55px;
        height: 55px;
        font-weight: 300;
        margin: 0;
        padding: 0;   
    }
    .navbar .nav.secondary {
        float: none;
        text-align: center;
    }
    .navbar .nav.secondary > li {
        display: inline-block;
        width: 45%;
        border: none;
        vertical-align: top;
    }
    .navbar .nav.secondary > li > a.btn, .navbar .nav.secondary > li > a.btn:hover{
        margin: 0;
        padding: 0;
    }


    
}*/

/* 项目列表 */
.site-main {
    background: #ecf0f1;
    padding: 30px 0 30px;
}
.s-proj {
    
}
.s-proj .proj-list {
    min-height: 290px;
    line-height: 1.8;
}
.s-proj .proj-list li {
    
}
.s-proj .proj-list li > a {
    display: block;
    padding: 25px 15px 25px 520px;
    position: relative;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    height: 290px;
    -webkit-transition: all .4s;
    transition: all .4s;
    background-color: #fff;
    margin-bottom: 30px;

}
.s-proj .proj-list li:hover{
    border-color: #3399e0;
}
.s-proj .proj-list li:hover .slogan{
    background-color: #3399e0;
    color: #fff;
    -webkit-transition: all .25s linear;
       transition: all .25s linear;
}
.s-proj .proj-list .img-wrap {
    position: absolute;
    width: 480px;
    height: 288px;
    left: 0;
    top: 0;
}
.s-proj .proj-list .img-box img {
    width: 480px;
    height: 288px;
}
.s-proj .proj-list h4 {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.s-proj .proj-list .intro {
    color: #666;
    height: 7em;
    overflow: hidden;
}
.s-proj .proj-list .intro a,.s-proj .proj-list .intro a:hover{
    color: #666;
}
.s-proj .proj-list .slogan {
    position: absolute;
    bottom: 0;
    left: 480px;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding: 0 20px;
    font-size: 1.2em;
    background-color: #eee;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.s-proj .proj-list .slogan a:hover{
    color:#FFF;
}
/*@media (max-width: 768px){
    
    .s-proj .proj-list {
        padding: 10px;
    }
    .s-proj .proj-list li {
        padding: 0;
        height: auto;
    }
    .s-proj .proj-list .img-wrap {
        position: static;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .s-proj .proj-list .img-wrap img {

    }
    .s-proj .proj-list h4 {
        display: block;
        text-align: center;

    }
    .s-proj .proj-list .slogan {
        position: static;
        height: 50px;
        
    }
    .s-proj .proj-list .intro ,.s-proj .proj-list .tips{
        padding: 0 1em;
    }
}*/


.s-star {
    position: relative;
    height: 800px;
    overflow: hidden;
    background: #000 url(../images/star-bg.jpg) no-repeat center center;
    background-size: cover;
}
.s-star h2 {
    color: #fff;
    font-size: 24px;
    padding: 20px;
    text-align: center;
}
.s-star h2.divider span:after, .s-star h2.divider span:before {
    opacity: 0.4;
}
.s-star .owl-carousel {
    width: 1050px;
    margin: 20px auto;
}
.s-star-container {
    display: block;
    width: 350px;
    /*background-color: red;*/
    height: 500px;
}
.s-star-wrap {
    position: absolute;
    width: 290px;
    left: 30px;
    top:30px;
    padding: 70px 15px 30px 15px;
    min-height: 300px;
    background-color: #fff;
    color: #4c4c4c;
}
.s-star-wrap .bgleft,.s-star-wrap .bgright {
    width: 33px;
    height: 33px;
    position: absolute;
    background-size: 100%;
    top: 0;
    background-repeat: no-repeat;
}
.s-star-wrap .bgleft {
    left: 0;
    background-image: url(../images/index/starcard_left.png);
}
.s-star-wrap .bgright {
    right: 0;
    background-image: url(../images/index/starcard_right.png);
}

.s-star .item.active .bgleft {
    background-image: url(../images/index/starcard_left_active.png);
}
.s-star .item.active .bgright {
    background-image: url(../images/index/starcard_right_active.png);
}


.s-star .item.active .s-star-wrap {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
       
}
.s-star .item.active .s-star-wrap .avatar{
    border-color: #3399e0;
       
}


.s-star .owl-nav {
    position: absolute;
    width: 100%;
    top: 180px;
    font-size: 70px;
    color: #e6e6e6;
    font-weight: 100;
    z-index: 222;
}
.s-star .owl-prev {
    position: absolute;
    left: -60px;
}
.s-star .owl-next {
    position: absolute;
    right: -60px;
}


.s-star-wrap .avatar {
    width: 120px;
    height:120px;
    border: 2px solid #4c4c4c;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.s-star-wrap p,.s-star-wrap h4 {
    margin: 0;
}
.s-star-wrap .info .fn {
    font-size: 18px;
    margin: 0;

}
.s-star-wrap .intro {
    height: 40px;
    overflow: hidden;
}
.s-star-wrap .info .position {
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis;
    margin: 5px 0;
}
.s-star-wrap .tzr-tags {
    padding: 15px 0 0;
    border-top: 1px solid #e3e6e9;
}
.s-star-wrap  .tzr-tags dt {
    float: left;
    color: #999;
    margin: 0;
}
.s-star-wrap .tzr-tags .tag-industry {
    position: relative;
    height: 36px;
}
.s-star-wrap .tzr-tags dd {
    overflow: hidden;
    margin: 0;
    margin-bottom: 15px;
}


/*@media (max-width: 768px){
    .s-star .owl-carousel {
        width: 100%;
        margin: 20px auto;
    }
    .s-star-container {
        width: 100%;
    }
    .s-star-wrap {
        margin: 0 auto;
        position: relative;
        left: 0;
        top:0;
    }
    .s-star-container {
        display: none;
    }
    .s-star-container:first-child {
        display: block;
    }
}*/


.s-parter {
    padding-bottom: 90px;
    padding-top: 80px;
}
.s-parter-list {
    overflow: hidden;
}
.s-parter-item {
    
    float: left;
    width: 25%;
    height: 70px;
    
}
.s-parter-link {
    border-radius: 7px;
    border: 1px solid transparent;
    height: 100%;
    display: block;
    margin: 0 auto;
    width: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 75%;
}
.s-parter-link:hover{
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    border: 1px solid #3399e0;
    background-size: 80%;
}
.s-parter-link img {
    width: 100%;
    height: 100%;
}

.site-footer {
    padding: 50px 0;
    min-height: 200px;
    background-color: #242424;
}
.site-footer .cols {
    padding-bottom: 50px;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
.site-footer .copyright {
    font-size: 12px;
    text-align: center;
}
.site-footer .col {
    display: inline-block;
    vertical-align: top;
    width: 180px;
    color: #999;
}
.site-footer .col.logo {
    width: 130px;
    margin-right: 80px;
    margin-top: 30px;
}
.site-footer .col.logo .if{
    font-size: 2em;
}
.site-footer .col.qrcode {
    text-align: center;
}
.site-footer .col.qrcode img {
    width: 70%;
}
.site-footer li {
    margin-bottom: 7px;
}
.site-footer li a {
    font-size: 14px;
    color: #999;
}
.site-footer h5 {
    margin: 1em 0;
    color: #fff;
    font-size: 16px;
}

/*@media (max-width: 768px) {
   .site-footer .cols {
    display: none;
   }
   .site-footer .copyright p {
    padding: 1em;
   }
   .site-footer .copyright p:first-child {
    display: none;
   }
  
}*/
  

.s-dream {
    margin:  0 auto;
    padding: 110px 0;
    text-align: center;
    background-color: #1ba2dc;
}
.s-dream h1 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 55px;
}
.s-dream a.s-dream-btn {
    font-size: 18px;
    display: inline-block;
    color: #FFF;
    border: 2px solid #fff;
    border-radius:3px; 
    padding: 15px 65px;
    font-weight: 700;
    -webkit-transition: background-color .25s, color .25s, border-bottom-color .25s;
    transition: background-color .25s, color .25s, border-bottom-color .25s;
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}
.s-dream a.s-dream-btn:hover {
    background-color: #fff;
    color: #000;
}

/* login */
.page-login {
    padding-top: 20px;
    background: #ecf0f1;
    box-sizing: border-box;
}
.page-login .container{
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}
.section-login {
    max-width: 877px;
    margin: 0 auto;
    padding: 20px 0 110px;
}
.section-login .logo {
    
    width: 200px;
    display: block;
}
.section-login .form-blocks {
    background: #fff;
}
.section-login .form-block {
    position: relative;
    float: left;
    padding: 45px;
    background: #fff;
}
.section-login .block-login-form {
    width: 56.8%;
}
.section-login .block-login-third {
    width: 43.2%;
}
.section-login  .block-inner {
    max-width: 340px;
    margin: 0 auto;
}
.section-login .separator {
    position: absolute;
    top: 90px;
    bottom: 55px;
    right: 0;
    width: 1px;
    background: #e3e6e9;
}
.section-login .block-title {
    cursor: default;
    border: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 20px;
    color: #373e4b;
    text-align: left;
}
.section-login .form-control {
    max-width: 340px;
    margin: 0 auto 20px;
    position: relative;
}
.form-login .form-control.submit {
    margin: 25px auto 15px;
    text-align: center;
}
.form-login  .btn-submit {
    cursor: pointer;
    margin: 0;
    width: 100%;
    padding: 18px 10px;
    border: 0;
    outline: 0;
    background: #374256;
    font-size: 18px;
    color: #fff;
    -webkit-appearance: none;
    display: block;
}
.form-login .form-control input[type="text"],.form-login .form-control input[type="passwrod"] {
    font-size: 14px;
    width: 100%;
    padding: 18px 13px;
    background: #f2f4f7;
    border: 1px solid #e3e6e9;
    -webkit-appearance: none;
    border-radius: 0;
    margin: 0;
    outline: none;
}

    
