html,body,.finance-plan{
	margin: 0px;
	padding: 0px;
}
.finance-plan{
	width: 100%;
	min-height: 600px;
    background: #F7F8FA;
    padding-top: 50px;
    padding-bottom: 50px;
}
.finance-plan .finance-plan-container{
	width: 960px;
	margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background: #FFF;
    border: 1px solid #ddd;
    border-radius: 7px;
}
.finance-plan form{
	width: 710px;
	max-width:100%;
}
.finance-plan h2{
	text-align: center;
    padding:.6em 0 .9em;margin: 0;margin-bottom: 20px;
    background: url(../img/rounded-shadow.png) no-repeat center 100%;
    background-size: 100%;
    padding-bottom: 30px;   
}

.finance-plan table{width: 100%;}
.finance-plan tr{
	width: 100%;
}
.finance-plan td{
	color: grey;
	padding-top:8px;	
	padding-bottom:8px;
	position:relative;
}
.finance-plan td:first-child,.finance-plan .col-3{
	width: 20%;	
	text-align: right;
    padding-right: 20px;
	font-size: 16px;
    color: grey;
}
.finance-plan .col-2,.finance-plan .col-4{
	width: 30%;
}

.finance-plan .count-dollar{
	position: absolute;
    right: 8px;
    bottom: 15px;
    color: #bbb;
}

.finance-plan .super-raise{
	margin-left: 30px;
}




/*radio 样式*/
.qui-radio {
    opacity: 0;
    position: absolute;
}
.qui-icon-radio {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid #aaabab;
    border-radius: 16px;
    vertical-align: middle;
    margin-right: 5px;
    box-sizing: border-box;
}
.qui-icon-radio:after{
	position: absolute;
    top: 2.1px;
    right: 2px;
    width: 10px;
    height: 10px;
    display: block;
	content:"\0010";
	background: -webkit-linear-gradient(#d1d1d1, #eeeeee); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#d1d1d1, #eeeeee); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#d1d1d1, #eeeeee); /* Firefox 3.6 - 15 */
	background: linear-gradient(#d1d1d1, #eeeeee); /* 标准的语法 */
	border-radius:50%;
	}
.qui-radio:checked + .qui-icon-radio {
    background: #fff;
}
.qui-radio:checked + .qui-icon-radio:after {
	background:#0ae;   
}
/*radio 样式*/

.finance-plan .buttons{
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}
.finance-plan .report{
	width: 200px;
	height: 35px;
	background-color: #e7e7e7;
	margin-right: 30px;
}
.finance-plan .submit{
	width: 200px;
	height: 35px;
	background-color: #1ba2dc;
	color: #fff;
}


/*融资计划右侧导航*/
.finance-plan .form-plan-nav{
	position: absolute;
    width: 200px;
    right: 0;
    top: 0;
    height: 100%;
    padding-top: 20px;
}
    
.finance-plan .save{
	float: right;
	width: 55px;
	height: 35px;
	color: #fff;
	line-height: 35px;
	text-align: center;
	background-color: #1ba2dc;
	border-radius: 3px; 
}
.finance-plan .plan-btn{
	margin-right: 10px;
}
.finance-plan .rep-preview{
	float: right;
	width: 65px;
	height: 35px;
	margin: 0px 10px 30px;
	line-height: 35px;
}

.finance-plan .form-plan-line {
    left: 0;
    top: 0;
    position: absolute;
    width: 1px;
    height: 100%;
    background: #1ba2dc;
}

.finance-plan .form-plan-progress {
    font-size: 16px;
}
.finance-plan .form-plan-progress {
    position: absolute;
    top: 100px;
    z-index: 3;
    left: -10px;
}
.finance-plan .form-plan-progress li {
    margin-bottom: 35px;
    position: relative;
}
.finance-plan .form-plan-progress .l {
    position: absolute;
    left: 10px;
    width: 1px;
    height: 50px;
    top: -40px;
}
.finance-plan .form-plan-progress .l1 {
    height: 110px;
    top: -100px;
}
.finance-plan .form-plan-progress .l2 {
    height: 50px;
    top: -40px;
}
.finance-plan .form-plan-progress .l3 {
    height: 50px;
    top: -40px;
}
.finance-plan .form-plan-progress .l4 {
    height: 50px;
    top: -40px;
}
.finance-plan .form-plan-progress a {
    display: block;
    position: relative;
    z-index: 2;
    
}
.finance-plan .form-plan-progress .circle{
    display: inline-block;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border:1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    
}
.finance-plan .form-plan-progress span,
.finance-plan .form-plan-progress .if{
    display: inline-block;
    vertical-align: middle;
}
.finance-plan .form-plan-progress .active {
    color: #3399e0;
}

.finance-plan .form-plan-progress .active .circle{
    border-color: #3399e0;
}
.finance-plan .form-plan-progress .active .l{
    background:#3399e0;
}
.finance-plan .form-plan-progress .active .circle:before{
    position: absolute;
    display: block;
    content: '  ';
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    background:#3399e0;
    border-radius: 100%;
    left: 3px;
    top: 3px;
    line-height: 1;
}

input.error[type=text]{
	border-color: #f56e5f;
}

.error{
	padding:5px;
	border:#F00 1px solid;
}

.finance-plan .wrap{
	padding:5px;
	position: relative;
}

