html,body,.investor-list{
	padding:0px;
	margin:0px;
	}
.investor-list{
	width:100%;
	background-color:#f3f4f8;
    overflow: hidden;
	}
.investor-list .investor-container{
	width:1000px;
	height:100%;
	margin:0 auto;
	padding: 0px 20px;
	}
h1, h2, h3, h4{
   
    color: #000;
    padding: 0px;
    margin:0px;
}
.spacer10{
    height:10px;
    }
.spacer20{
    height:20px;
    }
.spacer25{
    height:25px;
    }
.spacer30{
    height:30px;
    }
.spacer35{
    height:35px;
    }
.spacer40{
    height:40px;
    }
/*筛选投资人*/
.investor-list .investor-container .btn-filter{
	display: none;
}
.investor-list .sidebar{
	float:left;
	width:240px;
	background-color:#FFF;
	border-radius:5px;
	border: 1px solid #cdd0d1;
    margin-bottom: 60px;
	}
.investor-list .sidebar .btn-close{
	display:none;
	}
.investor-list .sidebar .block{
	padding: 12px 10px 15px 20px;
    margin-bottom: 10px;
	}
.investor-list .sidebar .block-stage{
	overflow: hidden;
    margin-bottom: 25px;
	}
.investor-list .sidebar .sub-block{
	margin: 10px 0px;
	}
.investor-list .sidebar .block-title{
	color:#000;
	margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
	}
.investor-list .sidebar ul{
	width:200px;
	list-style: outside none none;
	}
.investor-list .sidebar .condlist li{
	float:left;
	position: relative;
    margin: 0px 3px 5px 0px;
	}
.investor-list .sidebar .condlist .selected-item a {
    background:#23a6da none repeat scroll 0% 0%;
	border-radius:3px;
	color:#FFF;
	display: block;
	height: 25px;
	padding: 0px 10px 0px 10px;
	font-size: 12px;
	line-height: 26px;
	transition: opacity 0.5s ease 0s;
	text-align:center;
}
.investor-list .sidebar .condlist li a {
    position: relative;
    display: block;
    height: 25px;
    padding: 0px 12px 0px 10px;
    font-size: 12px;
    line-height: 26px;
    color: #374256;
    transition: opacity 0.5s ease 0s;
}
.investor-list .sidebar .condlist li a:hover{
	background:#23a6da none repeat scroll 0% 0%;
	border-radius:3px;
	color:#FFF;
	}
.investor-list .condlist li input[type="checkbox"],.investor-list .condlist li input[type="radio"] {
    visibility: hidden;
    position: absolute;
}
.investor-list input,.investor-list textarea, .investor-list select {
    margin: 0px;
    padding: 5px 10px;
}
/*领域标签*/
.investor-list .sidebar .block-feild{
	overflow: hidden;
    margin-bottom: 25px; 
	}
/*地区标签*/
.investor-list .sidebar .block-arear{
   overflow: hidden;
   margin-bottom: 10px; 
}
/*main-content*/
.investor-list .main-content{
	margin: 0px 0px 0px 265px;
	}
.investor-list .main-content > .sort {
    overflow: hidden;
    margin: 0px 5px 20px;
    padding: 23px 30px;
    background: #FFF none repeat scroll 0% 0%;
    border: 1px solid #cdd0d1;
	border-radius:5px;
}
.investor-list .main-content > .sort label {
	float:left;
    padding: 2px 0px;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    color: #000;
}
.investor-list .main-content > .sort ul {
    overflow: hidden;
	float:left;
	list-style: outside none none;
}
.investor-list .main-content > .sort ul li:first-child {
    border-left: 0px none;
}
.investor-list .main-content > .sort ul li {
    float: left;
    border-left: 1px solid #D6DBE0;
}
.investor-list .main-content > .sort ul li a {
    display: block;
    padding: 2px 30px;
    font-size: 14px;
    line-height: 1;
    color: #939AB1;
}
.investor-list .main-content > .sort ul li.active a{
	color:#333;
	}
.investor-list .main-content .inver-list{
	font-size:0px;
	overflow:hidden;
	}
.investor-list .main-content .inver-list .user-item{
	display:inline-block;
	vertical-align:top;
	width:50%;
	padding:0px 5px;
	margin: 0px 0px 20px;
	font-size:12px;
	}
.investor-list .main-content .inver-list .user-item a{
	color:#a0a0a0;
	display:block;
	height:235px;
	padding: 30px 30px 0px;
	border-radius:5px;
	border: 1px solid #cdd0d1;
	background-color:#FFF;
	}
.investor-list .main-content .inver-list .user-item a:hover{
	 border: 1px solid #1fa6e8;
	}
.investor-list .main-content .inver-list .user-item a .inverstor-photo{
	float:left;
	height:70px;
	width:70px;
    overflow: hidden;
    margin-right: 15px
	}
.investor-list .inverstor-photo img{
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.investor-list .main-content .inver-list .user-item	.information{
	overflow:hidden;
	}
.investor-list .main-content .inver-list .user-item	.information h4{
	display:block;
	font-size: 16px;
	color: #262626;
	margin-right: 5px
	}
.investor-list .main-content .inver-list .user-item	.information .position{
	display:block;
    height: 17px;
	margin:5px 0px;
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	color:#999;
	}
.investor-list .main-content .inver-list .user-item .intor{
    height: 35px;
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
	color: #262626;
	}
.investor-list .main-content .inver-list .user-item  .inverstor-tages{
	padding: 20px 0px;
	border-top: 1px solid #E3E6E9;
    font-size: 14px;
   }
.investor-list .main-content .inver-list .user-item  .inverstor-tages dt{
	float:left;
    color: #999999;
	}
.investor-list .main-content .inver-list .user-item  .inverstor-tages dd{
	width:170px;
	margin-bottom:10px;
	color:#262626;
	overflow:hidden;
	float:left;
	white-space: nowrap;
	word-break: break-all;
	text-overflow: ellipsis;
	margin-left:5px;
	}
/*page-nav*/
.investor-list .main-content .page-nav{
	height:120px;
	margin-top:38px;
	margin-bottom:70px;
	width:595px;
	margin:0 auto;
	text-align:center;
	vertical-align:top;
	}
.investor-list .main-content .page-nav ul{
	width:100%;
	list-style:none;
	}
.investor-list .main-content .page-nav .page li{
	display:inline-block;
	}
.investor-list .main-content .page-nav .page li a{
	display:block;
	padding:10px 15px;
	background: -webkit-linear-gradient(#fafafa, #f1f1f1); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#fafafa, #f1f1f1); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#fafafa, #f1f1f1); /* Firefox 3.6 - 15 */
	background: linear-gradient(#fafafa, #f1f1f1); /* 标准的语法 */
	border:#d1d1d1 1px solid;
	border-radius:3px;
	font-size:14px;
	color:#000;
	margin-right:5px;
	}
.investor-list .main-content .page-nav .page li a:hover{
	background:#29a9e0;
	color:#FFF;
	}
.investor-list .main-content .page-nav .page li .active{
	background:#29a9e0;
	color:#FFF;
	}
/*屏幕小于1000*/
/* @media screen and (max-width: 1000px) {
   .investor-list .investor-container .btn-filter{
       display: block;
       position: fixed;
       left:0;
       z-index: 1000;
       bottom: -1px;
       width: 100%;
       background: #374256 none repeat scroll 0% 0%;
       font-size: 15px;
       color: #FFF;
       text-align: center;
       padding: 14px 10px;
   }
   .investor-list .sidebar .btn-close{
      display:block;
      width: 30px;
      height: 30px;
      font-size:36px;
      font-weight:100;
      margin-left:90%;
      margin-top:30px;
     }
   .investor-list .sidebar{
     display:none;
     width:100%;
     position: fixed;
     z-index: 999;
     top: 0px;
     left: 0px;
     width: 100%;
     height: 100%;
     padding-bottom: 40px;
     background: #F2F4F7 none repeat scroll 0% 0%;
     overflow: auto;
     }
   .investor-list .sidebar ul{
     width:100%;
     }
   .investor-list .sidebar .block-feild{
     height:100px;
     }
   .investor-list .sidebar .block-stage{
     height:80px;
     }
   .investor-list .investor-container{
     width:100%;
     }
   .investor-list .main-content{
      margin:0 auto; 
     }
   .investor-list .main-content .inver-list .user-item  .inverstor-tages dd{
     width:60%;
     }
   .investor-list .main-content .page-nav{
       overflow:hidden;
       width:500px;
       }
   .investor-list .main-content .page-nav .page li a{
       padding:8px 10px;
       font-size:12px;
       }
  } */ /*兼容平板*/
/* @media screen and (max-width: 645px) {
  .investor-list .main-content .inver-list .user-item{
      width:100%;
      }
  .investor-list .main-content .inver-list .user-item  .inverstor-tages dd{
    width:70%;
    }
  .investor-list .main-content .page-nav{
      width:90%;
      }
  .investor-list .sidebar .block-stage{
    height:100px;
    }
  .investor-list .sidebar .block-feild{
    height:150px;
    }
  .investor-list .main-content .page-nav .page li a{
    padding:5px 10px;
    font-size:8px;
    margin-right:5px;
    }

 } 兼容手机
@media screen and (max-width: 425px) {
  .investor-list .investor-container{
    padding: 0px;
    }
  .investor-list .sidebar{
      width:100%;
     }
  .investor-list .sidebar .btn-close{
      margin-left:80%;
      }
  .investor-list .sidebar .block-stage{
    height:160px;
    }
  .investor-list .sidebar .block-feild{
    height:260px;
    }
  .investor-list .main-content > .sort label {
      display:block;
      float:none;
      padding-left:5px;
    }
  .investor-list .main-content > .sort ul {
      float:none;
    }
  .investor-list .main-content > .sort ul li a{
      padding:5px 5px;
      }
  .investor-list .main-content .inver-list .user-item  .inverstor-tages dd{
    width:48%;
    }
  .investor-list .main-content .page-nav .page li a{
    padding:3px 6px;
    font-size:5px;
    margin-right:3px;
    }
 }
 */