html,body{
    width: 100%;
    height: 100%;
}
.not-find-page{
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../img/404-notfind.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.not-find-page .not-find-text{
    position: absolute;
    width: 100%;
    top: 38%;

}

.not-find-page h2{
    margin-bottom: 20px; 
    color: #fff;
    font-size: 40px;
    font-weight: 200;
}
.not-find-page .back-mainPage{
    display: block;
    width: 200px;
    height: 50px;
    background-color: #eaf3fa;
    color: #3387cd;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
}
.not-find-page .back-mainPage:hover{
    background-color: #fff;
}
@media screen and (max-width: 760px){
    .not-find-page h2{
        font-size: 30px;
    }
}
@media screen and (max-width: 560px){
    .not-find-page .not-find-text{
        top: 40%;
    }
    .not-find-page h2{
        font-size: 20px;
    }
}
@media screen and (max-width: 360px){
    .not-find-page h2{
        font-size: 16px;
    }
}
