<!doctype html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <title>后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="../vendor/bootstrap-3.3.5/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="../vendor/font-awesome/4.2.0/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="../vendor/umeditor/themes/default/css/umeditor.min.css">
    <link rel="stylesheet" href="../assets/css/base_m.css"></link>
    <link rel="stylesheet" href="../assets/css/admin.css"></link>

    <style>
    body {
      font-family: '微软雅黑';
    }
    .container1 {
      margin: 20px;
      border: 1px solid #D0D0D0;
      box-shadow: 0 0 8px #D0D0D0;
      height: auto !important;
    }
    .container1 h1 {
        color: #444;
        background-color: transparent;
        border-bottom: 1px solid #D0D0D0;
        font-size: 19px;
        font-weight: normal;
        margin: 0 0 14px 0;
        padding: 14px 15px 10px 15px;
    }
    .container1 p {

      margin: 12px 15px 12px 15px;
    }
    code {
        font-family: Consolas, Monaco, Courier New, Courier, monospace;
        font-size: 12px;
        background-color: #f9f9f9;
        border: 1px solid #D0D0D0;
        border-radius: 0;

        color: #002166;
        display: block;
        margin: 14px 10px 14px 10px;
        padding: 12px 10px 12px 10px;
    }
    .main-view >div {
      height: 100%;
    }
    .iframe {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .iframe-wrapper {
      height: 100%;
    }


    </style>
  <script type="text/javascript">
      window.serverData = {
        commerce:{
          name:'杭州新昌',
          url:'http://www.des-club.com/xinchang/'
        },
        currentUser:{
          sociatyId:"",
          auth:"" // admin 则是超级管理员
        }
      }
  </script>
  </head>
  <body class="admin">
    <div class="header">
      <div class="s-wrap">
        <a href="#home" class="header-logo fl" ng-cloak style="margin-top:20px;" >
          <span ng-bind="serverData.commerce.name"></span>商会管理系统
        </a>
        <!-- <a href="#home" class="header-logo fl" ng-cloak style="margin-top:15px;" ng-if="currentUser.auth==''">
          <img src="../assets/images/admin/system-headline.png" alt="" style="width:300px;">
        </a>
        <a href="#home" class="header-logo fl" ng-cloak style="margin-top:15px;" ng-if="currentUser.auth=='admin'">
          <img src="../assets/images/admin/system-headline2.jpg" alt="" style="width:200px;">
        </a> -->
        <div class="fr header-user">
	          <i class="fa fa-user"></i>
	          <a href="javascript:;" class="mr-5" ui-sref="admin.edit({id:admin.id})"><u ng-bind="admin.userName"></u></a>
	          <!-- <a href="javascript:;" ng-click="logout()">退出</a> -->
	          <a href="/logout">退出</a>
            
        </div>
      </div>
    </div>

    <div class="main">

      <div class="main-sidebar">
        <!-- <div class="headline"><i class="fa fa-navicon mr-3"></i>左侧导航</div> -->
        <div class="sidebar">
          <!-- <ul>
            <li>
              <a href="javascript:void(0);" class="link-collapse">
                <i class="icon-screen-desktop"></i>
                <span class="menu-title">Layouts</span>
                <span class="fa fa-arrow-down arrow"></span>
              </a>
              <ul class="nav-second-level " style="height:0">
                <li>
                  <a href="/#/layout-left-sidebar"  index="3">Left Sidebar</a>
                </li>
                <li>
                  <a href="/#/layout-left-sidebar"  index="3">Left Sidebar</a>
                </li>
              </ul>
            </li>
          </ul> -->

          <ul ng-repeat="item in SideMenu" ng-if="currentUser.auth == item.auth">
            <li>
              <a href="javascript:void(0);" class="link-collapse" ng-if="item.list.length>0">
                <i class="{{item.node.icon}}"></i>
                <span class="menu-title" ng-bind="item.node.text"></span>
                <span class="fa fa-angle-down arrow"></span>
              </a>
              <a href="javascript:void(0);" class="link-menu" ng-if="item.list.length==0" ui-sref="{{item.node.link}}">
                <i class="{{item.node.icon}}"></i>
                <span class="menu-title" ng-bind="item.node.text"></span>
              </a>
              <ul class="nav-second-level " style="height:0" >
                <li ng-repeat="menu in item.list"  >
                  <a href="javascript:;" ui-sref="{{menu.link}}" >
                    <i class="fa fa-caret-right mr-3"></i><u ng-bind="menu.text"></u>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          
          
        </div>
      </div>

      <div class="main-content">
        <!-- position -->
        <div class="headline ">
          <div class="pull-left">
            <b class="">位置：</b><span class="" id="cur">首页</span>
          </div>
          <a href="javascript:history.go(-1);" class="btn  pull-right mr-10 mt-3">返回</a>
        </div>
         <!-- view -->
        <div class="main-view" ui-view=""></div>
          
      </div>

    </div>
  
  <!-- <script src="../vendor/require/require.js"></script> -->
  <script src="../vendor/jquery/jquery-2.1.4.min.js"></script>
  <script src="../vendor/angular/js/angular.min.js"></script>
  <script src="../vendor/angular/js/angular-route.min.js"></script>
  <script src="../vendor/angular/ui-router/angular-ui-router.min.js"></script>
  <script src="../vendor/angular/ocLazyLoad/ocLazyLoad.min.js"></script>
  <script src="../vendor/umeditor/umeditor.config.js"></script>
  <script src="../vendor/laydate/laydate.js"></script>
  <script src="../vendor/webuploader/webuploader.html5only.min.js"></script>

  <script src="../assets/js/city-picker.data.js"></script>
  <script src="../assets/js/plugins/city-picker.js"></script>
  <script src="../assets/js/template.js"></script>
  <script src="../assets/js/dm.util.js"></script>
  <script src="../assets/js/dm.api.js"></script>
  <script src="../assets/js/dm.base.js"></script>
  <script src="../assets/js/dm.wu.js"></script>
  <script src="../assets/js/admin.js"></script>
  <script src="../assets/js/admin.menu.js"></script>
  <script src="../assets/js/admin.modules.js"></script>


  
  <!-- 图片模板 -->
  <script type="text/html" id="file-item">
      <div id="{{id}}" class="file-item">
          <div class="title">{{name}}</div>
          <div class="img-wrap"></div>
          <div class="progress"><div class="progress-bar" style="width:0;"></div></div>
          <div class="float-bar">
              <a class="fr close" href="javascript:;" title="移除">&times;</a>
          </div>
          <div class="info"></div>
          <div class="success" style="display:none;"></div>
      </div>
  </script>
  <script>
    
    
  $(function(){

    $(document).on('click','.link-collapse',function(e){
      var $btn = $(e.currentTarget);
      var num = $btn.siblings('ul').find('li').length;
      var height = num*40+'px';
      if(!num){
        return;
      }
      // 假如已经展开
      if($btn.hasClass('expanded')){
        $btn.siblings('ul').stop(true, false).animate({height: 0},200,function(){
          $btn.removeClass('expanded');
        })
        
      }else {
        $btn.siblings('ul').stop(true, false).animate({height: height},200,function(){
          $btn.addClass('expanded');
        })

      }

    });

    $.get('../api/city.json').done(function(res){
      window.CITY = res;
      angular.bootstrap(document,['awApp']);
    })
    
    
  })

  </script>
  </body>
</html>
