<div class="main-view-wrapper">

    <div class="mt-5 mb-5">
        <a ui-sref="subject.create" class="btn btn-success" href="javascript:;" data-toggle="modal" data-target="#dialog" ng-click="toEditView()"><i class="fa fa-plus mr-3"></i>新增</a>
    </div>
    <!-- 数据展示 -->
    <div class="table-wrapper">
      <table class="table table-bordered table-condensed table-striped table-hover w-100">
        <thead>
          <tr>
            <th>学科名称</th>
            <th class="w-15">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in dataList">
            <td><span ng-bind="item.subjectName"></span></td>
            <td class="text-center">
              <a href="javascript:;" class="c-primary" ng-click="toEditView(item)" data-toggle="modal" data-target="#dialog">编辑</a>
              <a href="javascript:;" class="c-primary" ng-click="del(item.subjectId)">删除</a>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <!-- 数据分页 -->
    <div class="table-pager clearfix">
      <ul class="pagination pull-left">
          <li>
              <a>共{{pagerOption.pages}}页,{{pagerOption.total}}条记录</a>
          </li>
      </ul>
      <!-- 分页插件 -->
      <uib-pagination total-items="pagerOption.total" ng-model="queryModel.page" max-size="10" ng-change="query()" items-per-page="pagerOption.pagesize" boundary-links="true" class="pagination-md pull-right" rotate="false" num-pages="pagerOption.pages"></uib-pagination>
    </div>

    <!-- 添加 -->
    <div class="modal fade" id="dialog" role="dialog" >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">编辑</h4>
          </div>
          <div class="modal-body">
            <form action="" novalidate="novalidate" name="subimtForm">
                <input type="hidden" name="id" ng-model="formData.subjectId" >
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar"><span>课程名称：</span></div>
                    <div class="flex-1">
                        <input type="text" name="subjectName" ng-model="formData.subjectName" required>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar"><span>图标：</span></div>
                    <div class="flex-1 control-field">
                        <label class="radio-inline" style="width: 50px;margin-left: 10px;">
                            <input type="radio"  value="math" ng-model="formData.subjectImage" name="subjectImage"> <img style="width:60px" src="./assets/images/pc/subject/math.png" alt="数学">
                        </label>
                        <label class="radio-inline" style="width: 50px;margin-left: 10px;">
                            <input type="radio"  value="chinese" ng-model="formData.subjectImage" name="subjectImage"> <img style="width:60px" src="./assets/images/pc/subject/chinese.png" alt="语文">
                        </label>
                        <label class="radio-inline" style="width: 50px;margin-left: 10px;">
                            <input type="radio"  value="english" ng-model="formData.subjectImage" name="subjectImage"> <img style="width:60px" src="./assets/images/pc/subject/english.png" alt="英语">
                        </label>
                        <label class="radio-inline" style="width: 50px;margin-left: 10px;">
                            <input type="radio"  value="physical" ng-model="formData.subjectImage" name="subjectImage"> <img style="width:60px" src="./assets/images/pc/subject/physical.png" alt="物理">
                        </label>
                        <label class="radio-inline" style="width: 50px;margin-left: 10px;">
                            <input type="radio"  value="chem" ng-model="formData.subjectImage" name="subjectImage"> <img style="width:60px" src="./assets/images/pc/subject/chem.png" alt="化学">
                        </label>
                        <label class="radio-inline" style="width: 50px;margin-left: 10px;">
                            <input type="radio"  value="biology" ng-model="formData.subjectImage" name="subjectImage"> <img style="width:60px" src="./assets/images/pc/subject/biology.png" alt="生物">
                        </label>
                        <label class="radio-inline" style="width: 50px;margin-left: 10px;">
                            <input type="radio"  value="politics" ng-model="formData.subjectImage" name="subjectImage"> <img style="width:60px" src="./assets/images/pc/subject/politics.png" alt="政治">
                        </label>
                        <label class="radio-inline" style="width: 50px;margin-left: 10px;">
                            <input type="radio"  value="history" ng-model="formData.subjectImage" name="subjectImage"> <img style="width:60px" src="./assets/images/pc/subject/history.png" alt="历史">
                        </label>
                        <label class="radio-inline" style="width: 50px;margin-left: 10px;">
                            <input type="radio"  value="geography" ng-model="formData.subjectImage" name="subjectImage"> <img style="width:60px" src="./assets/images/pc/subject/geography.png" alt="地理">
                        </label>
                        <label class="radio-inline" style="width: 50px;margin-left: 10px;">
                            <input type="radio"  value="info" ng-model="formData.subjectImage" name="subjectImage"> <img style="width:60px" src="./assets/images/pc/subject/info.png" alt="信息">
                        </label>
                    </div>
                </div>
                <div class="control-group flex aic mb-7">
                    <div class="w-8em tar">&nbsp;</div>
                    <div class="flex-1">
                        <button class="btn btn-primary" type="button" ng-click="save()" ng-disabled="subimtForm.$invalid" data-dismiss="modal">保存</button>
                    </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>



</div>
    