<!DOCTYPE html>
<html lang="zh-CN">
#head("流量充值")

<body>
	
	#header()

	<div class="container main-container ">
		<div class="row-fluid">
			#sidebar('flow')
			
			<div class="span10">
				
				#stepBarPhone(2)
				
				<div class="sortable row-fluid">
					<div class="span12">
					
						#flowTab('flow')
						
						<div class="content-main">
						
							#if($errorMsg)
								#showMessage($errorMsg,'flowRecharge.htm')
							#else
								<form id="flowRechargeForm" class="form-horizontal" action="flowRechargePayment.htm" method="post">
								<input type="hidden" name="uid" value="$!flowRechargePaymentForm.uid" >
								<input type="hidden" name="itemId" value="$!flowRechargePaymentForm.itemId" >
								<input type="hidden" name="price" value="$!flowRechargePaymentForm.price" >
								<input type="hidden" name="itemFacePrice" value="$!flowRechargePaymentForm.itemFacePrice" >
								<input type="hidden" name="moblieCarrieName" value="$!flowRechargePaymentForm.moblieCarrieName" >
								<input type="hidden" name="mobileProvinceName" value="$!flowRechargePaymentForm.mobileProvinceName" >
								<input type="hidden" name="priceDesc" value="$!flowRechargePaymentForm.priceDesc" >
								<input type="hidden" name="flow" value="$!flowRechargePaymentForm.flow" >
								<input type="hidden" name="usableArea" value="$!flowRechargePaymentForm.usableArea" >								
								<input id="encodePwd" type="hidden" name="payPwd">
								<input id="token" type="hidden" name="token" value="$!flowRechargePaymentForm.token">
								<input id="ts" type="hidden" name="ts" value="$!flowRechargePaymentForm.ts">
								#csrfTokenInput()
								
								<fieldset>
								  <div class="control-group">
									<label class="control-label">号码：</label>
									<div class="controls">
										<span class="phone-con red">$!flowRechargePaymentForm.uid</span>
									</div>
								  </div>
								  <div class="control-group">
									<label class="control-label">号码信息：</label>
									<div class="controls">
									  <div>
										<span class="phone-con"> $!flowRechargePaymentForm.mobileProvinceName <span class="divider">-</span> $!flowRechargePaymentForm.moblieCarrieName</span>
									  </div>
									</div>
								  </div>							  
								  
								  <div class="control-group">
									<label class="control-label">充值流量：</label>
									<div class="controls">
										<span class="phone-con"> $!flowRechargePaymentForm.flow</span>
									</div>
								  </div>	
								  <div class="control-group">
									<label class="control-label">使用范围：</label>
									<div class="controls">
										<span class="phone-con"> $!flowRechargePaymentForm.usableAreaDesc</span>
									</div>
								  </div>									  		
								  
								  <div class="control-group">
									<label class="control-label">销售价：</label>
									<div class="controls">
									  <div>
										<span class="phone-con red"> $!flowRechargePaymentForm.priceDesc 元</span>
									  </div>								
									</div>
								  </div>	
								  
								  <div class="control-group">
									<label class="control-label">输入支付密码：</label>
									<div class="controls">
									  <div class="input-prepend bank-input">
										<span class="add-on"><i class="icon-lock"></i></span><input id="pwd" name="oriPwd" type="password"
											class="input-medium" placeholder="支付密码"></input>
										#getErrorMessage($errorList,"payPwd")
									  </div>								
									</div>
								  </div>
								  
								  <div class="control-group">
									 <div class="controls">
									   <button type="submit" id="rechargeButton" class="btn btn-primary" >确认充值</button>
									</div>
								  </div>							  
									
								</fieldset>
								</form>
							#end
							
						</div>						
						
					</div>
				</div>

			

			</div>

		</div>
	</div>
	#footer()
	
	#set($assetsServer = $context.assetsServer)
	<script src="$!{assetsServer}assets/js/aes.js"></script>
	<script src="$!{assetsServer}assets/js/md5.js"></script>
	<script src="$!{assetsServer}assets/js/mode-ecb-min.js"> </script>
	<script src="$!{assetsServer}assets/js/jquery.validate.min.js"></script>	
	
	<script type="text/javascript">
		function resetForm(){
			$('#rechargeButton').attr("class","btn btn-primary");
			$("#rechargeButton").attr("disabled",false);
		}

		$().ready(function() {
			resetForm();
			$("#flowRechargeForm").validate({
				focusInvalid:true, 
			    submitHandler: function(form){  
			    	prePay();
			    	changeButton();
			    	form.submit();
			    },
				rules : {
					oriPwd : "required"
				},
				messages: {
					oriPwd : "请输入支付密码"
				}
			});
		});
		
		function changeButton(){
			$("#rechargeButton").html("提交中..");
			$("#rechargeButton").attr("disabled",true);
		}
		
		function prePay(){
			var pwd = jQuery('#pwd').val();
			var token = jQuery('#token').val();
			var ts = jQuery('#ts').val();
			//console.log("0:"+token);
			pwd =  CryptoJS.MD5(pwd+"longan_login");
			//console.log("1:"+pwd);
			pwd = pwd + "_" + ts;
			//console.log("2:"+pwd);
		 	var keyHex = CryptoJS.enc.Utf8.parse(token);
		 	//console.log("3:"+keyHex);
		 	
		    var encrypted = CryptoJS.AES.encrypt(pwd, keyHex, {  
		        mode: CryptoJS.mode.ECB,
		        padding: CryptoJS.pad.Pkcs7
		    });
		    
		    //console.log("4:"+encrypted);
		    //console.log("5:"+encrypted.ciphertext.toString(CryptoJS.enc.Base64));
			jQuery('#encodePwd').val(encrypted.ciphertext.toString(CryptoJS.enc.Base64));
			jQuery('#pwd').val("");
		}
	</script>	
</body>
</html>
