<!DOCTYPE html>
<html lang="zh-CN">
#head()

#set($contextPath = $!context.contextPath)

<body>
	
	#header()

	<div class="container main-container ">
		<div class="row-fluid">
		
			#if($!type == 2)
				#sidebar('phone')
			#elseif($type == 1)
				#sidebar('flow')
			#else 
				#sidebar()
			#end
			
			
			<div class="span10">
				<div class="sortable row-fluid">
					<div class="span12">
						<div class="content-result">
									<div class="alert #if($!result.isSuccess() ) alert-success #else alert-error #end">
								#if(!$!result.isSuccess())
									<h2>充值异常！</h2> <span id="remain" class="red">30</span>秒后返回首页。
									<p class="mt5">$!result.resultMsg</p> 
								    <p>点击  <a href='#' id="return2"  >这里</a>重新上传文件进行充值</p> 
								#else
										<h2>提交成功！</h2> 请到充值记录中查询订单状态 <span id="remain" class="red">30</span>秒后返回首页。
										 <p>处理结果：</p> 
										 <ul>
										    <li>提交订单笔数：<strong>$!count</strong></li>  
										    <li>处理中笔数 ：<strong>$!result.module</strong> </li>
										 </ul>
										  <p>点击  <a href='#' id="return2"  >这里</a>继续充值</p> 
								#end
									</div>
						</div>						
					</div>
				</div>

			

			</div>

		</div>
	</div>
	#footer()
	<script type="text/javascript">
		 $(document).ready(function() {
			 countDonwJump();
		 }); 
			
		var redirectUrl = '$!{contextPath}main.htm';
		var sysSecond = 30 * 1000;
		var interValObj;
		
		function countDonwJump(){
			interValObj = window.setInterval(setRemainTime, 1000);
		}
		
		function setRemainTime(){
			sysSecond -= 1000;
			if(sysSecond<=0){
			 		window.clearInterval(interValObj);
					window.location.href= redirectUrl;
					return;
			}
		   if (sysSecond > 0) {
		  	  var second = sysSecond / 1000;
		   	  $("#remain").html(second);
		   } 
		   
		}
		
		$("#return1").bind("click",returnBack);
		$("#return2").bind("click",returnBack);
		
		function returnBack(){
			var url;
			#if($!type == 1)
				url = 'multiFlowRecharge.htm';
			#elseif($!type == 2)
				url = 'multiPhoneRecharge.htm';
			#else
				url = '$!{contextPath}main.htm';
			#end
			window.location.href=url;
		}
		
		
	</script>
	
</body>
</html>