<!DOCTYPE html>
<html lang="zh-CN">
#head("流量充值")

<body>
	
	#header()

	<div class="container main-container ">
		<div class="row-fluid">
			#sidebar('flow')
			
			<div class="span10">
				
				#breadcrumb("流量批充",'multiFlowRecharge.htm')
				
				<div class="sortable row-fluid">
					<div class="span12">
						
						#flowTab('multi')
						
						<div class="content-main">
						
							#if($errorMsg)
								#showMessage($errorMsg,'multiFlowRecharge.htm')
							#else
								<form id="flowRechargeForm" class="form-horizontal" action="multiFlowRechargePayment.htm" enctype="multipart/form-data"  method="post" >
										<input id="encodePwd" type="hidden" name="payPwd">
										<input id="token" type="hidden"  value="$!multiFlowRechargeForm.token">
										<input id="ts" type="hidden"  value="$!multiFlowRechargeForm.ts">
										#csrfTokenInput()
										<fieldset>
										
											<div id="forms">
											 <div class="control-group">
											  	  <div class="alert alert-info span9" style="margin-left: 50px">
											  	  	<h5 class="red">温馨提醒：</h5>
											  	  	<p></p>
													<p class="red"> 1 上传批充的文件，必须是以xls或者xlsx结尾的excel文件 </p>
													<p class="red"> 2.系统会从 excel文件中第二行开始读取(第一行一般为标题)</p>
													<p class="red"> 2.请在excel文件中，第一列填写充值号码,当面额选择其他面额时第二列填写充值面额 (70M填70,1G填写1024)</p>
													<p class="red"> 3.提交后请耐心等待，我们会尽快为你充值 </p>
												  </div>
											  </div>
											   
											  <div class="control-group">
												<label class="control-label" for="appendedInput">类型：</label>
												<div class="controls">
														<div class="phone-faceprice" id ="types">
															<ul>
																<li class="itemRadio current"><input type="radio"  name="usableArea" id="typeRadio1" value="0" checked="checked" ><label for="typeRadio1"> <span class="item">全国</span></label></li>
																<li class="itemRadio"> <input type="radio"   name="usableArea" id="typeRadio2" value="1" > <label for="typeRadio2"><span class="item">省内</span></label></li>
															</ul>
											            </div>
												</div>
											  </div>
											   <div class="control-group">
												<label class="control-label" for="appendedInput">上传文件:</label>
												<div class="controls">
													<!-- <input type="file" name="uploadFile" value="$!multiFlowRechargeForm.uploudFile">
													#getErrorMessage($errorList,"uploadFile") -->
													<a class="uploader">
													    
													    <span class="chose-file">选择文件</span>
													    <span class="showFileName">未选择文件</span>

													    <input type="file" name="uploadFile" value="$!multiFlowRechargeForm.uploudFile">
													    #getErrorMessage($errorList,"uploadFile")
													</a>
												</div>
											  </div>
											  
											  <div class="control-group">
												<label class="control-label" for="appendedInput">流量面额:</label>
												<div class="controls">
														<div class="form-inline" style="max-width: 800px">
															#radio('flow',$flowMap,$!multiFlowRechargeForm.flow)
														</div>	
															#getErrorMessage($errorList,"flow")
												</div>
											  </div>
											  
											    <div class="control-group">
												<label class="control-label">输入支付密码：</label>
												<div class="controls">
												  <div class="input-prepend bank-input">
												  	<span class="add-on"><i class="icon-lock"></i></span>
													<input id="pwd" name="oriPwd" type="password"
														class="input-medium" placeholder="支付密码"></input>
													#getErrorMessage($errorList,"payPwd")
												  </div>								
												</div>
											  </div>
											  
											  <div class="control-group">
												 <div class="controls center">
												   <button type="submit" id="rechargeButton" class="goto-recharge" >立即充值</button>
												</div>
											  </div>		
											</div>
											
											<div id="uploading" class="center mt45" style="display: none">
												<h3>正在提交数据，提交完成前请不要关闭浏览器</h3>
												<div class="progress progress-striped active mt30">
													<div class="bar" style="width: 100%;height: 10px"></div>
												</div>
												<p>上传时间取决您充值的号码</p>
											</div>
										</fieldset>
								</form>
								
								
							 #end
						</div>
						
					</div>
				</div>

			</div>

		</div>
	</div>
	#footer()
	
	#set($assetsServer = $context.assetsServer)
	<script src="$!{assetsServer}assets/js/aes.js"></script>
	<script src="$!{assetsServer}assets/js/md5.js"></script>
	<script src="$!{assetsServer}assets/js/mode-ecb-min.js"> </script>
	<script src="$!{assetsServer}assets/js/jquery.validate.min.js"></script>	
	
	<script type="text/javascript">
		function resetForm(){
			$('#rechargeButton').attr("class","goto-recharge");
			$("#rechargeButton").attr("disabled",false);
			
			$('#uploading').attr("style","display: none");
			$('#forms').attr("style","display: block");
		}

		$().ready(function() {
			
			$("#types li").bind("click", clickCurrentType);
			
			resetForm();
			$("#flowRechargeForm").validate({
				focusInvalid:true, 
			    submitHandler: function(form){  
			    	prePay();
			    	changeButton();
			    	form.submit();
			    },
				rules : {
					oriPwd : "required",
					uploadFile: {required:true,checkFile:true}
				},
				messages: {
					oriPwd : "请输入支付密码",
					uploadFile: {required:"请选择上传文件",checkFile:"必须是xlsx或xls文件"}
				
				}
			});
		});
		
		function changeButton(){
			$("#rechargeButton").html("提交中..");
			$('#uploading').attr("style","display: block");
			$('#forms').attr("style","display: none");
			$("#rechargeButton").attr("disabled",true);
		}
		
		function prePay(){
			var pwd = jQuery('#pwd').val();
			var token = jQuery('#token').val();
			var ts = jQuery('#ts').val();
			console.log("0:"+token);
			pwd =  CryptoJS.MD5(pwd+"longan_login");
			console.log("1:"+pwd);
			pwd = pwd + "_" + ts;
			console.log("2:"+pwd);
		 	var keyHex = CryptoJS.enc.Utf8.parse(token);
		 	console.log("3:"+keyHex);
		 	
		    var encrypted = CryptoJS.AES.encrypt(pwd, keyHex, {  
		        mode: CryptoJS.mode.ECB,
		        padding: CryptoJS.pad.Pkcs7
		    });
		    //console.log("4:"+encrypted);
		    //console.log("5:"+encrypted.ciphertext.toString(CryptoJS.enc.Base64));
			jQuery('#encodePwd').val(encrypted.ciphertext.toString(CryptoJS.enc.Base64));
			jQuery('#pwd').val("");
		}
		
		function addCurrent(obj){
			obj.addClass("current");
		}
		function removeCurrentType(obj){
			$("#types .current").removeClass("current");
		}
		
		function clickCurrentType(){
			removeCurrentType();
			addCurrent($(this));
		}
		
		jQuery.validator.addMethod("checkFile", function(value, element) {
		    var mime= value.toLowerCase().substr(value.lastIndexOf("."));
			return this.optional(element) || mime == ".xlsx" ||  mime == ".xls";
		});


        // 文件上传按钮样式
		$(".uploader ").on("change","input[type='file']",function(){
		    var filePath=$(this).val();
		    var arr=filePath.split('\\');
		    var fileName=arr[arr.length-1];
		    $(".showFileName").html(fileName);
		});
	</script>
</body>
</html>
