<!doctype html>
<html class="app">
  <head>
    <meta charset="utf-8">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="pragram" content="no-cache">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="email=no"/>
    <meta name="format-detection" content="address=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-title" content="雏鹰网"/>
    <title>投资的项目</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="keywords" content="众筹,雏鹰网,雏鹰众筹,基金,种子基金,股权众筹,天使轮,种子轮,天使投资,风险投资,众筹平台,创业融资,私募股权融资,私募股权投资平台,融资平台">
    <meta name="description" content="雏鹰网是致力于帮助有梦想、有决心、有能力、够努力的早期创业者获得股权投资的互联网平台。打造融合众筹投资人和创业者学习、互助、交流的在线众创空间。梦想再小也要呵护，力量再小也要支持。">
    <!-- apple icon -->
    <link rel="apple-touch-icon-precomposed" href="/static/assets/img/apple-touch-icon.png">
    <link type="image/png" href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="stylesheet" href="../assets/css/mobile/base_m.css">
    <link rel="stylesheet" href="../assets/css/mobile/app.css">
    
    <script src="../assets/vendor/seajs/2.0.0/sea.js"></script>
    <script src="../assets/js/config.m.js"></script>
    
    
    <style>
    .m-order .panel {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .m-order .news {
        padding: 15px 10px;
    }
    .m-order .s-tab-title {
        margin-bottom: 7px;
    }
    .m-order .tab-content>div.show {
        display: block;
    }
    .m-order .project .action {
        padding:15px 10px;
    }
    </style>
    
  </head>
  <body class=" m-order">
    <!-- 项目类别 -->
    <div class="s-tab-title panel flex tac space-around">
        <a data-index="all" href="./project-list.html?type=hot" class="db  pb-8 pt-8  flex-1 item ">所有</a>
        <a data-index="wait" href="./project-list.html?type=trend" class="db  pb-8 pt-8   flex-1 item">等待支付</a>
        <a data-index="success" href="./project-list.html?type=finish" class="db  pb-8 pt-8 flex-1 item">投资成功</a>
    </div>
    <div class="tab-content">
        <!-- 所有 -->
        <div class="tab-content-all dn">
            <h2 class="dn">所有</h2>
            <ul class="proj-list">
                <!-- <li class="project panel por" data-role="1">
                    <a href="/static/mobile/project-detail-intro.html">
                      <div class="img-box">
                        <img src="http://7xjckn.com2.z0.glb.qiniucdn.com/2016-04-08_570745f3ddc3a.jpg" alt="">
                      </div>
                      <div class="content">
                          <h4 class="title">博芮客Breaker-浙大校友店（仅限浙大校友）</h4>
                      </div>
                      
                    </a>
                    <div class="progress">
                      <div class="track">
                          <div class="train" style="width:12%"></div>
                      </div>
                    </div>   
                    <div class="progress2 tags-box clearfix">
                      <u class="fz-14 fl">已投资：<var>5万元</var></u>
                      <u class="fz-14 fr">融资进度 <var>30%</var></u>
                    </div>
                    <div class="news bt">
                        <span class="">最新动态:</span>
                        <span>开始都快疯了思考方式</span>
                    </div>
                </li> -->
            </ul>

            <div class="infinite-loading dn">
                <form action="/static/assets/data/project_list2.json" class="ajax-form" novalidate="novalidate">
                    <input type="hidden" name="type" value="0">
                    <input type="hidden" name="offset" value="1">
                </form>
            </div>


        </div>
        <!-- 等待支付 -->
        <div class="tab-content-wait dn">
            <h2 lass="dn">等待支付</h2>
            <ul class="proj-list"></ul>

            <div class="infinite-loading dn">
                <form action="/static/assets/data/project_list2.json" class="ajax-form" novalidate="novalidate">
                    <input type="hidden" name="type" value="1">
                    <input type="hidden" name="offset" value="1">
                </form>
            </div>
        </div>
        <!-- 投资成功 -->
        <div class="tab-content-success dn">
            <h2 lass="dn">投资成功</h2>
            <ul class="proj-list"></ul>

            <div class="infinite-loading dn">
                <form action="/static/assets/data/project_list2.json" class="ajax-form" novalidate="novalidate">
                    <input type="hidden" name="type" value="2">
                    <input type="hidden" name="offset" value="1">
                </form>
            </div>
        </div>


    </div>
    <script id="order-list" type="text/template">
        {{each list as p index}}
        <li class="project panel por">
            <a href="{{p.id | urlReplace:urlDetail}}">
              <div class="img-box">
                <img src="{{p.cover}}" alt="" data-default="default-proj.jpg">
              </div>
              <div class="content">
                  <h4 class="title fz-large"> 
                    <span class="fz-large">{{p.project_name}}</span>

                    <u class="fz-base c-9 proj-status">{{p.stage | projStageName}}</u>
                    {{if p.invest_stage==1}}<u class="tag-primary fz-base ">成功退出</u>{{/if}}
                    {{if p.invest_stage==2}}<u class="tag-gray fz-base ">项目失败</u>{{/if}}
                    
                  </h4>
              </div>
            </a>

            <div class="progress">
              <div class="track">
                  <div class="train" style="width:{{p.percent}}%"></div>
              </div>
            </div>   
            <div class="progress2 tags-box clearfix c-9">
              <u class="fz-14 fl">已投资：<var>{{p.invest_fund | wan}}</var>万元</u>
              <u class="fz-14 fr">融资进度 <var>{{p.percent | round}}%</var></u>
            </div>
            {{if p.is_pay ==0}}
            <div class="action bt fz-small c-9">
                <span class="mr-5">您还未支付,<var>{{p.invest_deadline}}</var>天后截至支付</span> 
                <a class="btn btn-primary mr-3 btn-pay" href="javascript:;">去支付</a>
                {{if p.is_collect ==0}}
                <button class="btn btn-primary btn-collect" data-id="{{p.id}}" data-url="/static/assets/data/form.json">移至收藏夹</button>
                {{/if}}
            </div>
            {{else}}
            <div class="news bt">
                <a href="javascript:;" class="c-9">
                    <span class="">最新动态:</span>
                    <span>{{p.project_news}}</span>
                </a>    
            </div>
            {{/if}}
            
        </li>
        {{/each}}
    </script>
    <script src="/static/assets/js/api.js"></script>
    <script src="/static/assets/vendor/jquery/jquery-2.1.4.min.js"></script>
    <script src="/static/assets/js/dm.base.js"></script>

    <script>
    seajs.use('/static/assets/js/module/mobile/m-order');
    </script>
  
  </body>
</html>
