<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	<bean id="bizOrderDAO" class="com.longan.biz.dao.impl.BizOrderDAOImpl" />
	<bean id="itemDAO" class="com.longan.biz.dao.impl.ItemDAOImpl" />
	<bean id="acctInfoDAO" class="com.longan.biz.dao.impl.AcctInfoDAOImpl" />
	<bean id="acctLogDAO" class="com.longan.biz.dao.impl.AcctLogDAOImpl" />
	<bean id="commitPayDAO" class="com.longan.biz.dao.impl.CommitPayDAOImpl" />
	<bean id="chargeOrderDAO" class="com.longan.biz.dao.impl.ChargeOrderDAOImpl" />
	<bean id="payOrderDAO" class="com.longan.biz.dao.impl.PayOrderDAOImpl" />
	<bean id="refundOrderDAO" class="com.longan.biz.dao.impl.RefundOrderDAOImpl" />
	<bean id="userInfoDAO" class="com.longan.biz.dao.impl.UserInfoDAOImpl" />
	<bean id="stockDAO" class="com.longan.biz.dao.impl.StockDAOImpl" />
	<bean id="operationInfoDAOImpl" class="com.longan.biz.dao.impl.OperationInfoDAOImpl" />
	<bean id="operationRoleRelationDAOImpl" class="com.longan.biz.dao.impl.OperationRoleRelationDAOImpl" />
	<bean id="roleInfoDAOImpl" class="com.longan.biz.dao.impl.RoleInfoDAOImpl" />
	<bean id="userRoleRelationDAOImpl" class="com.longan.biz.dao.impl.UserRoleRelationDAOImpl" />
	<bean id="stockLogDAO" class="com.longan.biz.dao.impl.StockLogDAOImpl" />
	<bean id="itemSupplyDAO" class="com.longan.biz.dao.impl.ItemSupplyDAOImpl" />
	<bean id="commitStockDAO" class="com.longan.biz.dao.impl.CommitStockDAOImpl" />
	<bean id="mobileBelongDAO" class="com.longan.biz.dao.impl.MobileBelongDAOImpl" />
	<bean id="areaInfoDAO" class="com.longan.biz.dao.impl.AreaInfoDAOImpl" />
	<bean id="traderInfoDAO" class="com.longan.biz.dao.impl.TraderInfoDAOImpl" />
	<bean id="operationLogDAO" class="com.longan.biz.dao.impl.OperationLogDAOImpl" />
	<bean id="taskDAO" class="com.longan.biz.dao.impl.TaskDAOImpl" />
	<bean id="itemPriceDAO" class="com.longan.biz.dao.impl.ItemPriceDAOImpl" />
	<bean id="commitOperationRoleRelationDao"
		class="com.longan.biz.dao.impl.CommitOperationRoleRelationDaoImpl" />
	<bean id="commitUserRoleRelationDao" class="com.longan.biz.dao.impl.CommitUserRoleRelationDaoImpl" />
	<bean id="supplyOrderDAO" class="com.longan.biz.dao.impl.SupplyOrderDAOImpl" />
	<bean id="cashOrderDAO" class="com.longan.biz.dao.impl.CashOrderDAOImpl" />
	<bean id="gameCarrierDAO" class="com.longan.biz.dao.impl.GameCarrierDAOImpl" />
	<bean id="gameDAO" class="com.longan.biz.dao.impl.GameDAOImpl" />
	<bean id="shortMsgDAO" class="com.longan.biz.dao.impl.ShortMsgDAOImpl" />
	<bean id="configDAO" class="com.longan.biz.dao.impl.ConfigDAOImpl" />

	<!-- query -->
	<bean id="queryBizOrderDAO" class="com.longan.biz.dao.impl.QueryBizOrderDAOImpl" />
	<bean id="queryAcctLogDAO" class="com.longan.biz.dao.impl.QueryAcctLogDAOImpl" />
	<bean id="queryStockDAO" class="com.longan.biz.dao.impl.QueryStockDAOImpl" />
	<bean id="queryPayOrderDAO" class="com.longan.biz.dao.impl.QueryPayOrderDAOImpl" />
	<bean id="querySupplyOrderDAO" class="com.longan.biz.dao.impl.QuerySupplyOrderDAOImpl" />
	<!-- qqcoin -->
	<!-- <bean id="qbOrderDAO" class="com.longan.biz.dao.impl.QbOrderDAOImpl" lazy-init="true" /> -->
</beans>
